#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;
		form.on('submit(sub)', function(data) {		
			var buySum=$("#buySum").val();//buySum
        	if(buySum.length>10){
        		layer.alert("打款金额请勿超过10位");
        	　　　return false;
        	}
			
           	var paymentCert=$("#paymentCert").val();//打款截图
        	if(paymentCert==""){       	
        		 layer.alert('请上传打款截图');
        	     return false;
        	}
           	
        	var buyMsg=$("#buyMsg").val();//buySum
        	if(buyMsg.length>255){
        		layer.alert("留言请勿超过255位");
        	　　　return false;
        	}
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/agent/postCharge',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});


	layui.use('upload', function(){
  	  var upload = layui.upload;
  	  //执行实例
  	  var uploadInst = upload.render({
  	    elem: '#uploadAvatar' //绑定元素
  	    ,url: '#(ctxPath)/common/upload/orderImg' //上传接口
	  	    ,field: 'file'
	  	  	,data: {func:'agent', limit: 2*1024*1024}
	  	  	,size: 2*1024
	  	  	,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
	  	  		layer.load(); //上传loading
	  	  	}
	    	    ,done: function(res){
	    	    	if(res.state=='ok') {
	    	    		$("#paymentCert").val(res.path);
	    	    		$("#avatarImg").css("display", "block");
	    	    		$("#avatarImg").attr("src", '#(resPath)'+res.path);
	    	    	} else {
	    	    		layer.msg(res.message); 
	    	    	}
	    	      	//上传完毕回调
	    	    	layer.closeAll('loading'); //关闭loading
	    	    }
	    	    ,error: function(){
	    	    	//请求异常回调
	    	    	layer.closeAll('loading'); //关闭loading
	    	    }
		});
	});
</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" name="data.agentId" value="#(agent ??)">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>银行账号</label>
			<div class="layui-input-block">
				<select name="data.bank" id="bank" lay-verify="required"
					lay-search="" >
					<option></option> #for(x:agentBanksList)
					<option value="#(x.id)">#(x.account ??)</option> #end
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>打款金额</label>
			<div class="layui-input-block">
				<input type="number" id="buySum" name="data.buySum" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
	    <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>打款截图</label>
            <div class="layui-input-block">
            	<input type="hidden" id="paymentCert" name="data.paymentCert" />
	        	<button type="button" class="layui-btn" id="uploadAvatar">
				  <i class="layui-icon">&#xe67c;</i>上传截图
				</button>
				<img id="avatarImg" src="" style="display:none; max-height:200px;margin-top:20px;">
            </div>
          </div> 
		<div class="layui-form-item">
			<label class="layui-form-label">留言</label>
			<div class="layui-input-block">
				<input type="text" id="buyMsg" name="data.buyMsg" placeholder="" class="layui-input"
					value=""  autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
