#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){
        	var parentId = $("#parentId").val();//上级代理
        	var authStatus = $("#authStatus").val(); //授权状态
        	var agentType = $("#agentType").val();//代理商类型
        	var url = "#(ctxPath)/base/agent/exportAgent?parentId="+parentId+"&authStatus="+authStatus+"&agentType="+agentType;
			form1.action = url;
			form1.submit();
			return true;
			pop_close();

        });
    });
    
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" name="form1" class="layui-form" action="">
		  <div class="layui-form-item">
            <div class="layui-input-block"><em class="require-mark">*</em>为空即导出全部</label>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label">上级代理</label>
            <div class="layui-input-block">
            	<select id="parentId" name="parentId" lay-search="">
                    <option></option>
                    #for(x:agentList)
                    	<option value="#(x.id)">#(x.name ??)</option>
                    #end
                </select>
            </div>
          </div>
          
		  <div class="layui-form-item">
            <label class="layui-form-label">授权状态</label>
            <div class="layui-input-block">
            	<select name="authStatus" id="authStatus">
                    <option></option>
                    #option("AUTH_STATUS")
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label">代理商级别</label>
            <div class="layui-input-block">
            	<select name="agentType" id="agentType">
                    <option></option>
                    #for(x:agentTypeList)
                    	<option value="#(x.id)">#(x.name ??)</option>
                    #end
                </select>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                	导出
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <button type="reset"  onclick="pop_close();" class="layui-btn layui-btn-primary">关闭</button>
        </div>
    </form>
</div>
#end