#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[          
            {field: 'id_pos_pic', title: '身份证正面照', width: 200, align: 'center', toolbar: '#findPosPic'}            
            ,{field: 'id_neg_pic', title: '身份证反面照', width: 200, align: 'center', toolbar: '#findNegPic'}            
            ,{field: 'buz_pic', title: '营业执照', width: 150, align: 'center', toolbar: '#findBuzPic'}            
         
            ]]
            , url: '#(ctxPath)/base/agent/showExtend?agentId=#(agentId)'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
             if(obj.event == 'findPosPic'){
            	 layer.photos({
                     photos:{"title": "身份证正面照","id": 123,"start": 0,"data": [{"alt": "身份证正面照","pid": 0,"src": data.id_pos_pic,"thumb": ""}]}                                        		    
                   }); 
            }else if(obj.event == 'findNegPic'){
           	 layer.photos({
                 photos:{"title": "身份证反面照","id": 123,"start": 0,"data": [{"alt": "身份证反面照","pid": 0,"src": data.id_neg_pic,"thumb": ""}]}                                        		    
               }); 
        }else if(obj.event == 'findBuzPic'){
           	 layer.photos({
                 photos:{"title": "营业执照","id": 123,"start": 0,"data": [{"alt": "营业执照","pid": 0,"src": data.buz_pic,"thumb": ""}]}                                        		    
               }); 
        }
        });
        


        reloadTable = function (authStatus,name,agentId) {
            table.reload('dateTable', {
                url: '#(ctxPath)/base/agent_auth/tableData'
                ,where: {authStatus:authStatus,name:name,agentId:agentId} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.authStatus,data.field.name,data.field.code,data.agentId);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

   
</script>
#end

#define content()
    <div class="layui-fluid">
        <hr>
        <div class="layui-row">
     
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="findPosPic">
    <a class="layui-btn layui-btn-xs" lay-event="findPosPic">身份证正面照</a>
</script>
<script type="text/html" id="findNegPic">
    <a class="layui-btn layui-btn-xs" lay-event="findNegPic">身份证反面照</a>
</script>

<script type="text/html" id="findBuzPic">
    <a class="layui-btn layui-btn-xs" lay-event="findBuzPic">营业执照</a>
</script>
#end