#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
var id = "";
var status = "";
	layui.use(['form', 'layer'], function () {
		// 操作对象
	    var form = layui.form
        , layer = layui.layer
        , $ = layui.jquery;
    	id = $("#agentBondStatus").val();
    	status = $("#agentBondStatus").attr("status");
    	if(status == "0"){
    		$("#btnoperation").append("<button type = \"button\" class=\"layui-btn\" lay-filter=\"pass\" lay-submit>审核通过</button>"
            						 +"<button type = \"button\" class=\"layui-btn layui-btn-danger\" lay-filter=\"noPass\" lay-submit>审核拒绝</button>");
    	}
    	
    	form.on('submit(pass)', function(data){        		      			
        			layer.confirm("确定要审核通过吗？", function(index){      				 
                        util.sendAjax ({
                            type: 'POST',
                            url: '#(ctxPath)/base/agent/auth',
                            data: {id:id,status:1},
                            loadFlag: true,
                            success : function(data){   
                            	pop_close();                      	
                            },
                            unSuccess: function (data) {
                            	pop_close();
                            }
                        })
                    });       		
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    	
    	form.on('submit(noPass)', function(data){        		      			
        			layer.confirm("确定要审核拒绝吗？", function(index){      				 
                        util.sendAjax ({
                            type: 'POST',
                            url: '#(ctxPath)/base/agent/auth',
                            data: {id:id,status:-1},
                            loadFlag: true,
                            success : function(data){ 
                            	pop_close();                              
                            },
                            unSuccess: function (data) {
                            	pop_close();
                            }
                        })
                    });       		
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
	});
    
    
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
			  
			  <div class="layui-form-item">
	            <label class="layui-form-label">代理商</label>
	            <div class="layui-input-block">
	                <input type="text" readonly="readonly" placeholder="无" class="layui-input" value="#(agentBond.agentName)"/>
	            </div>
	          </div>
	          
	          <div class="layui-form-item">
	            <label class="layui-form-label">收款账号类型</label>
	            <div class="layui-input-block">
	            	<select disabled="disabled" placeholder="无">
	                    <option>无</option>
	                    #option("SEND_ACCOUNT_TYPE",agentBond.sendAccountType)
	                </select>
	            </div>
	          </div>
	          
	          <div class="layui-form-item">
	            <label class="layui-form-label">收款账号</label>
	            <div class="layui-input-block">
	            	<input type="text" readonly="readonly" readonly="readonly" placeholder="无" class="layui-input" value="#(agentBond.sendAccountNo)"/>
	            </div>
	          </div>
	          
	          <div class="layui-form-item">
	            <label class="layui-form-label">打款金额</label>
	            <div class="layui-input-block">
	            	<input type="text" readonly="readonly" readonly="readonly" placeholder="无" class="layui-input" value="#(agentBond.receiveAccountPrice)"/>
	            </div>
	          </div>
	          
	          <div class="layui-form-item">
	            <label class="layui-form-label">打款账户名</label>
	            <div class="layui-input-block">
	            	<input type="text" readonly="readonly" readonly="readonly" placeholder="无" class="layui-input" value="#(agentBond.receiveAccountName)"/>
	            </div>
	          </div>
	          
	          <div class="layui-form-item">
	            <label class="layui-form-label">打款账户</label>
	            <div class="layui-input-block">
	            	<input type="text" readonly="readonly" readonly="readonly" placeholder="无" class="layui-input" value="#(agentBond.receiveAccount)"/>
	            </div>
	          </div>
	          
	          <div class="layui-form-item">
	            <label class="layui-form-label">打款凭证</label>
	            <a href="#(agentBond.payImg)" target="_blank"><img src="#(agentBond.payImg)" style="display:block; max-height:200px;margin-top:20px;"></a>
	          </div>

        <div class="layui-form-item" id="btnoperation">
        	<label class="layui-form-label"></label>
            <input id="agentBondStatus" type="hidden" value="#(agentBond.agent)" status="#(agentBond.status)">
        </div>
    </form>
</div>
#end