#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'username', title: '代理商姓名', width: 150}
                , {field: 'agent_name', title: '收货人', width: 150}
                , {field: 'agent_phone', title: '收货人电话', width: 180}
                , {field: 'agent_address', title: '收货地址', width: 280}
                , {field: 'remarks', title: '备注信息', width: 100}                                                       
            ]]
            , url: '#(ctxPath)/base/agent/agentAddressTableData?agentId=#(agentId)'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

       

      /*   reloadTable = function (agent) {
            table.reload('dateTable', {
                url: '#(ctxPath)/base/agent/agentAddressTableData'
                ,where: {agent: agent} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.agent);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        }); */
    });


</script>
#end

#define content()
    <div class="layui-fluid">      
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">              
                <button id="edit" onclick="reloadTable()" class="layui-btn layui-btn-small">刷新</button>
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>


#end