#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[
            {checkbox: false, sort: true, fixed: true, space: true}//标题栏
            , {field: 'agentName', title: '代理商名称', width: 150}
            , {field: 'apply_type', title: '申请方式', width: 150, templet: '#dataTpl("APPLY_TYPE", "apply_type")'}
            , {field: 'store_type', title: '店铺类型', width: 150, templet: '#dataTpl("AGENT_CHANNEL", "store_type")'}
            , {field: 'store_name', title: '店铺名称', width: 150}
            , {field: 'store_url', title: '店铺地址', width: 150}
            , {field: 'agentCode', title: '代理商代码', width: 100}               
            , {field: 'auth_pic', title: '授权书', width: 100, align: 'center', toolbar: '#findAuthPic'}            
            , {field: 'auth_status', title: '授权状态', width: 100,align: 'center', templet: '#dataTpl("AUTH_STATUS", "auth_status")'}
            , {field: 'validity_date', title: '有效期', width: 120,align: 'center',templet:'<div>{{ Format(d.validity_date,"yyyy-MM-dd")}}</div>'}
            , {field: 'bondStatus', title: '保证金状态', width: 100,align: 'center', templet: '#dataTpl("ORDER_STATE", "bondStatus")'}
            , {field: 'remarks', title: '备注信息', width: 100}
                //, {fixed: 'right', title: '操作', width: 450, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/base/agent_auth/tableData?agentId=#(agentId)'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'auth'){
                pop_show('授权','#(ctxPath)/base/agent_auth/show?id=' + data.id,'','', function(){
                    reloadTable();
                });
            }else if(obj.event === 'findAuthPic'){
                pop_show('授权证书','#(ctxPath)/base/agent_auth/findAuthPic?id=' + data.id,'','', function(){
                	reloadTable(null,null,'#(agentId)');
                });
            }else if(obj.event === 'updateValidityDate'){
                layer.confirm('确定重置有效期么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/base/agent_auth/updateValidityDate',
                        data: {id : data.id},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable();
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            }else if(obj.event === 'isAuth'){
                layer.confirm('确定授予审核权限么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/base/agent_auth/isAuth',
                        data: {id : data.id,isAuth:1},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable();
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            }else if(obj.event === 'noAuth'){
                layer.confirm('确定取消审核权限么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/base/agent_auth/isAuth',
                        data: {id : data.id,isAuth:0},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable();
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            }else if(obj.event == 'findBond'){
            	pop_show('审核保证金','#(ctxPath)/base/agent_auth/findBond?id=' + data.id,'','', function(){
                    reloadTable();
                });
            }
        });
        
        $("#addAuth").click(function(){
            pop_show('添加授权','#(ctxPath)/base/agent_auth/addAuth?agentId=#(agentId)','','', function(){
            	reloadTable(null,null,'#(agentId)');
            });
        });

        reloadTable = function (authStatus,name,agentId) {
            table.reload('dateTable', {
                url: '#(ctxPath)/base/agent_auth/tableData'
                ,where: {authStatus:authStatus,name:name,agentId:agentId} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.authStatus,data.field.name,data.field.code,data.agentId);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

    function Format(datetime,fmt) {
    if(datetime!=null){		   	
  	  if (parseInt(datetime)==datetime) {
  	    if (datetime.length==10) {
  	      datetime=parseInt(datetime)*1000;
  	    } else if(datetime.length==13) {
  	      datetime=parseInt(datetime);
  	    }
  	  }
  	  datetime=new Date(datetime);
  	  var o = {
  	  "M+" : datetime.getMonth()+1,                 //月份   
  	  "d+" : datetime.getDate(),                    //日   
  	  "h+" : datetime.getHours(),                   //小时   
  	  "m+" : datetime.getMinutes(),                 //分   
  	  "s+" : datetime.getSeconds(),                 //秒   
  	  "q+" : Math.floor((datetime.getMonth()+3)/3), //季度   
  	  "S"  : datetime.getMilliseconds()             //毫秒   
  	  };   
  	  if(/(y+)/.test(fmt))   
  	  fmt=fmt.replace(RegExp.$1, (datetime.getFullYear()+"").substr(4 - RegExp.$1.length));   
  	  for(var k in o)   
  	  if(new RegExp("("+ k +")").test(fmt))   
  	  fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
  	  return fmt;
     	}else{
    		return "无期限";	
    	} 
  	}
    
    function judge(bondStatus){
    	if(bondStatus==null){
    		return "无需缴纳";
    	}else{
    		return bondStatus;
    	}
    }
</script>
#end

#define content()
    <div class="layui-fluid">
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">
                <button id="addAuth" class="layui-btn layui-btn-small">添加授权</button>
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/base/agent_auth/auth')
    #[[
    {{#  if(d.bondStatus!=0&&d.bondStatus!=-1){   }}
    <a class="layui-btn layui-btn-xs" lay-event="auth">授权</a>  
    {{#  }   }}
    ]]#  
    #end
    #[[
    {{#  if(d.auth_status==2&&d.bondStatus!=0&&d.bondStatus!=-1){   }}
    <a class="layui-btn layui-btn-xs" lay-event="updateValidityDate">重置有效期</a>  
    {{#  }   }}
    ]]#
    #[[
    {{#  if(d.bondStatus==0){   }}
     <a class="layui-btn layui-btn-xs" lay-event="findBond">审核保证金</a>
    {{#  }   }}
    ]]#   
</script>

<script type="text/html" id="findAuthPic">
    <a class="layui-btn layui-btn-xs" lay-event="findAuthPic">授权证书</a>
</script>
#end