#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){
        	var username=$("#username").val();//name
        	if(username.length>64){
        		layer.alert("用户名请勿超过64位");
        	　　　return false;
        	}
        	
        	var name=$("#name").val();//name
        	if(name.length>64){
        		layer.alert("名称请勿超过64位");
        	　　　return false;
        	}
        	
        	var weixin=$("#weixin").val();//微信号
        	if(weixin.length>64){
        		layer.alert("微信号请勿超过64位");
        	　　　return false;
        	}

           	var phone=$("#mobile").val();//电话号码
        	if(phone!=""){
        	if (!/^1[34578]\d{9}$/.test(phone)) {
        		 layer.alert('电话号码输入不正确');
        	     return false;
        	}
        	}
           	
        	var address=$("#address").val();//name
        	if(address.length>64){
        		layer.alert("地址请勿超过64位");
        	　　　return false;
        	}

           	var avatar=$("#avatar").val();//头像
        	if(avatar==""){       	
        		 layer.alert('请上传头像');
        	     return false;
        	}

           	var idNo=$("#idNo").val();//身份证
        	if(idNo.length!=18){       	
        		 layer.alert('身份证格式不对');
        	     return false;
        	}

           	var remarks=$("#remarks").val();//备注信息
        	if(remarks.length>255){       	
        		 layer.alert('备注信息请勿超过255位');
        	     return false;
        	}
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/agent/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        
        form.on('select(agentProp)', function(data) {
			var agentProp = $("#agentProp option:selected").val();
            if(agentProp=='2'){
            	$("#biz").css("display","");
				$("#biz input").attr("lay-verify","required");	
            }else{
            	$("#biz").css("display","none");
				$("#biz input").attr("lay-verify","");	
            }
		});
    });
    
    layui.use('upload', function(){
  	  var upload = layui.upload;
  	  //执行实例
  	  var uploadInst = upload.render({
  	    elem: '#uploadAvatar' //绑定元素
  	    ,url: '#(ctxPath)/common/upload/agentAvatar' //上传接口
	  	    ,field: 'file'
	  	  	,data: {func:'agent', limit: 2*1024*1024}
	  	  	,size: 2*1024
	  	  	,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
	  	  		layer.load(); //上传loading
	  	  	}
	    	    ,done: function(res){
	    	    	if(res.state=='ok') {
	    	    		$("#avatar").val(res.path);
	    	    		$("#avatarImg").css("display", "block");
	    	    		$("#avatarImg").attr("src", '#(resPath)'+res.path);
	    	    	} else {
	    	    		layer.msg(res.message); 
	    	    	}
	    	      	//上传完毕回调
	    	    	layer.closeAll('loading'); //关闭loading
	    	    }
	    	    ,error: function(){
	    	    	//请求异常回调
	    	    	layer.closeAll('loading'); //关闭loading
	    	    }
		});
	});	
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" name="data.id" value="#(data.id ??)">
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>用户名</label>
            <div class="layui-input-block">
                <input type="text" id="username" name="data.username" placeholder="用户名" class="layui-input" value="#(data.username ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
    
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="data.name" placeholder="名称" class="layui-input" value="#(data.name ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>微信号</label>
            <div class="layui-input-block">
                <input type="text" id="weixin" name="data.weixin" placeholder="微信号" class="layui-input" value="#(data.weixin ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>手机号</label>
            <div class="layui-input-block">
                <input type="text" id="mobile" name="data.mobile" placeholder="手机号" class="layui-input" value="#(data.mobile ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
          
          <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>地址</label>
            <div class="layui-input-block">
                <input type="text" id="address" name="data.address" placeholder="地址" class="layui-input" value="#(data.address ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
          
		 <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>头像</label>
            <div class="layui-input-block">
            	<input type="hidden" id="avatar" name="data.avatar" value="#(data.avatar ??)" />
	        	<button type="button" class="layui-btn" id="uploadAvatar">
				  <i class="layui-icon">&#xe67c;</i>重新上传头像
				</button>
				<a href="#(data.avatar ??)" target="_blank"><img id="avatarImg" src="#(data.avatar ??)" style="display:block; max-height:200px;margin-top:20px;"></a>
            </div>
          </div>
		  
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>身份证号</label>
            <div class="layui-input-block">
                <input type="text" id="idNo" name="data.idNo" placeholder="身份证号" class="layui-input" value="#(data.idNo ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
          
          #if(data.agentProp=='2'  ??)
          <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>营业执照编号</label>
            <div class="layui-input-block">
                <input type="text" id="bizNo" name="data.bizNo" placeholder="营业执照编号" class="layui-input" value="#(data.bizNo ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
          #end
          <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>是否冻结</label>
            <div class="layui-input-block">
            	<select name="data.frozen" lay-verify="required">
                    <option></option>
                    #option("YES_NO",data.frozen ??)
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <input type="text" id="remarks" name="data.remarks" placeholder="备注信息" class="layui-input" value="#(data.remarks ??)"  autocomplete="off"/>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end