@charset "utf-8";

/* --- 公用样式 --- */
html,body{}
.icon{font-family:iconfont;}
html{font-size:62.5%; font-size:10px;}
span{display:block;}
.left{float:left;}
.right{float:right;}
i,em{line-height:100%;}
@media only screen and (min-width:321px) {html {font-size:62.5%!important}}
@media only screen and (min-width:361px) {html {font-size:70.31%!important}}
@media only screen and (min-width:376px) {html {font-size:73.24%!important}}
@media only screen and (min-width:481px) {html {font-size:94%!important}}
@media only screen and (min-width:561px) {html {font-size:109%!important}}
@media only screen and (min-width:641px) {html {font-size:125%!important}}


/* --- 字体样式 --- */
@font-face{
    font-family:eng;
    src:url(../images/CenturyGothic.TTF);
    src:url(../images/CenturyGothic.eot)\9; 
}

@font-face {
  font-family: 'iconfont';  /* project id 671991 */
  src: url('http://at.alicdn.com/t/font_671991_02cass2sgp919k9.eot');
  src: url('http://at.alicdn.com/t/font_671991_02cass2sgp919k9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_671991_02cass2sgp919k9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_671991_02cass2sgp919k9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_671991_02cass2sgp919k9.svg#iconfont') format('svg');
}

/* --- 头部 --- */
.header{background:#1B1B1F; overflow:hidden; padding-top:1.5rem; padding-bottom:1rem;}
.header .icon{color:#fff; font-family:iconfont; font-size:1.8rem; line-height:100%; line-height:2rem;}

/* 返回 */
.header .goback{float:left; width:10%; text-align:center;}

/* 标题 */
.header h1{float:left; width:80%; text-align:center; font-size:1.8rem; color:#fff; height:2rem; line-height:2rem;}

/* 分享 */
.header .share{float:right; width:10%; text-align:center;}



/* --- 高度 --- */
.height{height:6rem;}





/* --- 表单 --- */

/* 搜索框 */
input.search{height:3.5rem; line-height:3.5rem; border:none; background:none; font-size:1.2rem; padding-left:3.5rem; background:#efefef; border-radius:.5rem;}

/* 按钮 */
.button{ padding:1.5rem;}
.button button.red{width:100%; background:#FF4B4B; height:3.5rem; line-height:3.5rem; color:#fff; border-radius:.5rem; border:none; font-size:1.4rem;}


/* --- 内页表单 --- */

/* 不带 icon */
.page-form{background:#fff; padding-left:1.5rem; margin-bottom:1rem;}
.page-form li{border-bottom:1px solid #efefef; overflow:hidden; font-size:1.4rem; padding-top:.8rem; padding-bottom:.8rem; position:relative;}
.page-form li .title{float:left; width:30%;}
.page-form li .text{float:left; width:70%; padding-right:1.5rem;}
.page-form li .text input{border:none;}
.page-form li .text textarea{border:none; width:100%;}
.page-form li i{font-family:iconfont; position:absolute; right:1.5rem; top:1.2rem; font-size:1.8rem;}


/* 带 icon */
.page-form-icon{background:#fff; padding-left:1.5rem; margin-bottom:1rem;}
.page-form-icon li{border-bottom:1px solid #efefef; overflow:hidden; line-height:3.5rem; height:3.5rem; font-size:1.4rem;}
.page-form-icon li i{float:left; display:block; line-height:3.5rem; width:8%}
.page-form-icon li .text{padding-right:1.5rem; float:left; width:92%;}
.page-form-icon li .text input{border:none; line-height:3.5rem;}


/* 上标题 下表单*/
.page-form-title{}
.page-form-title li h3{padding:1rem 1.5rem; font-size:1.4rem;}
.page-form-title li h3 em{color:#999;}
.page-form-title li .text{background:#fff;}
.page-form-title li .text input{width:100%; border:none; padding:1rem 1.5rem; font-size:1.4rem;}
.page-form-title li .text textarea{width:100%; border:none; padding:1rem 1.5rem; font-size:1.4rem; height:10rem;}





/* --- 内页列表 --- */

/* 不带箭头 */
.page-list{background:#fff; padding-left:1.5rem; margin-bottom:1rem;}
.page-list li{border-bottom:1px solid #efefef; overflow:hidden; font-size:1.4rem; padding-top:.8rem; padding-bottom:.8rem;}
.page-list li .title{float:left; width:35%;  line-height:180%;}
.page-list li .text{float:left; width:65%; text-align:right; padding-right:1.5rem; line-height:180%;}
.page-list li .text p.red{color:#FF4B4B; }


/* 带箭头 */
.page-list-arrow li{position:relative;}
.page-list-arrow li:after{ content:"\e6e9"; font-family:iconfont; position:absolute; right:1rem; top:1rem;}
.page-list-arrow li .text{padding-right:3rem;}
.page-list-arrow li .text em{color:#999;}
.page-list-arrow li a{display:block; overflow:hidden;}


/* 带图标 + 箭头 */
.page-list-icon li{position:relative; overflow:hidden; font-size:1.4rem; border-bottom:1px solid #efefef; line-height:4.5rem;}
.page-list-icon li:after{ content:"\e6e9"; font-family:iconfont; position:absolute; right:1rem; top:0;}
.page-list-icon li a{display:block; overflow:hidden;}
.page-list-icon li i{float:left; font-family:iconfont;  line-height:4.5rem; width:12%; text-align:center; font-size:1.8rem; color:#999;}
.page-list-icon li .text{float:left;}





/* --- 弹出窗口 --- */
.pop-back{background:#000; background-color:rgba(0,0,0,0.3); position:fixed; left:0; top:0; width:100%; height:100%; z-index:100; display:none; } 
.pop-back2{background:#000; background-color:rgba(0,0,0,0.3); position:fixed; left:0; top:0; width:100%; height:100%; z-index:200; display:none; } 

/* 对话框 */
.pop-dialogue{width:80%; margin:0 auto; background:#fff; border-radius:.5rem; position:fixed; left:10%; top:20%; z-index:150; display:none; }
.pop-dialogue .form{border-bottom:1px solid #efefef; padding:2rem 1.5rem;}
.pop-dialogue .form input{width:100%; height:3.5rem; line-height:3.5rem; padding-left:1rem; color:#999; border:1px solid #efefef; font-size:1.4rem;}
.pop-dialogue .text{text-align:center; font-size:1.6rem; color:#666; height:13rem; line-height:13rem; border-bottom:1px solid #efefef;}
.pop-dialogue .btn button{background:none; width:50%; border:none; float:left; line-height:5rem; height:5rem; font-size:1.4rem;}
.pop-dialogue .btn button.cancel{color:#c5c5c5; border-right:1px solid #efefef;}
.pop-dialogue .btn button.confirm{color:#FF4B4B;}
	
/* 通知 */
.pop-notice{width:80%; margin:0 auto; background:#fff; border-radius:.5rem; position:fixed; left:10%; top:20%; z-index:150; text-align:center; padding-bottom:2rem;  display:none; }
.pop-notice i{font-family:iconfont; color:#FF4B4B; font-size:3.6rem; display:block; margin-top:2rem; margin-bottom:2rem;}
.pop-notice .text{font-size:1.6rem; color:#666;}

/* 分享 */
.pop-share{background:#fff; position:fixed; bottom:0; left:0; width:100%; z-index:150; display:none;}
.pop-share ul{overflow:hidden;}
.pop-share li{float:left; width:50%; text-align:center; padding-top:2rem; padding-bottom:2rem;}
.pop-share li i{font-size:3.6rem; margin-bottom:1rem; display:block;}
.pop-share li em{display:block; font-size:1.2rem;}
.pop-share .close{border-top:1px solid #efefef; text-align:center; height:4rem; font-size:1.4rem; line-height:4rem;}







/* --- 切换 --- */
.tabs{border-bottom:1px solid #efefef; overflow:hidden; height:5rem; line-height:5rem; background:#fff;}
.tabs li{float:left; font-size:1.4rem; text-align:center;}
.tabs li a{position:relative; display:block;}
.tabs li a.now{ color:#FF4B4B;}
.tabs li a.now:before{content:""; width:100%; position:absolute; height:.15rem; background:#FF4B4B; bottom:.1rem; left:0; color:#FF4B4B;}

.tabs.five li{width:20%;}
.tabs.two li{width:50%;} 







/* --- 顶部 --- */
.top{background:#1B1B1F;}
.top h1{text-align:center; padding:1.5rem;}
.top h1 img{width:9.7rem;}







/* --- banner --- */
.banner {overflow:hidden;}
.banner img{width:100%;}


/* --- 产品 --- */
.home-pro{overflow:hidden;}
.home-pro ul{padding:.75rem;}
.home-pro li{float:left; padding:.75rem; width:50%;}
.home-pro li .box{ position:relative; border-radius:.5rem; overflow:hidden;}
.home-pro li .box img{width:100%;}
.home-pro li .text{position:absolute; left:0; width:100%; top:0; height:100%; background:#000; background:rgba(0,0,0,0.5); text-align:center; color:#fff;}
.home-pro li .text h3{font-size:1.6rem;  color:#fff; margin-top:10%; margin-bottom:.3rem;}
.home-pro li .text p{font-family:eng; font-size:1.2rem;}


/* --- 搜索 --- */
/*.home-search{ padding:1.5rem; margin-bottom:2rem;}  */
.home-search{margin-bottom:2rem;}
.home-search .box{background:#efefef; border-radius:.5rem; overflow:hidden; position:relative;}
.home-search .box:before{content:"\e681"; font-family:iconfont; position:absolute; left:1rem; top:0; line-height:3.5rem; font-size:1.6rem; color:#ccc;}
.home-search .box input{width:80%; float:left;}
.home-search .box button{width:20%; float:left; background:#D9D9D9; height:3.5rem; line-height:3rem; border:none; font-size:1.2rem; cursor:pointer;}

/* 搜索历史 */
.search-old{margin:1.5rem; margin-top:-2rem;}
.search-old .title {position:relative; margin-bottom:1.5rem;}
.search-old .title em{position:absolute; right:0; top:.2rem; font-family:iconfont; font-size:1.8rem;}
.search-old .text a{display:inline-block; background:#f5f5f5; padding:.3rem 1rem; border-radius:.5rem; font-size:1.2rem; margin-right:.5rem;}


/* --- 栏目 --- */
.column {text-align:center; margin-bottom:2rem;}
.column h2{font-size:1.8rem; text-align:center; margin-bottom:.5rem;}
.column p{font-size:1.4rem; color:#999999; margin-bottom:.8rem;}
.column i{width:4rem; background:#FF4B4B; margin:0 auto; display:block; height:.5rem;}


/* --- 春夏彩妆系列 --- */
.home-series { margin-bottom:3rem;}
.home-series .swiper-wrapper{width:85%; margin-left:0%;}
.home-series .swiper-wrapper img{width:100%;}


/* --- 夏日尽情玩 --- */
.home-summer{padding:.75rem; margin-bottom:5.5rem; overflow:hidden;}
.home-summer .pic{padding:.75rem;}
.home-summer .pic img{width:100%;}
.home-summer li{float:left; width:50%; padding:.5rem;}
.home-summer li img{width:100%;}


/* --- 导航 --- */
.nav {border-top:1px solid #eee; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; background:#fff; z-index:100;}
.nav li{float:left; width:25%; text-align:center; padding-top:.8rem; padding-bottom:.3rem;}
.nav li i{font-family:iconfont; font-size:1.8rem; display:block; margin-bottom:.5rem; color:#999;}
.nav li a.now i{color:#FF4B4B;}
.nav li em{font-size:1.2rem;}



/* --- 查询 --- */
.query{padding:.75rem; padding-top:1.5rem;  overflow:hidden;}
.query li{float:left; width:50%; padding:.75rem; text-align:center;}
.query li i{font-family:iconfont; display:block; text-align:center; width:6rem; height:6rem; background:#2A2A3A; border-radius:.5rem; margin:0 auto; margin-bottom:1rem; color:#fff; font-size:3.6rem; line-height:6rem;}
.query li em{font-size:1.4rem;}

/* 输入框 */
.query-search{overflow:hidden; position:relative; margin:0 .75rem;}
.query-search:before{content:"\e681"; font-family:iconfont; position:absolute; left:1rem; top:0; line-height:3.5rem; font-size:1.6rem; color:#ccc; }
.query-search input{width:100%;}
.query .button{padding:1.5rem .75rem;}


/* 订单查询结果 */
.query-order-result{background:#fff; position:relative; padding:1.5rem; margin:1.5rem;}
.query-order-result h3{font-size:1.4rem; margin-bottom:.5rem; color:#FF4B4B;}
.query-order-result .text p{line-height:180%; color:#666; font-size:1.2rem;}
.query-order-result:after{content:""; background:url(../images/query-order-result.png) repeat-x; position:absolute; bottom:-1rem; left:0; height:1rem; width:100%;}


/* 查询结果 */
.query-no{text-align:center; margin-top:12rem;}
.query-no .pic img{width:6rem;}
.query-no .text{margin-top:2rem; font-size:1.4rem; }
.query-no .remind{margin:2rem 1.5rem; text-align:left;  font-size:1.4rem; }



/* --- 产品 --- */

/* 分类 */
.product-type{background:#fff; padding:.75rem; overflow:hidden;}
.product-type li{float:left; width:25%; padding:.75rem; text-align:center;}
.product-type li a{display:block; position:relative; border-radius:.5rem; overflow:hidden;}
.product-type li a .pic img{width:100%;}
.product-type li a .text{position:absolute; background:#000; background:rgba(0,0,0,0.5); bottom:0; left:0; width:100%; height:2.8rem; line-height:2.8rem; color:#fff; font-size:1.4rem;}

/* 列表 */
.product-list{padding:.75rem;  overflow:hidden;}
.product-list li{float:left; width:50%; padding:.75rem; }
.product-list li a{background:#fff; display:block; border-radius:.5rem; box-shadow: 0 3px 8px #eee;}
.product-list li a .pic{height:17rem; text-align:center;display:table; width:100%;}
.product-list li a .pic em{ display:table-cell; vertical-align:middle;height:17rem; }
.product-list li a .pic em img{width:4.5rem;}
.product-list li a .text{border-top:1px solid #efefef; margin:0 1rem; text-align:center; line-height:3.5rem; font-size:1.4rem;}

/* 介绍 */
.product-box h2{font-size:1.6rem; margin:1.5rem 1.5rem; border-left:.3rem solid #FF4B4B; padding-left:1rem;}
.product-box .text{padding:1.5rem; border-bottom:1rem solid #efefef;}
.product-box .text b{font-size:1.6rem;}
.product-box .text p{line-height:200%; font-size:1.4rem; color:#999;}
.product-box .text p em{font-size:1.8rem; font-family:eng; font-weight:bold; color:#FF4B4B;} 
.product-box .content{padding:0 1.5rem; line-height:200%; padding-bottom:7rem; color:#666; font-size:1.4rem;}
.product-box .content p em{margin-right:.5rem;}



/* --- 提示 --- */
.show-msg{width:100%; height:3.5rem; text-align:center;position:fixed;left: 0;z-index: 999;}
.show-span{display: inline-block; height: 3.5rem; padding: 0 1.5rem; line-height: 3.5rem;background:rgba(0,0,0,0.8);border-radius: .5rem; color: #fff; font-size:1.4rem; }




/* --- 申请成为代理商 --- */
.superior .page-list li .text{ color:#FF4B4B;}




/* --- 代理商 个人信息 --- */
.agent-user{border-bottom:1rem solid #efefef; padding-bottom:2rem; text-align:center;}
.agent-user .pic{ margin:0 auto;  margin-top:2rem; margin-bottom:1.5rem; position:relative; width:6rem;}
.agent-user .pic img{width:6rem; border-radius:100%;}
.agent-user em{font-size:1.4rem;}
.agent-user .pic i{position:absolute; left:-1rem; top:-.5rem; font-family:iconfont; font-size:2.4rem; color:#FED14B;}



/* --- 微信代理查询 -- */

/* 列表 */
.agent-weixin li{border-bottom:1px solid #efefef; padding:1.5rem; position:relative;}
.agent-weixin li a{overflow:hidden; display:block;}
.agent-weixin li h3{font-size:1.6rem; color:#FF4B4B; margin-bottom:.5rem;}
.agent-weixin li p{line-height:180%; font-size:1.2rem;}
.agent-weixin li:after{content:"\e6e9"; font-family:iconfont; position:absolute; right:1rem; top:40%; font-size:1.6rem;} 

/* 详情 */
.agent-weixin .pic{padding:2.5rem;}




/* --- 代理申请管理 -- */

/* 搜索 */
.agent-app-search{border-bottom:1rem solid #f5f5f5;}
.agent-app-search .home-search{margin-bottom:0;}


/* 列表 */
.agent-app-list{}
.agent-app-list li{padding:1.5rem; border-bottom:1px solid #efefef; overflow:hidden;}
.agent-app-list li .text{float:left; width:60%;}
.agent-app-list li .text h3{font-size:1.6rem; color:#FF4B4B; margin-bottom:.5rem;}
.agent-app-list li .text p{line-height:180%; font-size:1.2rem; color:#666;}

.agent-app-list li .btn{float:right; margin-top:.5rem;}
.agent-app-list li .btn a{height:2.8rem; line-height:2.8rem; text-align:center; padding-left:1.5rem; padding-right:1.5rem; display:block; font-size:1.2rem; border-radius:.5rem; margin-bottom:1rem;}
.agent-app-list li .btn a.pass{background:#FF4B4B; color:#fff;}
.agent-app-list li .btn a.fail{background:#D9D9D9; color:#fff;}



/* --- 下级代理 -- */
.lower-agent{}

/* 生成 */
.lower-agent-generate{}

/* 生成 授权 */
.lower-agent-generate .authorization{padding:2.5rem; text-align:center;} 

/* 生成 二维码 */
.lower-agent-generate .qrcode{ text-align:center; padding:10% 20%; }
.lower-agent-generate .qrcode img{background:#fff; padding:1rem; box-shadow: 0px 0px 2rem #ececec;}
.lower-agent-generate .qrcode .text{margin-top:1.5rem; font-size:1.4rem;}

/* 生成 身份 */
.lower-agent-identity{padding:1.5rem;}
.lower-agent-identity h2{text-align:center; font-size:1.4rem; margin-bottom:2.5rem; margin-top:1rem;}
.lower-agent-identity li{margin-bottom:1.5rem;}
.lower-agent-identity li input{display:none;}
.lower-agent-identity li .box{ padding:1.5rem;  border-radius:.5rem;  box-shadow:0px 0px 1.5rem #ececec; background:#fff; position:relative;}
.lower-agent-identity li .box h3{margin-bottom:1rem; font-size:1.6rem;}
.lower-agent-identity li .box .text p{font-size:1.2rem; color:#666;}
.lower-agent-identity li .box i{position:absolute; right:1.5rem; top:50%; font-size:1.6rem; color:#ccc;}
.lower-agent-identity li:last-child{margin-bottom:0;}

.lower-agent-identity li .checkbox + label .box{border:1px solid #efefef; cursor:pointer;}
.lower-agent-identity li .checkbox:checked + label .box{border:1px solid #FF4B4B;} 
.lower-agent-identity li .checkbox:checked + label .box i{color:#FF4B4B;}
.lower-agent-identity li .checkbox:checked + label .box h3{color:#FF4B4B;}


/* 查看 列表 */
.lower-agent-list{ border-top:1rem solid #efefef; margin-top:-2rem;}
.lower-agent-list li{border-bottom:1px solid #efefef; padding:1.5rem; overflow:hidden;}
.lower-agent-list li .text{float:left;}
.lower-agent-list li .text h3{color:#FF4B4B; font-size:1.6rem; margin-bottom:.5rem;}
.lower-agent-list li .text p{line-height:150%; font-size:1.2rem; color:#666;}
.lower-agent-list li .pic{float:right; width:5rem; margin-top:5%;}
.lower-agent-list li .pic img{border-radius:100%;}


/* 查看 链接 */
.lower-agent-see li{border-bottom:1px solid #efefef; padding:1.5rem; overflow:hidden;}
.lower-agent-see li h3{float:left; font-size:1.6rem; margin-top:1rem;}
.lower-agent-see li .text{float:right;}
.lower-agent-see li .text p {margin-bottom:1rem;}
.lower-agent-see li .text p i{color:#FF4B4B; font-size:1.4rem; }
.lower-agent-see li .text em{color:#999; font-size:1.2rem;  display:block; position:relative; padding-left:2.5rem;}
.lower-agent-see li .text em:before{content:"\e627"; font-family:iconfont; margin-right:.5rem; font-size:1.8rem; position:absolute; left:0;}



/* --- 我的订单 -- */

/* 暂无订单 */
.order-no .button button{max-width:30%;}

/* 搜索订单 */
.order-search{margin-bottom:0;}







/* -- 订单列表 -- */
.order-list{}
.order-list li{background:#fff; margin-bottom:1rem;}


/* 订单列表 信息*/
.order-list li .info{overflow:hidden; font-size:1.4rem; padding:1rem 1.5rem;}
.order-list li .info .number{float:left;}
.order-list li .info .number em{border:1px solid #FF4B4B; color:#FF4B4B; padding:.2rem .3rem; border-radius:.5rem; font-size:1rem;}
.order-list li .info .number i{border:1px solid #4E98FC; color:#4E98FC; padding:.2rem .3rem; border-radius:.5rem; font-size:1rem;}
.order-list li .info .logistics{float:right; color:#ff4b4b;}


/* 订单列表 产品*/
.order-list li .pro{overflow:hidden; margin-bottom:1rem; padding:0 1.5rem; position:relative;}
.order-list li .pro .pic{float:left; width:24%; margin-top:.4rem}
.order-list li .pro .title{float:left; width:50%; margin-left:5%; font-size:1.4rem;}
.order-list li .pro .price{float:right; text-align:right;}
.order-list li .pro .price p{font-size:1.6rem;}
.order-list li .pro .price em{font-size:1.4rem; color:#777;}
.order-list li .pro .tips{position:absolute; right:1.5rem; bottom:0; font-size:1.4rem; color:#FF4B4B;}


/* 订单列表 合计*/
.order-list li .total{text-align:right; font-size:1.2rem; padding:0 1.5rem; margin-bottom:1rem;}
.order-list li .total em{font-size:1.6rem;}


/* 订单列表 按钮*/
.order-list li .btn{border-top:1px solid #efefef; padding:1rem 1.5rem; text-align:right;}
.order-list li .btn a{display:inline-block; height:3rem; line-height:3rem; padding-left:1.5rem; padding-right:1.5rem; border-radius:.5rem; margin-left:.5rem; font-size:1.4rem;}
.order-list li .btn a.grey{border:1px solid #999;}
.order-list li .btn a.red{border:1px solid #FF4B4B; color:#FF4B4B;}







/* -- 订单详情 -- */

/* 订单详情 状态*/
.order-state h2{background:#FF4B4B; text-align:center; font-size:1.4rem; line-height:4.5rem; line-height:4.5rem; color:#fff;}


/* 订单详情 地址*/
.order-address{ padding:1rem 1.5rem 1rem 4rem;  margin-bottom:1rem; font-size:1.4rem; position:relative; background:#fff;}
.order-address:before{content:"\e63b"; font-family:iconfont; position:absolute; left:1.5rem; top:40%; font-size:1.4rem;}
.order-address .info{overflow:hidden; }
.order-address .info p.consignee{float:left;}
.order-address .info p.tel{float:right;}

.add-address-yes{background:url(../images/add-address.png) repeat-x bottom #fff; padding-bottom:1.5rem; padding-right:3.5rem; position:relative;}
.add-address-yes:after{content:"\e6e9"; font-family:iconfont; position:absolute; right:1.5rem; top:40%; font-size:1.4rem;}



/* 订单详情 添加地址*/
.order-address-add{background:url(../images/add-address.png) repeat-x 0 bottom #fff; height:6rem; line-height:6rem; padding:0 1.5rem; font-size:1.4rem; position:relative; margin-bottom:1rem;}
.order-address-add i{ margin-right:.5rem; color:#FF4B4B;}
.order-address-add:after{content:"\e65f"; font-family:iconfont; position:absolute; right:1.5rem; top:0rem; font-size:1.4rem;}


/* 订单详情 产品*/
.order-pro{padding:1rem 0 0 0;  margin-bottom:1rem; background:#fff;}

/* 卖家*/
.order-pro .seller{overflow:hidden; font-size:1.4rem; margin-bottom:1rem;}
.order-pro .seller i{margin-right:.5rem;}
.order-pro .seller .title{float:left; position:relative; padding-left:1.5rem;} 
.order-pro .seller .tel{float:right; color:#FF4B4B; position:relative; padding-right:1.5rem;}


/* 产品*/
.order-pro .pro{overflow:hidden;  padding:1rem 1.5rem; background:#f9f9f9; border-bottom:1px solid #efefef;}
.order-pro .pro .pic{float:left; width:24%; margin-top:.4rem}
.order-pro .pro .title{float:left; width:50%; margin-left:5%; font-size:1.4rem;}
.order-pro .pro .price{float:right; text-align:right;}
.order-pro .pro .price p{font-size:1.6rem;}
.order-pro .pro .price em{font-size:1.4rem; color:#777;}

.order-pro .order-goods-list{margin-top:-1.5rem;}

/* 价格 */
.order-pro .total li p.red{color:#FF4B4B; font-size:1.6rem;}


/* 订单详情 留言*/
.order-message{padding:1rem 1.5rem; overflow:hidden; font-size:1.4rem;  margin-bottom:1rem; background:#fff;}


/* 订单详情 时间*/
.order-time{padding:1rem 1.5rem; overflow:hidden; font-size:1.2rem; color:#666; background:#fff; margin-bottom:1rem;}
.order-time .copy{float:left;}
.order-time .btn{float:right;}
.order-time .btn button{border:1px solid #efefef; padding:.5rem 1rem; border-radius:.5rem; background:none; font-size:1.2rem; margin-top:.5rem;}


/* 订单详情 操作*/
.order-operation{position:fixed; bottom:0; left:0; width:100%; background:#fff; border-top:1px solid #efeffe; text-align:right; padding:1rem 1.5rem;}
.order-operation a{display:inline-block; height:3rem; line-height:3rem; padding-left:1.5rem; padding-right:1.5rem; border-radius:.5rem; margin-left:.5rem; font-size:1.4rem;}
.order-operation a.grey{border:1px solid #999;}
.order-operation a.red{border:1px solid #FF4B4B; color:#FF4B4B;}


/* 支付提示 */
.order-pay{text-align:center; margin-top:5rem; margin-bottom:3rem;}
.order-pay .pic{margin-bottom:1.5rem;}
.order-pay .pic img{width:6rem;}
.order-pay .text{margin-top:2rem; font-size:1.4rem; margin:0 1.5rem;}


/* 查看物流 */
.order-logistics{}

/* 查看物流 快递*/ 
.order-logistics .express{background:#fff; margin-bottom:1rem; padding:1.5rem; overflow:hidden;}
.order-logistics .express .pic{float:left; width:20%;}
.order-logistics .express .text{float:right; width:75%; font-size:1.2rem; color:#666;}

/* 查看物流 跟踪*/ 
.order-logistics .list{background:#fff; position:relative;}
.order-logistics .list h3{border-bottom:1px solid #efefef; padding:1.5rem; font-size:1.4rem;}
.order-logistics .list li{overflow:hidden; position:relative; z-index:10;}
.order-logistics .list li i{float:left; width:14%; text-align:center; margin-top:2.5rem;}
.order-logistics .list li .text{border-bottom:1px solid #efefef; width:86%; float:right; padding-top:1rem; padding-bottom:1rem;} 
.order-logistics .list li .text p{font-size:1.4rem;}
.order-logistics .list li .text em{color:#999; font-size:1.2rem;}

.order-logistics .list ul{position:relative;}
.order-logistics .list ul:before{content:""; height:100%; width:1px; background:#efefef; position:absolute; top:0; left:7%;}
.order-logistics .list li i:before{content:"\e62c"; font-family:iconfont; color:#efefef;}
.order-logistics .list li:nth-child(1) i:before{content:"\e619"; font-family:iconfont; color:#FF4B4B; font-size:1.6rem;}


/* 提交凭证 */

/* 提交凭证 提示*/
.order-pay-tips{padding:1.5rem;  color:#FF4B4B; font-size:1.4rem}

/* 提交凭证 收款人*/
.order-pay-payee{margin-bottom:-1rem;}

/* 提交凭证 上传*/

/* 打款截图 */
.upload-photo{position: relative; background:#fff; padding:1.5rem; overflow:hidden; padding-bottom:.5rem}
.upload-photo input{position: absolute; font-size: 100px; right: 0;top: 0; opacity: 0; }

/*上传图片通用样式*/
.upload-photo .upload-ul{ position: relative; }
.upload-photo .upload-ul li{ position: relativev ; cursor: pointer; overflow: hidden; width:6.5rem; height:6.5rem; float:left;  margin-right:1rem; margin-bottom:1rem;}

/*上传图片 上传按钮*/
.upload-photo .upload-pick{ float:left; width:6.5rem; line-height:6.5rem; display:inline-block;  text-align:center;  position:relative; color:#fff }
.upload-photo .upload-pick:before{content:"\e625"; font-family:iconfont; position:absolute; top:0; font-size:7.5rem; left:0; width:100%; text-align:center; color:#ccc}

/*上传图片 图片*/
.upload-photo .viewThumb{position:relative; width: 100%; height: 100%; overflow:hidden; border:1px solid #efefef;}
.upload-photo .viewThumb img{ width: 100%; height: 100%}

/*上传图片 图片上覆盖*/
.upload-photo  .diyBar{ position: absolute;  top: 0; left: 0; width: 100%; height: 100%;  z-index: 3;}

/*上传图片 上传进度*/
.upload-photo  .diyProgress{ position: absolute; left: 0; top:0; width: 100%; height: 2rem; line-height:2rem; font-size: 1.4rem; text-align: center; color: #FFF; background:rgba(10,168,241,.7); z-index: 3; display:none;}

/*上传图片 删除、换位按钮*/
.upload-photo .diyControl{ position: absolute;  left: 0; bottom: 0; width: 100%; height:2rem; line-height:2rem; font-size: 1.4rem; z-index: 3; background-color:rgba(0,0,0,0.5); }
.upload-photo .diyControl span{ width: 33.333% ; float:left;}
.upload-photo .diyControl span i{ display: block; opacity: 1; text-align:center;}
.upload-photo .diyControl span i:hover{ opacity: 1; cursor: pointer; }
.upload-photo .diyControl span i:before{font-family:iconfont; color:#fff; line-height:2rem;}
.upload-photo .diyLeft i:before{ content:"\e660"; font-weight:bold; }
.upload-photo .diyCancel i:before{ content:"\e65c";}
.upload-photo .diyRight i:before{ content:"\e65f"; font-weight:bold; }


/* 账户类型 */
.order-account-type{position:fixed; bottom:0; left:0; width:100%; background:#fff;  z-index:150; display:none;}
.order-account-type .title{text-align:center; height:4.5rem; line-height:4.5rem; border-bottom:1px solid #efefef;}
.order-account-type .title h2{ line-height:4.5rem; font-size:1.6rem;}
.order-account-type .title i{font-family:iconfont; position:absolute; top:0; line-height:4.5rem; color:#FF4B4B; font-size:1.4rem;}
.order-account-type .title i.no{left:1.5rem;}
.order-account-type .title i.yes{right:1.5rem;}

.order-account-type ul li{height:4.5rem; line-height:4.5rem; border-bottom:1px solid #efefef; font-size:1.4rem; padding-left:3.5rem;}
.order-account-type ul li.alipay{background:url(../images/pay-alipay.png) no-repeat 1.5rem center; background-size:1.4rem;}
.order-account-type ul li.weixin{background:url(../images/pay-weixin.png) no-repeat 1.5rem center; background-size:1.4rem;}
.order-account-type ul li.unionpay{background:url(../images/pay-union.png) no-repeat 1.5rem center; background-size:1.4rem;}






/* -- 确认订单 -- */

/* 确认订单 提交订单*/
.order-ture-place{position:fixed; bottom:0; left:0; width:100%; background:#fff; border-top:1px solid #efeffe; text-align:right; padding:1rem 1.5rem;}
.order-ture-place .price{ font-size:1.4rem; display:inline-block;}
.order-ture-place .price b{ color:#FF4B4B}
.order-ture-place .checkout {}
.order-ture-place .checkout { line-height:3.5rem; text-align:center; padding-left:1.5rem; padding-right:1.5rem; background:#FF4B4B; border-radius:.5rem; font-size:1.4rem;  display:inline-block; margin-left:1.5rem;}
.order-ture-place .checkout a{color:#fff;}


/* 确认订单 其他信息*/
.order-info-ture{margin-top:1rem;}
.order-other .total{background:#fff; height:3.5rem; margin-bottom:1rem; line-height:3.5rem; text-align:right; padding-right:1.5rem; font-size:1.4rem; border-top:1px solid #efefef; border-bottom:1px solid #efefef; }
.order-other .total em{margin-left:1.5rem;}
.order-other .total em b{color:#FF4B4B;}


/* 确认订单 订单支付*/
.order-ture-pay{background:#fff; position:fixed; bottom:0; left:0; width:100%; z-index:150; display:none;}
.order-ture-pay .title{text-align:center; height:4.5rem; line-height:4.5rem; border-bottom:1px solid #efefef; position:relative;}
.order-ture-pay .title h2{ line-height:4.5rem; font-size:1.4rem;}
.order-ture-pay .title em.close{position:absolute; left:1.5rem; top:0; font-size:1.6rem; line-height:4.5rem; color:#999;}

.order-ture-pay .way h3{font-size:1.4rem; padding:1rem 1.5rem; background:#f9f9f9; border-bottom:1px solid #efefef; color:#999;}  
.order-ture-pay .way li{border-bottom:1px solid #efefef; position:relative;}
.order-ture-pay .way li .box{overflow:hidden; padding:1rem 1.5rem;  font-size:1.4rem; padding-left:4rem;}
.order-ture-pay .way li input{display:none;}
.order-ture-pay .way li i{position:absolute; right:1.5rem; top:1.5rem; font-family:iconfont; display:none; font-size:1.4rem;}
.order-ture-pay .way li .checkbox + label .box i{ }
.order-ture-pay .way li .checkbox:checked + label .box  i{ color:#FF4B4B;  display:block;} 


.order-ture-pay .way li.weixin{background:url(../images/pay-weixin.png) no-repeat 1.5rem center; background-size:1.4rem;}
.order-ture-pay .way li.alipay{background:url(../images/pay-alipay.png) no-repeat 1.5rem center; background-size:1.4rem;}
.order-ture-pay .way li.union{background:url(../images/pay-union.png) no-repeat 1.5rem center; background-size:1.4rem;}







/* -- 订货首页 -- */
.order-home{ overflow:hidden; padding-bottom:20rem;}


/* 栏目 */
.order-nav-box{border:1px solid #DEBB8A; width:25.8rem; height:25.8rem; border-radius:100%;  margin:0 auto; margin-top:8rem; position:relative; }
.order-nav-box li{position:absolute;  width:6.8rem; text-align:center;}
.order-nav-box li .pic{border:1px solid #DEBB8A; border-radius:100%; display:block; width:6.8rem; height:6.8rem; line-height:6.8rem; text-align:center; font-size:3.6rem; background:#24272E; margin-bottom:.8rem;}
.order-nav-box li i{font-family:iconfont; color:#DEBB8A; } 
.order-nav-box li em{display:block; font-size:1.2rem; color:#DEBB8A;}

.order-nav-box li.li01{left:1rem; top:-1rem;}
.order-nav-box li.li02{left:12em; top:-3.5rem;}
.order-nav-box li.li03{right:-2.7rem; top:3.5rem;}
.order-nav-box li.li04{right:-2rem; bottom:1.5rem;}
.order-nav-box li.li05{right:6.5rem; bottom:-5.5rem;}
.order-nav-box li.li06{left:1.9rem; bottom:-3.5rem;}
.order-nav-box li.li07{left:-3rem; top:10rem;}

.order-nav-box li a:hover .pic {background:#DEBB8A; }
.order-nav-box li a:hover .pic i{color:#fff;}


/* logo */
.order-logo{width:10rem; height:10rem; background:#fff; margin:8rem auto; border-radius:100%; line-height:10rem; text-align:center;}
.order-logo img{width:8rem;}







/* -- 我要订货 -- */

/* 品牌选择 */
.brand-choose{height:4.5rem; line-height:4.5rem; border-bottom:1px solid #efefef; text-align:center; font-size:1.4rem; position:relative; z-index:150; background:#fff;}
.brand-choose .text em:after{font-family:iconfont; margin-left:.5rem; font-size:1rem; color:#FF4B4B; content:"\e64b"}
.brand-choose dl{position:absolute; top:4.5rem; background:#fff; z-index:150; width:100%; display:none;}
.brand-choose dl em{display:block; height:4.5rem; line-height:4.5rem; text-align:center; border-bottom:1px solid #efefef; } 


/* 列表 */
.order-goods-list{background:#fff;}
.order-goods-list li{border-bottom:1px solid #efefef; padding:1.5rem; overflow:hidden; position:relative;}

/* 列表 图片*/
.order-goods-list li .pic{float:left; width:27%;}

/* 列表 信息*/
.order-goods-list li .text{float:right; width:69%;  }
.order-goods-list li .text h3{font-size:1.4rem; margin-bottom:1rem;}

/* 列表 信息 价格*/
.order-goods-list li .text p.price{font-size:1.6rem; color:#FF4B4B;}

/* 列表 信息 库存*/
.order-goods-list li .text p.stock{font-size:1.2rem; color:#999; position:absolute; right:1.5rem; bottom:1.5rem;}

/* 列表 信息 库存*/
.order-goods-list li .text p.inventory{font-size:1.4rem; color:#FF4B4B; margin-top:1rem;}

/* 列表 信息 拿货价*/
.order-goods-list li .text p.myPrice{font-size:1.2rem; margin-top:1rem;}
.order-goods-list li .text p.myPrice em{margin-right:1rem; color:#999; display:block; margin-bottom:.8rem;}
.order-goods-list li .text p.myPrice em:nth-child(1){color:#FF4B4B;}

/* 列表 信息 下级代理价*/
.order-goods-list li .text dl{border-top:1px solid #efefef; padding-top:1.5rem; margin-top:1.5rem;}
.order-goods-list li .text dl dd{overflow:hidden; font-size:1.2rem; margin-bottom:1rem;}
.order-goods-list li .text dl dd em{float:left; color:#999;}
.order-goods-list li .text dl dd i{float:right; color:#FF4B4B;}

/* 列表 信息 数量*/
.order-goods-list li .number{position:absolute; right:1.5rem; bottom:1.5rem;}
.order-goods-list li .number .reduce,.order-goods-list li .number .add{background:#F1F1F1; width:2.7rem; height:2.7rem; line-height:2.7rem; text-align:center; border:none; font-size:1.6rem; color:#999; float:left; border-radius:.5rem;}
.order-goods-list li .number .num{width:3.5rem; height:2.7rem; border:none; text-align:center; line-height:2.7rem; background:#f5f5f5; float:left; margin-left:.2rem; margin-right:.1rem;  border-radius:.5rem; font-size:1.4rem; font-family:eng;}



/* 合计 */
.order-goods-total{position:fixed; bottom:0; left:0; width:100%; border-top:1px solid #efefef; padding:1rem 1.5rem; background:#fff;}
.order-goods-total .shopping-cart{float:left; position:relative; width:10%;}
.order-goods-total .shopping-cart i{font-size:2.8rem; line-height:100%; margin-top:1.5rem; display:block;}
.order-goods-total .shopping-cart em{background:#FF4B4B; color:#fff; border-radius:100px; padding-left:1rem; padding-right:1rem; font-size:1.2rem; position:absolute; left:1.5rem; height:2rem; line-height:2rem; top:0rem;}

.order-goods-total .price{float:right; margin-right:1.5rem;}
.order-goods-total .price p{font-size:1.4rem; margin-bottom:.2rem;}
.order-goods-total .price p b{ color:#FF4B4B;}
.order-goods-total .price em{font-size:1.2rem; color:#999;}

.order-goods-total .checkout{float:right; line-height:3.5rem; text-align:center; padding-left:1.5rem; padding-right:1.5rem; background:#FF4B4B; border-radius:.5rem; font-size:1.4rem; margin-top:.5rem;}
.order-goods-total .checkout a{ color:#fff;}



/* 操作 */
.order-goods-operation{border-bottom:1px solid #efefef; height:4.5rem; line-height:4.5rem; overflow:hidden; padding:0 1.5rem; font-size:1.4rem;}

/* 操作 选择*/
.order-goods-operation .choose{float:left;}
.order-goods-operation .choose input{display:none;}
.order-goods-operation .choose .checkbox + label em:before{content:"\e619"; font-family:iconfont; margin-right:1rem; color:#ccc; font-size:1.4rem;} 
.order-goods-operation .choose .checkbox:checked + label em:before{ color:#FF4B4B;} 

/* 操作 编辑*/
.order-goods-operation .edit{float:right;}
.order-goods-operation .edit em.yes{margin-top:.2rem;}
.order-goods-operation .edit em.no{display:none; margin-top:.2rem;}

/* 删除 */
.order-goods-del{text-align:right; border-bottom:1px solid #efefef; padding:1rem 1.5rem; display:none;}
.order-goods-del button{border:1px solid #FF4B4B; padding:.2rem 1.5rem; border-radius:100px; background:none; color:#FF4B4B}

/* 操作 列表*/
.order-goods-choose li .choose{ width:10%; float:left;}
.order-goods-choose li .choose i{font-size:1.4rem;}
.order-goods-choose li .pic{ width:22%;}
.order-goods-choose li .text{width:65%; position:relative;}
.order-goods-choose li .text h3{margin-bottom:.5rem;}
.order-goods-choose li .text .stock{position:absolute; right:0; bottom:0rem;}
.order-goods-choose li .number{display:none;}
.order-goods-choose li .checkbox{display:none;}
.order-goods-choose li .checkbox + label .choose i{ color:#ccc;}
.order-goods-choose li .checkbox:checked + label .choose i{ color:#FF4B4B;} 



/* 我的订货价 */
.order-my-price{margin-top:-2rem;}







/* -- 发货 -- */
.deliver-height{height:22rem;}

/* 客户列表 */
.customer-list{border-top:1rem solid  #efefef; margin-top:-2rem;}
.customer-list li{border-bottom:1px solid #efefef; padding:1rem 1.5rem; font-size:1.4rem;}

/* 客户 */
.deliver-customer{padding:1.5rem; border-bottom:1rem solid #efefef;}
.deliver-customer .box{background:url(../images/deliver-customer.jpg) no-repeat; background-size:cover; border-radius:.5rem; padding:1.5rem; overflow:hidden;}
.deliver-customer .box .pic{float:left; width:5rem; height:5rem; background:#fff; border-radius:100%; text-align:center; line-height:5rem; color:#666; font-family:iconfont; font-size:3rem}
.deliver-customer .box .text{float:left; margin-left:1rem;}
.deliver-customer .box .text h3{font-size:1.4rem; color:#fff; margin-bottom:.5rem; margin-top:.5rem;}
.deliver-customer .box .text p{color:#999; font-size:1.2rem;}

/* 编号 */
.deliver-number li{border-bottom:1px solid #efefef; padding:1rem 1.5rem; font-size:1.4rem;}

/* 操作 */
.deliver-operation{position:fixed; bottom:0; left:0; width:100%; padding:1.5rem; background:#fff;}
.deliver-operation .scanning li{margin-bottom:1rem;}
.deliver-operation .scanning li button{width:100%; height:4rem; line-height:4rem; border:1px solid #FF4B4B; background:none; color:#FF4B4B; border-radius:.5rem; font-size:1.4rem;}

.deliver-operation .input-number{overflow:hidden; font-size:1.4rem; margin-bottom:1rem;}
.deliver-operation .input-number .artificial{float:left;} 
.deliver-operation .input-number .continuity{float:right;}
.deliver-operation .input-number .continuity .checkbox{display:none;}
.deliver-operation .input-number .continuity .checkbox + label i{ color:#ccc; }
.deliver-operation .input-number .continuity .checkbox:checked + label i{ color:#FF4B4B;}

.deliver-operation .button{padding:0;}







/* -- 消息 -- */
.message-list{padding:1.5rem;}
.message-list li{box-shadow: 0px 0px 20px #ececec; }
.message-list li a{display:block;  position:relative;  padding:1.5rem; margin-bottom:1.5rem;}
.message-list li a em{font-size:1.2rem; color:#999; margin-bottom:1rem; display:block;}
.message-list li a .text{font-size:1.4rem;}
.message-list li a i{position:absolute; right:1rem; top:1rem; font-size:1.8rem;}
.message-list li a.new i:before{content:"\e6a0"; font-family:iconfont;  color:#FF4B4B;}







/* -- 我的 -- */

/* 头像 */
.user-photo{background:url(../images/user-photo-back.jpg) no-repeat; background-size:cover; overflow:hidden; padding-bottom:2.5rem; position:relative;}

.user-photo .pic{text-align:center; margin-top:3.5rem; margin-bottom:1rem;}
.user-photo .pic img{width:6rem; background:#D7D7DA; border-radius:100%; padding:.2rem;}
.user-photo .pic .no-photo{background:#D7D7DA; border-radius:100%; padding:.2rem;}
.user-photo .text{text-align:center; font-size:1.4rem; color:#fff; margin-bottom:1.5rem;}

.user-photo .btn {text-align:center;}
.user-photo .btn a{border:1px solid #fff; border-radius:.5rem; text-align:center; width:10rem; height:3rem; line-height:2.8rem; font-size:1.4rem; display:block; color:#fff; margin:0 auto;} 

.user-photo .setup{position:absolute; top:1rem; right:1rem;}
.user-photo .setup a{font-family:iconfont; color:#fff; font-size:1.8rem; margin-left:1rem; position:relative;}
.user-photo .setup a i{display:none;}
.user-photo .setup a.new-message i{position:absolute; right:0rem; top:-.5rem; display:block;  color:#FF4B4B;}



/* 订货发货 */
.user-order-type{border-bottom:1rem solid #efefef; overflow:hidden; padding-top:1.5rem; padding-bottom:1.5rem;}
.user-order-type li{float:left; width:50%; text-align:center; font-size:1.4rem; overflow:hidden;}
.user-order-type li em{position:relative; padding-left:2.5rem;}
.user-order-type li em:before{ position:absolute; left:0; font-family:iconfont; top:.3rem; font-size:1.6rem;  color:#FF4B4B;}
.user-order-type li:nth-child(1){border-right:1px solid #efefef;}
.user-order-type li:nth-child(1) em:before{content:"\e646";}
.user-order-type li:nth-child(2) em:before{content:"\e606";}



/* 我的栏目 */
.user-nav li{border-bottom:1px solid #efefef;}



/* 登录注册 */
.login{padding:10%;}
.login .form li{margin-bottom:1.5rem;}
.login .form li input{ border:none; border-bottom:1px solid #efefef; width:100%; font-size:1.4rem; height:3.5rem; line-height:3.5rem;}
.login .form{margin-bottom:2.5rem;}
.login .button{padding:0; margin-bottom:1.5rem;}
.login .other {text-align:right; font-size:1.4rem;}



/* 收货地址 */

/* 收货地址 管理收货地址 */
.user-address-list li{border-bottom:1px solid #efefef; background:#fff; padding:1rem 1.5rem; font-size:1.4rem;}

/* 名字电话 */
.user-address-list li .info{overflow:hidden; margin-bottom:.5rem;}
.user-address-list li .info em{float:left; margin-top:.5rem;}
.user-address-list li .info p{float:right;}

/* 地址 */
.user-address-list li .text{margin-bottom:1rem;}
.user-address-list li .text em{color:#FF4B4B;}

/* 编辑 */
.user-address-list li .edit{overflow:hidden; padding-bottom:.5rem; margin-top:.5rem;}
.user-address-list li .edit em{position:relative; padding-left:1.8rem;}
.user-address-list li .edit em:before{ font-family:iconfont; position:absolute; left:0; top:.1rem; color:#999;}
.user-address-list li .edit em.edit-01{float:left;}
.user-address-list li .edit em.edit-02{float:right;}
.user-address-list li .edit em.edit-03{float:right; margin-left:1rem;}
.user-address-list li .edit em.edit-01:before{content:"\e619";}
.user-address-list li .edit em.edit-02:before{content:"\e68d";}
.user-address-list li .edit em.edit-03:before{content:"\e60f";}

/* 选择 */
.user-address-list li .checkbox{display:none;}
.user-address-list li .checkbox + label em.edit-01:before{ color:#999;}
.user-address-list li .checkbox:checked + label em.edit-01:before{ color:#FF4B4B;}



/* 收货地址 管理地址 */
.user-address-manage{position:fixed; bottom:0; left:0; width:100%; padding:1rem 1.5rem; background:#fff; border-top:1px solid #efefef;}
.user-address-manage a{display:block; font-size:1.4rem;}
.user-address-manage a.manage{border:1px solid #999; height:3.5rem; border-radius:.8rem; line-height:3.5rem; float:left; width:30%; text-align:center;}
.user-address-manage a.add{float:right; width:67%; background:#FF4B4B;  line-height:3.5rem; height:3.5rem; color:#fff; border-radius:.8rem; text-align:center; }

.user-address-manage-edit a.add{float:none; width:100%;}

/* 收货地址 添加地址 */
.user-address-add{margin-bottom:1rem;}

/* 收货地址 提示*/
#Validform_msg{display:none; z-index:99999; background:#fff; position:fixed; width:100%; left:0%; height:100%;  background:rgba(0,0,0,0.5); overflow:hidden;}
#Validform_msg .box{background:#fff; margin:50% 10%; height:20%; border-radius:1rem; position:absolute;  overflow:hidden;}
#Validform_msg .Validform_title{ color:#333; font-size:1.4rem; text-align:center;  padding-top:1rem; margin-bottom:1rem; font-weight:bold;}
#Validform_msg .Validform_info{text-align:center; color:#333; font-size:1.4rem; }
#Validform_msg .iframe{}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{color:#333; text-align:center; border-top:1px solid #efefef; font-weight:lighter; display:block; font-size:1.4rem; margin-top:1.5rem; padding-top:1rem;}







/* -- 云库存 -- */

/* 地址 */
.cloud-address-add{background:url(../images/add-address.png) repeat-x 0 bottom; padding:1.5rem; padding-bottom:2rem; font-size:1.4rem;}

/* 购买提示 */
.cloud-inventory-tips{position:fixed; left:10%; top:30%; width:80%; height:100%; display:none; z-index:250;}
.cloud-inventory-tips .box{ background:#fff; position:relative; border-radius:0 0 .5rem .5rem}
.cloud-inventory-tips .box .text{font-size:1.4rem; padding:1.5rem 3rem;}
.cloud-inventory-tips .box .close{position:absolute; bottom:-3rem; text-align:center; left:0; width:100%;}
.cloud-inventory-tips .box .close em{font-family:iconfont; border:2px solid #fff; border-radius:100%; padding:.5rem; color:#fff;}

/* 分类 */
.cloud-warehouse-type {padding:.75rem; border-bottom:1rem solid #efefef; overflow:hidden;}
.cloud-warehouse-type li{float:left; width:25%; text-align:center;}
.cloud-warehouse-type li{padding:.75rem; text-align:center;}
.cloud-warehouse-type li i{font-family:iconfont; display:block; text-align:center; width:6rem; height:6rem; background:#2A2A3A; border-radius:100%; margin:0 auto; margin-bottom:1rem; color:#fff; font-size:3.6rem; line-height:6rem;}
.cloud-warehouse-type li em{font-size:1.4rem;}

/* 趋势图 */
.cloud-warehouse-trendMap { border-bottom:1rem solid #efefef; overflow:hidden; padding-bottom:1.5rem;}
.cloud-warehouse-trendMap h3{ height:4.5rem; line-height:4.5rem; text-align:center; font-size:1.4rem; color:#666;}
.cloud-warehouse-trendMap .box{padding:0 1.5rem;} 


/* 库存明细 */

/* 库存明细 本月*/
.cloud-warehouse-month{padding:1rem 1.5rem; background:#f5f5f5; position:relative; border-bottom:1px solid #efefef; } 
.cloud-warehouse-month h3{ margin-bottom:.3rem; font-size:1.4rem;}
.cloud-warehouse-month p{color:#999; font-size:1.2rem;}
.cloud-warehouse-month p em{margin-right:1rem;}
.cloud-warehouse-month .date{position:absolute; right:1.5rem; top:1.7rem;}
.cloud-warehouse-month .date i{font-size:2.8rem;}
.cloud-warehouse-month .date input{opacity:0; position:absolute; right:-1.5rem; width:5rem; height:5rem; top:-1.5rem;}

/* 库存明细 明细*/
.cloud-warehouse-list li{border-bottom:1px solid #efefef; padding:1.5rem; overflow:hidden;}
.cloud-warehouse-list li .text{float:left;}
.cloud-warehouse-list li .text h3{font-size:1.4rem; margin-bottom:.5rem;}
.cloud-warehouse-list li .text p.number{font-size:1.2rem;}
.cloud-warehouse-list li .text em.time{font-size:1.2rem; color:#999;}
.cloud-warehouse-list li .price{float:right;}
.cloud-warehouse-list li .price p{font-size:1.4rem;}
.cloud-warehouse-list li .price p.red{ color:#FF4B4B;}
.cloud-warehouse-list li .price em{color:#999; font-size:1.2rem; }