<link rel="stylesheet" href="#(RESOURCE_HOST)/static/front/css/drawer.min.css" />
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/front/css/normalize.css" />
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/front/css/scs.min.css" />
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/front/css/style.css" />
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/front/css/typo.css" />
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/front/css/wapSlide.css" />
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/front/css/zdialog.css" />
