<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/jquery.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/jquery.scs.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/add.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/autosize.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/clipboard.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/CNAddrArr.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/datePicker.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/diyUpload.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/drawer.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/html5shiv.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/iscroll.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/respond.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/tips.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/tips-js.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/wapSlide.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/webuploader.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/zdialog.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/exif.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/processImg.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/front/js/jquery.qrcode.min.js"></script>  
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>

