#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

           	var remarks=$("#remarks").val();//备注信息
        	if(remarks.length>255){       	
        		 layer.alert('备注信息请勿超过255位');
        	     return false;
        	}
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/agent_auth/postAdd',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        
        form.on('select(applyType)',function(data){
        	var applyType = data.value;
        	//如果申请方式为2，就是 电商模式，则显示店铺的表单
        	if(applyType == 2){
        		$("#shop").css("display","");
        		$("#storeName").attr("lay-verify","required");
        		$("#storeUrl").attr("lay-verify","required");
        		$("#storeType").attr("lay-verify","required");
        		
        	}else{
        		$("#shop").css("display","none");
        		$("#storeName").attr("lay-verify","");
        		$("#storeName").val("");
        		$("#storeUrl").attr("lay-verify","");
        		$("#storeUrl").val("");
        		$("#storeType").attr("lay-verify","");
        		$("#storeType").val("");
        	}
        })
        
    });
    
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>代理商</label>
            <div class="layui-input-block">
            	#if(agent != null)
            		<input type="hidden" name="data.agentId" value="#(agent.id)"/>
            		<input type="text" class="layui-input" readonly="readonly" value="#(agent.name)" autocomplete="off"/>
            	#end
            	
            	#if(agent == null)
	            	<select id="parentId" name="data.agentId" lay-search="">
	                    <option></option>
	                    #for(x:agentList)
	                    	<option value="#(x.id)">#(x.name ??)</option>
	                    #end
	                </select>
            	#end
            </div>
          </div>
          
          <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>申请方式</label>
            <div class="layui-input-block">
            	<select name="data.applyType" id="applyType" lay-verify="required" lay-filter="applyType">
                    <option id="applyTypeId"></option>
                    #option("APPLY_TYPE")
                </select>
            </div>
          </div>
          
          <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>授权状态</label>
            <div class="layui-input-block">
            	<select name="data.auditStatus" lay-verify="required">
                    <option></option>
                    #option("AUTH_STATUS")
                </select>
            </div>
          </div>
          
          <div id="shop" style="display: none;">
          		
          		<div class="layui-form-item">
		            <label class="layui-form-label"><em class="require-mark">*</em>店铺类型</label>
		            <div class="layui-input-block">
		            	<select name="data.storeType" id="storeType" lay-verify="required">
		                    <option></option>
		                    #option("AGENT_CHANNEL")
		                </select>
		            </div>
		          </div>
          		
          		<div class="layui-form-item">
		            <label class="layui-form-label"><em class="require-mark">*</em>店铺名称</label>
		            <div class="layui-input-block">
		                <input type="text" name="data.storeName" id="storeName" placeholder="用户名" class="layui-input" value="" autocomplete="off"/>
		            </div>
		          </div>
		          
		          <div class="layui-form-item">
		            <label class="layui-form-label"><em class="require-mark">*</em>店铺地址</label>
		            <div class="layui-input-block">
		                <input type="text" name="data.storeUrl" id="storeUrl" placeholder="用户名" class="layui-input" value="" autocomplete="off"/>
		            </div>
		          </div>
		 		  
		          
		 		  <div class="layui-form-item">
		            <label class="layui-form-label">备注信息</label>
		            <div class="layui-input-block">
		                <input type="text" id="remarks" name="data.remarks" placeholder="备注信息" class="layui-input" value=""  autocomplete="off"/>
		            </div>
		          </div>
          </div>
		  

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                	保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end