#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度 AGENT_CHANNEL
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'agentName', title: '代理商名称', width: 150}
                , {field: 'apply_type', title: '申请方式', width: 150, templet: '#dataTpl("APPLY_TYPE", "apply_type")'}
                , {field: 'store_type', title: '店铺类型', width: 150, templet: '#dataTpl("AGENT_CHANNEL", "store_type")'}
                , {field: 'store_name', title: '店铺名称', width: 150}
                , {field: 'store_url', title: '店铺地址', width: 150}              
                , {field: 'auth_pic', title: '授权书', width: 100, align: 'center', toolbar: '#findAuthPic'}            
                , {field: 'audit_status', title: '授权状态', width: 100,align: 'center', templet: '#dataTpl("auth_status", "audit_status")'}
                , {field: 'validity_date', title: '有效期', width: 120,align: 'center',templet:'<div>{{ Format(d.validity_date,"yyyy-MM-dd")}}</div>'}
                , {field: 'bondStatus', title: '保证金状态', width: 100,align: 'center', templet: '#dataTpl("ORDER_STATE", "bondStatus")'}
                , {field: 'remarks', title: '备注信息', width: 100}
                , {fixed: 'right', title: '操作', width: 400, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/base/agent_auth/tableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'auth'){
                pop_show('授权','#(ctxPath)/base/agent_auth/show?id=' + data.id,'','', function(){
                    reloadTable();
                });
            }else if(obj.event === 'findAuthPic'){
            	layer.photos({
                    photos:{"title": "授权证书","id": 123,"start": 0,"data": [{"alt": "授权证书","pid": 0,"src": data.auth_pic,"thumb": ""}]}                                        		    
                  }); 
            }else if(obj.event === 'updateValidityDate'){
                layer.confirm('确定重置有效期么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/base/agent_auth/updateValidityDate',
                        data: {id : data.id},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable();
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            }else if(obj.event == 'findBond'){
            	pop_show('审核保证金','#(ctxPath)/base/agent_auth/findBond?id=' + data.id,'','', function(){
                    reloadTable();
                });
            }
        });     

        reloadTable = function (authStatus,name) {
            table.reload('dateTable', {
                url: '#(ctxPath)/base/agent_auth/tableData'
                ,where: {authStatus:authStatus,name:name} //设定异步数据接口的额外参数
            });
        }
        
        $("#addAuth").click(function(){
            pop_show('添加授权','#(ctxPath)/base/agent_auth/addAuth?agentId=#(agentId)','','', function(){
                reloadTable();
            });
        });

        form.on('submit(search)', function(data){
            reloadTable(data.field.authStatus,data.field.name,data.field.code);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

    function Format(datetime,fmt) {
    if(datetime!=null){		   	
  	  if (parseInt(datetime)==datetime) {
  	    if (datetime.length==10) {
  	      datetime=parseInt(datetime)*1000;
  	    } else if(datetime.length==13) {
  	      datetime=parseInt(datetime);
  	    }
  	  }
  	  datetime=new Date(datetime);
  	  var o = {
  	  "M+" : datetime.getMonth()+1,                 //月份   
  	  "d+" : datetime.getDate(),                    //日   
  	  "h+" : datetime.getHours(),                   //小时   
  	  "m+" : datetime.getMinutes(),                 //分   
  	  "s+" : datetime.getSeconds(),                 //秒   
  	  "q+" : Math.floor((datetime.getMonth()+3)/3), //季度   
  	  "S"  : datetime.getMilliseconds()             //毫秒   
  	  };   
  	  if(/(y+)/.test(fmt))   
  	  fmt=fmt.replace(RegExp.$1, (datetime.getFullYear()+"").substr(4 - RegExp.$1.length));   
  	  for(var k in o)   
  	  if(new RegExp("("+ k +")").test(fmt))   
  	  fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
  	  return fmt;
     	}else{
    		return "无期限";	
    	} 
  	}
    
    function judge(bondStatus){
    	if(bondStatus==null){
    		return "无需缴纳";
    	}else{
    		return bondStatus;
    	}
    }
</script>
#end

#define content()
    <div class="layui-fluid">
        <form id="searchForm" class="layui-form x-center" action="" >
            <div class="layui-form-pane">
                <div class="layui-form-item">
                	
                	<label class="layui-form-label">授权状态</label>
                    <div class="layui-input-inline">
                        <select id='authStatus'  name="authStatus">
		                    <option></option>
		                    #option("audit_status")
		                </select>
                    </div>
                    
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                    	<select id="agentId" name="agentId" lay-search="">
	                    	<option></option>
		                    #for(x:agentList)
		                    	<option value="#(x.agentId)">#(x.name ??)</option>
		                    #end
		                </select>
<!--                         <input type="text" id="name" name="name" placeholder="" class="layui-input"/> -->
                    </div>


                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                    <div class="layui-input-inline" style="width : 10px">
                        <button class="layui-btn"  lay-submit="" lay-filter="reset"><i class="layui-icon">&#xe666;</i>重置</button>
                    </div>
                    
                </div>
            </div>
        </form>
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">
                <button id="edit" onclick="reloadTable()" class="layui-btn layui-btn-small">刷新</button>
                #shiroHasPermission('/base/agent_auth/addAuth')
	                <button id="addAuth" class="layui-btn layui-btn-small">添加授权</button>
    			#end
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/base/agent_auth/auth')
    #[[
    {{#  if(d.bondStatus!=0&&d.bondStatus!=-1){   }}
    <a class="layui-btn layui-btn-xs" lay-event="auth">授权</a>  
    {{#  }   }}
    ]]#  
    #end
    #[[
    {{#  if(d.audit_status==2&&d.bondStatus!=0&&d.bondStatus!=-1){   }}
    <a class="layui-btn layui-btn-xs" lay-event="updateValidityDate">重置有效期</a>  
    {{#  }   }}
    ]]#
    
    #[[
    {{#  if(d.bondStatus==0){   }}
     <a class="layui-btn layui-btn-xs" lay-event="findBond">审核保证金</a>
    {{#  }   }}
    ]]#   
</script>

<script type="text/html" id="findAuthPic">
    <a class="layui-btn layui-btn-xs" lay-event="findAuthPic">授权证书</a>
</script>
#end