#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/agent_auth/auth',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
    
    $(function(){
    	//打款截图未开启时隐藏
    	var isPayimg="#(setting.enable ??)";   	
    	if(isPayimg=="0"){//未开启
    	  $("#payImg").css("display","none");	
    	}
    	
    	//微商时隐藏店铺信息
    	var applyType="#(data.applyType ??)";
    	if(applyType=="1"){//1-微商；2-电商
    		$("#store").css("display","none");	
    	}
    	
    })
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" name="data.id" value="#(data.id ??)">	  
    	<input type="hidden" name="data.agentId" value="#(data.agentId ??)">	  
          <div class="layui-form-item">
            <label class="layui-form-label">申请类型</label>
            <div class="layui-input-block">
            	<select name="data.applyType" lay-verify="required" disabled="disabled">
                    <option></option>
                    #option("APPLY_TYPE", data.applyType ??)
                </select>
            </div>
          </div> 
          <div id="store">
          <div class="layui-form-item">
            <label class="layui-form-label">店铺类型</label>
            <div class="layui-input-block">
            	<select name="data.storeType" disabled="disabled">
                    <option></option>
                    #option("SELLER_CHANNEL",data.storeType ??)
                </select>
            </div>
          </div> 
		  <div class="layui-form-item">
            <label class="layui-form-label">店铺名称</label>
            <div class="layui-input-block">
                <input type="text" name="data.storeName" placeholder="店铺名称" class="layui-input" value="#(data.storeName ??)" autocomplete="off" readonly="readonly"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label">店铺地址</label>
            <div class="layui-input-block">
                <input type="text" name="data.storeUrl" placeholder="店铺地址" class="layui-input" value="#(data.storeUrl ??)" autocomplete="off" readonly="readonly"/>
            </div>
          </div>
          </div>
          <div class="layui-form-item" id="payImg">
            <label class="layui-form-label">付款凭证</label>
            <div class="layui-input-block">
                <input type="hidden" name="data.payImg" placeholder="" disabled="disabled" class="layui-input" value="#(data.payImg ??)" autocomplete="off"/>
            	<a href="#(data.payImg ??)" target="_blank"><img id="avatarImg" src="#(data.payImg ??)" style="display:block; max-height:200px;margin-top:20px;"></a>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">代理商名称</label>
            <div class="layui-input-block">
                <input type="text" name="data.agentName" placeholder="名称" class="layui-input" value="#(data.agentName ??)" required  lay-verify="required" autocomplete="off" readonly="readonly"/>
            </div>
          </div>
      
		  <div class="layui-form-item">
            <label class="layui-form-label">授权书(自动生成)</label>
            <div class="layui-input-block">
                <input type="hidden" name="data.authPic" placeholder="" disabled="disabled" class="layui-input" value="#(data.authPic ??)" autocomplete="off"/>
            	<a href="#(data.authPic ??)" target="_blank"><img id="avatarImg" src="#(data.authPic ??)" style="display:block; max-height:200px;margin-top:20px;"></a>
            </div>
          </div>
		   <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>授权状态</label>
            <div class="layui-input-block">
            	<select name="data.auditStatus" lay-verify="required">
                    <option></option>
                    #option("AUTH_STATUS",data.auditStatus ??)
                </select>
            </div>
          </div> 
          
		 <!-- <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>上级代理</label>
            <div class="layui-input-block">
            	<select name="parentId" lay-verify="required">
                    <option></option>
                   #for(x:agentList)
                   <option #(x.id == data.parentId ? 'selected' : '') value="#(x.id)">#(x.name)</option>
                   #end
                </select>
            </div>
          </div>    -->    

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end