#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

        	var code=$("#code").val();//代码
        	if(code.length>20){
        		layer.alert("代码请勿超过20字符!");
         	　　　return false;
        	}

        	var codeDesc=$("#codeDesc").val();//代码描述
        	if(codeDesc.length>200){
        		layer.alert("代码描述请勿超过200字符!");
         	　　　return false;
        	}
        	
        	var type=$("#type").val();//类型代码
        	if(type.length>20){
        		layer.alert("类型代码请勿超过20字符!");
         	　　　return false;
        	}

        	var typeDesc=$("#typeDesc").val();//类型描述
        	if(typeDesc.length>200){
        		layer.alert("类型描述请勿超过200字符!");
         	　　　return false;
        	}

        	var orderNo=$("#orderNo").val();//排序
        	if(orderNo.length>10){
        		layer.alert("排序请勿超过10位!");
         	　　　return false;
        	}
        	
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/system/data/postAdd',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>代码</label>
            <div class="layui-input-block">
                <input type="text" id="code" name="data.code" placeholder="代码" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>代码描述</label>
            <div class="layui-input-block">
                <input type="text" id="codeDesc" name="data.codeDesc" placeholder="代码描述" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>类型代码</label>
            <div class="layui-input-block">
                <input type="text" id="type" name="data.type" placeholder="类型代码" class="layui-input" value="" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>类型描述</label>
            <div class="layui-input-block">
                <input type="text" id="typeDesc" name="data.typeDesc" placeholder="类型描述" class="layui-input" value="" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>排序号</label>
            <div class="layui-input-block">
                <input type="number" id="orderNo" name="data.orderNo" placeholder="排序号" class="layui-input" value="" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>状态</label>
            <div class="layui-input-block">
                <select id='status' name="data.status" lay-verify="required">
                    <option></option>
                    #statusOption(com.tipu.agent.admin.service.entity.status.system.DataStatus::me(), '1')
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end