<link rel="stylesheet" href="#(RESOURCE_HOST)/static/js/layui/css/layui.css" />
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/css/style.css">
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/css/x-admin.css" type="text/css">
<link rel="icon" href="#(RESOURCE_HOST)/static/img/eW-logo.png">
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/css/iconfont.css">