<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/layui/layui.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/comm_notbar.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/utils.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/ztree/jquery.min.js"></script>
