#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;
		form.on('submit(sub)', function(data) {										
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/agent_banks/postAdd',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});			
			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
		
		form.on('select(isCompany)', function(data) {
			var productType = $("#isCompany option:selected").val();
			if(productType==1){
				$("#agentName").empty();
			}else{
				var content="<label class=\"layui-form-label\"><em class=\"require-mark\">*</em>代理商姓名</label>";
				content+="<div class=\"layui-input-block\"><select name=\"data.agent\" id=\"agent\" lay-verify=\"required\" lay-search=\"\" >";
				content+="<option></option> #for(x:agentList)<option value=\"#(x.id)\">#(x.name ??)</option> #end </select></div>";
				$("#agentName").empty().html(content);
				form.render();
			}
			
		});
	});



</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" id="username" name="data.username" value="" />
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>是否公司账户</label>
			<div class="layui-input-block">
				<select name="data.isCompany" id="isCompany" lay-verify="required" lay-filter="isCompany"
					lay-search="" >
					<option></option>
					#option("YES_NO")
				</select>

			</div>
		</div>
		<div class="layui-form-item" id="agentName">
			<label class="layui-form-label"><em class="require-mark">*</em>代理商姓名</label>
			<div class="layui-input-block">
				<select name="data.agent" id="agent" lay-verify="required"
					lay-search="" >
					<option></option> #for(x:agentList)
					<option value="#(x.id)">#(x.name ??)</option> #end
				</select>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>银行类型</label>
			<div class="layui-input-block">
				<select name="data.type" id="bankType" lay-verify="required"
					lay-search="" >
					<option></option>
					#option("BANK_TYPE")
				</select>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>户主姓名</label>
			<div class="layui-input-block">
				<input type="text" name="data.accountAsname" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>开户行名称</label>
			<div class="layui-input-block">
				<input type="text" name="data.bankName" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>银行账号</label>
			<div class="layui-input-block">
				<input type="text" name="data.account" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
				<input type="text" name="data.remarks" placeholder=""
					class="layui-input" value="" 
					autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
