#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){
        	var settingRecharge = '#(settingRecharge)'; //系统配置下充值
        	var settingBond = '#(settingBond)'; //系统配置项保证金
        	
        	var isRecharge = $("#isRecharge").val();//页面中充值的值
        	var isBond = $("#isBond").val(); //页面中保证金的值
        	
        	if(settingRecharge == false){
        		if(isRecharge =="1"){
	        		layer.alert('请先开启系统充值开关');
	        		return false;
        		}
        	}
        	if(settingBond  == false){
        		if(isBond == "1"){
	        		layer.alert('请先开启系统保证金开关');
	        		return false;
        		}
        	}
        	

			var firstRecharge=$("#firstRecharge").val();//首充
        	if(firstRecharge.length>10){       	
        		 layer.alert('首充请勿超过10位');
        	     return false;
        	}
        	
			var bail=$("#bail").val();//保证金
        	if(bail.length>10){       	
        		 layer.alert('保证金请勿超过10位');
        	     return false;
        	}
          	
           	var remarks=$("#remarks").val();//备注信息
        	if(remarks.length>255){       	
        		 layer.alert('备注信息请勿超过255位');
        	     return false;
        	}
        	
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/agent_type/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" name="data.id" value="#(data.id ??)">
		  
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="data.name" placeholder="名称" class="layui-input" value="#(data.name ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>首充</label>
            <div class="layui-input-block">
                <input type="text" id="firstRecharge" name="data.firstRecharge" placeholder="首充" class="layui-input" value="#(data.firstRecharge ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>保证金</label>
            <div class="layui-input-block">
                <input type="text" id="bail" name="data.bail" placeholder="保证金" class="layui-input" value="#(data.bail ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
          	  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>业绩提成比例</label>
            <div class="layui-input-block">
                <input type="number" id="profit" name="data.profit" placeholder="业绩提成比例" class="layui-input" value="#(data.profit ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>级别</label>
            <div class="layui-input-block">
            	<select name="data.grade" lay-verify="required">
                    <option></option>
                    #option("AGENT_LEVEL",data.grade ??)
                </select>
            </div>
          </div>
          <div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>是否开启比例提成</label>
			<div class="layui-input-block">
				<select name="data.isProfit" id="isProfit" lay-verify="required">
                    <option></option>
                    #option("YES_NO",data.isProfit ??)
                </select>
			</div>
		</div>
          <div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>是否开启保证金</label>
			<div class="layui-input-block">
				<select name="data.isBond" id="isBond" lay-verify="required">
                    <option></option>
                    #option("YES_NO",data.isBond ??)
                </select>
			</div>
		</div>
		 <div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>是否开启充值</label>
			<div class="layui-input-block">
				<select name="data.isRecharge" id="isRecharge" lay-verify="required">
                    <option></option>
                    #option("YES_NO",data.isRecharge ??)
                </select>
			</div>
		</div>
		  <div class="layui-form-item">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <input type="text" id="remarks" name="data.remarks" placeholder="备注信息" class="layui-input" value="#(data.remarks ??)"  autocomplete="off"/>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end