#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;
		form.on('submit(sub)', function(data) {		
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/audit/postOrder',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});

</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
	<input type="hidden" name="order.id" value="#(data.id ??)">
		<div class="layui-form-item">
			<label class="layui-form-label">订单编号</label>
			<div class="layui-input-block">
				<input type="text" name="order.id" value="#(data.id ??)" class="layui-input" readonly="readonly" >
			</div>
		</div>		
		<div class="layui-form-item">
			<label class="layui-form-label">订单创建者</label>
			<div class="layui-input-block">
				<select  id="agent"  disabled="disabled"
					lay-search="" >
					<option></option> #for(x:agentList)
					<option #(x.id == data.orderCreaterId ? 'selected' : '') value="#(x.id)">#(x.name ??)</option> #end
				</select>

			</div>
		</div>				
		<div class="layui-form-item">
			<label class="layui-form-label">收货人姓名</label>
			<div class="layui-input-block">
				<input type="text"  placeholder="" class="layui-input"  readonly="readonly"
					value="#(data.receiveName ??)"  autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">收货人电话</label>
			<div class="layui-input-block">
				<input type="text"  placeholder="" class="layui-input"  readonly="readonly"
					value="#(data.receiverPhone ??)"  autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">收货人地址</label>
			<div class="layui-input-block">
				<input type="text"  placeholder="" class="layui-input"  readonly="readonly"
					value="#(data.receiveAddress ??)"  autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">购买人姓名</label>
			<div class="layui-input-block">
				<select  id="agent"  disabled="disabled"
					lay-search="" >
					<option></option> #for(x:agentList)
					<option #(x.id == data.agentId ? 'selected' : '') value="#(x.id)">#(x.name ??)</option> #end
				</select>

			</div>
		</div>		
		<div class="layui-form-item">
			<label class="layui-form-label">购买总金额</label>
			<div class="layui-input-block">
				<input type="text"  placeholder="" class="layui-input"  readonly="readonly"
					value="#(data.buySum ??)"  autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">付款方式</label>
			<div class="layui-input-block">
				<select id="unit"   disabled="disabled" lay-search="">
		                    <option></option>		                    
		                    #option("PAY_MENT",data.payment ??)		                    
		                </select>
			</div>
		</div>
		#if(data.payment=='1' ??)
		<div class="layui-form-item">
            <label class="layui-form-label">付款凭证</label>
            <div class="layui-input-block">
				<a href="#(data.paymentCert ??)" target="_blank"><img id="avatarImg" src="#(data.paymentCert ??)" style="display:block; max-height:200px;margin-top:20px;"></a>
            </div>
          </div>
        #end  
       
		<div class="layui-form-item">
			<label class="layui-form-label">购买商品</label>
			<div class="layui-input-block">
			 #for(x:orderProductList)
				<input type="text"  placeholder="" class="layui-input"  readonly="readonly"
					value="#(x.buyNum ??)#(x.productUnit ??)#(x.productName ??)"  autocomplete="off" />
			 #end
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">留言</label>
			<div class="layui-input-block">
				<input type="text" placeholder="" class="layui-input" readonly="readonly"
					value="#(data.buyMsg ??)"  autocomplete="off" />
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>审核</label>
			<div class="layui-input-block">
			<input type="radio" name="order.state" value="2" title="通过" >
            <input type="radio" name="order.state" value="-1" title="不通过">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
