#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'agent', title: '代理商', width: 100, templet: '#joinTpl("agent", "agent")'}
                , {field: 'agentTypeName', title: '代理级别', width: 100, templet: '#joinTpl("agent_type", "agent_type")'}
                , {field: 'visit_num', title: '查看数', width: 100}
                , {field: 'apply_num', title: '申请数量', width: 100}
                , {field: 'level', title: '等级', width: 100, templet: '#dataTpl("LEVEL", "level")'}
                , {field: 'remarks', title: '备注信息', width: 100}
                /* , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器 */
            ]]
            , url: '#(ctxPath)/base/agent_invite/tableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/base/agent_invite/delete',
                        data: {id : data.id},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable();
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                pop_show('编辑任务','#(ctxPath)/base/agent_invite/update?id=' + data.id,'','', function(){
                    reloadTable();
                });
            }
        });

        $("#add").click(function(){
            pop_show('添加任务','#(ctxPath)/base/agent_invite/add','','', function(){
                reloadTable();
            });
        });

        reloadTable = function (agent,brand,agentType) {
            table.reload('dateTable', {
                url: '#(ctxPath)/base/agent_invite/tableData'
                ,where: {agent:agent,brand:brand,agentType:agentType} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.agent,data.field.brand,data.field.agentType);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });


</script>
#end

#define content()
    <div class="layui-fluid">
        <form id="searchForm" class="layui-form x-center" action="" >
            <div class="layui-form-pane">
                <div class="layui-form-item">
<!--                     <label class="layui-form-label">名称</label> -->
<!--                     <div class="layui-input-inline"> -->
<!--                         <input type="text" id="name" name="name" placeholder="" class="layui-input"/> -->
<!--                     </div> -->
                    
                    <label class="layui-form-label" style="width:150px;">代理商</label>
                    <div class="layui-input-inline">
                        <select id="agent" name="agent" lay-search="">
		                    <option></option>
		                    #for(x:agentList)
		                    	<option value="#(x.id)">#(x.name ??)</option>
		                    #end
		                </select>
                    </div>
                    
                    <label class="layui-form-label">代理级别</label>
                    <div class="layui-input-inline">
                        <select id="agentType" name="agentType">
		                    <option></option>
		                    #for(x:agentTypeList)
		                    	<option value="#(x.id)">#(x.name ??)</option>
		                    #end
		                </select>
                    </div>

                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">
                #shiroHasPermission('/base/agent_invite/add')
                <!-- <button id="add" class="layui-btn layui-btn-small">添加邀请分享</button> -->
                #end
                <button id="edit" onclick="reloadTable()" class="layui-btn layui-btn-small">刷新</button>
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/base/agent_invite/update')
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    #end
    #shiroHasPermission('/base/agent_invite/delete')
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    #end
</script>
#end