#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/agent_invite/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" name="data.id" value="#(data.id ??)">
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>代理商</label>
            <div class="layui-input-block">
            	<select id='agent' name="data.agent" lay-verify="required">
                    <option></option>
                    #for (x : agentList)
	                <option #(x.id == data.agent ? 'selected' : '') value="#(x.id)">#(x.name)</option>
	                #end
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>代理级别</label>
            <div class="layui-input-block">
            	<select id='agentType' name="data.agentType" lay-verify="required">
                    <option></option>
                    #for (x : agentTypeList)
	                <option #(x.id == data.agentType ? 'selected' : '') value="#(x.id)">#(x.name)</option>
	                #end
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>查看数</label>
            <div class="layui-input-block">
                <input type="text" name="data.visitNum" placeholder="查看数" class="layui-input" value="#(data.visitNum ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>申请数量</label>
            <div class="layui-input-block">
                <input type="text" name="data.applyNum" placeholder="申请数量" class="layui-input" value="#(data.applyNum ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>等级</label>
            <div class="layui-input-block">
            	<select name="data.level" lay-verify="required">
                    <option></option>
                    #option("LEVEL",data.level)
                </select>
            </div>
          </div>

		  <div class="layui-form-item">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <input type="text" name="data.remarks" placeholder="备注信息" class="layui-input" value="#(data.remarks ??)"  autocomplete="off"/>
            </div>
          </div>
          
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end