@charset "utf-8";

/* --- 公用样式 --- */
html{background:url(../images/back.jpg) no-repeat center top #EFEAD7; background-size:cover; color:#333; font-size:14px;}
p,span{line-height:100%;}
a{color:#333;}
a:hover{color:#BCB7A5;}
span{display:block;}
.clear{clear:both;}

/* --- 字体样式 --- */
@font-face{
    font-family:eng;
    src:url(../images/CenturyGothic.TTF);
    src:url(../images/CenturyGothic.eot)\9; 
}

@font-face {
  font-family: 'iconfont';  /* project id 654644 */
  src: url('http://at.alicdn.com/t/font_654644_a4t2s581997r2j4i.eot');
  src: url('http://at.alicdn.com/t/font_654644_a4t2s581997r2j4i.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_654644_a4t2s581997r2j4i.woff') format('woff'),
  url('http://at.alicdn.com/t/font_654644_a4t2s581997r2j4i.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_654644_a4t2s581997r2j4i.svg#iconfont') format('svg');
}


/*1024*/
@media screen and (min-width:1024px)  and  (max-width:2600px)  {

/* --- 公用样式 --- */

.pc{display:block;}
.wap{display:none;}
.left{float:left;}
.right{float:right;}
.img{ transition:all .6s ease; overflow:hidden;}
.img:hover{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
.wrap{max-width:62.5%; margin:0 auto;}


/* --- 登录 --- */
.login{max-width:1000px; margin:0 auto; overflow:hidden; background:url(../images/login-back.png) no-repeat center; margin-bottom:100px;}

/* logo */
.logo-pic{ text-align:center; margin-top:100px; margin-bottom:100px;}

/* 标题 */
.login .title{text-align:center; margin-bottom:50px;}
.login .title h1{ font-size:28px; font-weight:lighter; color:#635F4E; text-shadow : #E4DDBE 0px 5px 5px }


/* 表单 */
.login .form{max-width:600px; margin:0 auto;  border-bottom:1px solid #EFE8D1; padding-bottom:30px;}
.login .form li{margin-bottom:30px; position:relative; text-align:center;}
.login .form li:before{font-family: 'iconfont'; position:absolute; left:0; top:0; color:#BDBAAC; line-height:60px; width:60px; text-align:center; font-size:20px;  transition:all .3s ease;}
.login .form li:hover:before{color:#928D76; }

.login .form li.input-01:before{content:"\e627"; }
.login .form li.input-02:before{content:"\e60f"; }
.login .form li.input-04:before{content:"\e647"; }
.login .form li.input-05:before{content:"\e602"; }
.login .form li.input-06:before{content:"\e607"; }

.login .form li input{width:100%; height:60px; line-height:60px; border:1px solid #E8DDB9; border-radius:8px; padding-left:60px; color:#515250; transition:all .3s ease; font-size:16px;}
.login .form li input:focus{box-shadow: 10px 10px 20px #EEE6CC; border:1px solid #D2BE79;}
.login .form li em.forget{position:absolute; right:15px; line-height:62px; top:0; font-size:14px;}

.login .form li button{width:200px; height:50px; line-height:50px;  background:url(../images/button.png) no-repeat; border:none; text-align:center; color:#fff; cursor:pointer; box-shadow: 5px 8px 15px #C8C6BB; border-radius:8px; transition:all .1s ease; text-shadow : #333 0px 0px 5px;font-size:18px;}
.login .form li button:active{box-shadow: 5px 5px 10px #C8C6BB;}

/* 提示 */
.login .tips{max-width:600px; margin:0 auto; border-top:1px solid #fff; padding-top:30px;}
.login .tips p{line-height:200%; font-size:14px;}


/* --- 框架 --- */
.box{background:#fff; border-radius:10px;  box-shadow: 10px 10px 20px #EAE3C6; margin-top:100px; margin-bottom:100px; }


/* --- 头部 --- */
.header{height:100px; border-bottom:1px solid #efefef; position:relative; box-shadow: 0px 5px 10px #F6F6F6;}

/* logo */
.header .logo{background:#fff; width:126px; height:126px; border-radius:100%; text-align:center; line-height:123px; position:absolute; left:30px; top:-60px;}
.header .logo img{margin-top:30px;}

/* 栏目 */
.header .backstage{margin-left:200px; padding-top:20px; float:left;}
.header .backstage h1{font-size:28px; font-weight:lighter; margin-bottom:5px; color:#515250;} 
.header .backstage h1 a{color:#515250;}
.header .backstage p{font-size:16px; color:#999; font-family:eng;}

/* 用户 */
.header .user{float:right; margin-top:25px; margin-right:50px;}
.header .user .pic{float:left; border-radius:100%; overflow:hidden; width:50px;}
.header .user .text{float:left; margin-left:20px;}
.header .user .text p{line-height:180%;}

/* 其他 */
.other{float:right; margin-top:25px;}
.other li{float:left; height:50px; line-height:50px; width:70px; text-align:center; border-right:1px solid #efefef;}
.other li a em{background:#ff0000; width:10px; height:10px; border-radius:100%; position:absolute; right:-5px; top:-5px;}
.other li a{font-family:iconfont; font-size:30px; color:#C9AE5F;   transition:all .3s ease; position:relative;}
.other li a:hover{color:#515250;}
.other li:last-child{border:none;}




/* --- 首页 --- */
.home{overflow:hidden;  border-radius:0 0 10px 10px; }
.home li{float:left; width:25%; text-align:center; border-bottom:1px solid #efefef;border-right:1px solid #efefef;}
.home li .pic{font-family:iconfont; font-size:60px; color:#D4BF80; height:180px; line-height:180px;  transition:all .3s ease;  }
.home li .text h3{font-size:18px; margin-bottom:15px;}
.home li .text p{max-width:60%; margin:0 auto; line-height:180%; color:#999;}

.home li:nth-child(4){border-right:none;}
.home li:nth-child(8){border-right:none;}

.home li a{display:block; height:300px;  transition:all .3s ease;}
.home li a:hover{background:#F6F6FB; }
.home li a:hover .pic{ color:#515250;}



/* --- 后台框架 --- */
.page-box{overflow:hidden;}

/* 后台导航 */
.page-nav{float:left; width:15%; text-align:center; overflow:hidden; min-height:650px; position:relative; z-index:10; }
.page-nav li a{height:70px; line-height:70px; display:block; overflow:hidden; color:#333;}
.page-nav li a:hover,.page-nav li a.now{background:#D7C388; color:#fff;}
.page-nav li a:hover i,.page-nav li a.now i{color:#fff;}

.page-nav li a i{font-family:iconfont; font-size:30px; display:block; float:left; width:70px; color:#D4BF80;}
.page-nav li a em{display:block; float:left;}


/* 后台右侧 */
.page-content{float:right; width:85%;  border-left:1px solid #efefef; min-height:650px;}


/* 2018-5-18 */

/* 当前栏目 */
.page-content .column { padding:0 40px; position:relative;}
.page-content .column h2{font-size:24px; height:80px; line-height:80px; border-bottom:1px solid #efefef;}

.page-content .column .go-back{position:absolute; right:40px; top:0; line-height:80px; font-size:16px;}
.page-content .column .go-back:before{content:"\e603"; font-family:iconfont; color:#666;}

/* 2018-5-18 */



/* 切换 */
.page-content .tabs li{display:inline-block; height:40px; line-height:40px; background:#f5f5f5; border-radius:100px; padding-left:35px; padding-right:35px; margin-right:10px; cursor:pointer;}
.page-content .tabs li a{display:block;}
.page-content .tabs li.on{background:#BCB7A5; color:#fff;}
.page-content .tabs li.now{background:#BCB7A5;}
.page-content .tabs li.now a{ color:#fff;}


/* 分页 */
.showpage{text-align:center; margin-top:30px; margin-bottom:30px;}
.showpage a{border:1px solid #efefef; width:34px; height:34px; border-radius:5px; display:inline-block; line-height:34px; margin-left:2px; margin-right:2px;}
.showpage a.now{background:#BCB7A5; border:1px solid #BCB7A5; color:#fff;} 


/* 弹出 */
.back{background:#000; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.6); position:fixed; z-index:100; display:none;}



/* --- 消息 --- */
.message-list{padding:20px 40px;}

/* 列表 */
.message-list .list{overflow:hidden; height:700px; margin-top:20px;}
.message-list .list li{height:80px; line-height:80px; border-bottom:1px solid #efefef; position:relative;}
.message-list .list li a{}
.message-list .list li em{position:absolute; right:20px; top:0; line-height:80px; color:#999;}
.message-list .list li:before{content:"\e635"; font-family:iconfont; margin-right:10px;}
.message-list .list li.yes:before{ color:#ff0000}
.message-list .list li.no:before{ color:#ccc}


/* 内容 */
.message-content{max-width:80%; margin:0 auto;}
.message-content .title{text-align:center; margin-top:30px; margin-bottom:30px;}
.message-content .title h1{font-size:28px; margin-bottom:20px; font-weight:lighter; color:#333}
.message-content .title .date{ color:#999;}
.message-content .content p{line-height:200%; font-size:16px; margin-bottom:30px;}



/* --- 代理授权 --- */
.agency .text h2{font-size:64px; color:#fff; font-family:eng;}
.agency .text p{line-height:200%; color:#fff; font-size:16px;}
.agency .btn{margin-top:20px;}
.agency .btn a{background:#fff; height:50px; line-height:50px; padding-left:30px; padding-right:30px; border-radius:100px; display:inline-block; margin-right:15px; font-size:16px;}
.agency .btn a.see:before{content:"\e699"; margin-right:10px; font-family:iconfont; font-size:18px;}
.agency .btn a.link:before{content:"\e604"; margin-right:10px; font-family:iconfont; font-size:18px;}

.agency .vip{position:absolute; right:40px; bottom:40px; font-family:iconfont; font-size:100px; color:#fff;}

/* 微信代理授权 */
.weixin-agency{margin:40px; box-shadow: 5px 5px 20px #FED5D4; border-radius:10px; padding:40px 60px; min-height:356px; background:url(../images/weixin-daili.jpg) no-repeat; border-radius:20px; background-size:cover; position:relative;}
.weixin-agency .btn a{ box-shadow: 5px 5px 20px #FF868C;}

/* 下级代理列表 */
.sub-agency{margin:40px; box-shadow: 5px 5px 20px #D2E0F6; border-radius:10px; padding:40px 60px; min-height:356px; background:url(../images/xiaji-daili.jpg) no-repeat; border-radius:20px; background-size:cover; position:relative;}
.sub-agency .btn a{ box-shadow: 5px 5px 20px #A3B0E9;}


/* 查看代理证书 */
.agency-pop{left:0; top:0; width:100%; height:100%; position:fixed; z-index:100; display:none;}
.agency-pop-box{text-align:center; background:#fff; max-width:40%; margin:0 auto; padding:50px; margin-top:10%; border-radius:10px; height:700px; overflow:hidden; position:relative;}
.agency-pop-box img{width:100%;}
.agency-pop .close{font-family:iconfont; color:#fff; text-align:center; margin-top:50px; font-size:36px; cursor:pointer;}


/* 生成分享链接 */
.sub-agency-box{ background:#fff; max-width:40%; margin:0 auto; padding:0 50px;  border-radius:10px; margin-top:10%; overflow:hidden;}
.sub-agency-box h2{height:100px; line-height:100px; text-align:center; font-size:24px;}
.sub-agency-box select{width:100%; height:50px; line-height:50px; border:1px solid #ddd;  border-radius:5px; padding-left:10px; font-size:16px;}
.sub-agency-box .btn{text-align:center; margin-top:30px; margin-bottom:30px;}
.sub-agency-box .btn button{display:inline-block; margin-left:20px; margin-right:20px; border:none; border-radius:100px; padding-left:30px; padding-right:30px; height:40px; line-height:38px; cursor:pointer;}
.sub-agency-box .btn button.yes{ background:#BCB7A5; color:#fff;  border:1px solid #BCB7A5; }
.sub-agency-box .btn button.yes:hover{background:#D4BF80;  border:1px solid #D4BF80; }
.sub-agency-box .btn button.no{ background:#fff; color:#333;  border:1px solid #ddd; }
.sub-agency-box .btn button.no:hover{ background:#f5f5f5;}



/* 代理申请列表 */
.apply-list{padding:20px 40px;}
.apply-list .list{overflow:hidden; height:700px; margin-top:20px;}
.apply-list .list li{border-bottom:1px solid #efefef; padding-top:25px; padding-bottom:25px; overflow:hidden; position:relative;}
.apply-list .list li .pic{float:left; width:60px; height:60px; line-height:60px; text-align:center;border-radius:100px; color:#fff;}
.apply-list .list li .text{float:right; width:94%;}
.apply-list .list li .text h3{margin-bottom:10px; margin-top:5px;}
.apply-list .list li .text p{color:#999;}
.apply-list .list li .text p em{margin-right:15px;}
.apply-list .list li .text i{position:absolute; right:20px; top:25px; line-height:60px; color:#999;}

.apply-list .list li .pic.apply-zd{background: -webkit-linear-gradient(left, #FF9A9E , #FAD0C4); background: -o-linear-gradient(right,  #FF9A9E , #FAD0C4); background: -moz-linear-gradient(right, #FF9A9E , #FAD0C4); background: linear-gradient(to right,  #FF9A9E , #FAD0C4);}
.apply-list .list li .pic.apply-ty{background: -webkit-linear-gradient(left, #A6C1EE , #FBC2EB); background: -o-linear-gradient(right,  #A6C1EE , #FBC2EB); background: -moz-linear-gradient(right, #A6C1EE , #FBC2EB); background: linear-gradient(to right,  #A6C1EE , #FBC2EB);}



/* --- 查看下级代理 --- */
.sub-apply-list{padding:20px 40px;}
.sub-apply-list .list{overflow:hidden; height:700px; margin-top:20px;} 
.sub-apply-list .list li{float:left; width:48%; background:#f5f5f5; border-radius:10px; margin-right:2%; margin-bottom:2%;transition: all .2s ease; position:relative;}
.sub-apply-list .list li a{display:block; overflow:hidden; padding:30px; }
.sub-apply-list .list li .pic{float:left; width:118px; background:#fff; padding:4px; overflow:hidden;  border-radius:100px;  transition: all .2s ease;}
.sub-apply-list .list li .pic img{ border-radius:100%;}
.sub-apply-list .list li .text{float:right; width:68%;}
.sub-apply-list .list li .text h3{font-size:28px; font-family:eng;} 
.sub-apply-list .list li .text p{line-height:200%; color:#666;}
.sub-apply-list .list li .arrow{position:absolute; right:0px; top:45%; font-family:iconfont; font-size:36px; opacity:0; color:#fff; transition: all .2s ease; }


.sub-apply-list .list li:hover{background: -webkit-linear-gradient(left, #FF9A9E , #FAD0C4); background: -o-linear-gradient(right,  #FF9A9E , #FAD0C4); background: -moz-linear-gradient(right, #FF9A9E , #FAD0C4); background: linear-gradient(to right,  #FF9A9E , #FAD0C4); box-shadow: 10px 10px 20px #FFE1E3;}
.sub-apply-list .list li:hover .pic{box-shadow: 10px 10px 20px #FF888B;}
.sub-apply-list .list li:hover .text h3{color:#fff;}
.sub-apply-list .list li:hover .text p{color:#fff;}
.sub-apply-list .list li:hover .arrow{opacity:1; right:20px; }




/* --- 代理申请管理 --- */
.agent-apply-list{padding:20px 40px;}
.agent-apply-list .list{overflow:hidden; height:700px; margin-top:20px;} 
.agent-apply-list .list li{border-bottom:1px solid #efefef; overflow:hidden;  padding-top:30px; padding-bottom:30px;}
.agent-apply-list .list li .pic{float:left; width:90px; height:90px; padding:5px; border-radius:100%; overflow:hidden; box-shadow: 5px 0px 20px #ececec;}
.agent-apply-list .list li .pic img{ overflow:hidden;border-radius:100%;}
.agent-apply-list .list li .text{float:left; width:45%; margin-left:20px;} 
.agent-apply-list .list li .text h3{font-family:eng; font-size:28px; margin-bottom:10px; margin-top:15px;}
.agent-apply-list .list li .time{float:left; width:15%; line-height:90px; color:#999; }
.agent-apply-list .list li .pass{float:right; width:25%; text-align:right; margin-top:25px;padding-right:30px;}
.agent-apply-list .list li .pass a{border:1px solid #efefef; height:40px; line-height:40px; padding-left:30px; padding-right:30px; display:inline-block; border-radius:100px; margin-left:15px;}
.agent-apply-list .list li .pass a.yes{background:#BCB7A5; color:#fff; border:1px solid #BCB7A5; }
.agent-apply-list .list li .pass a.yes:hover{background:#D7C388;  border:1px solid #D7C388;}
.agent-apply-list .list li .pass a.no:hover{background:#f9f9f9;}




/* --- 查询发货单号 --- */
.query-odd{padding:20px 40px;}

/* 输入框 */
.query-odd .form{margin-top:50px; max-width:40%; margin:0 auto; margin-bottom:50px; margin-top:50px; position:relative;}
.query-odd .form input{border:1px solid #D5D1C6; width:100%; height:70px; line-height:70px;  border-radius:100px; padding-left:56px; font-size:16px; transition: all .3s ease; background:#fff;}
.query-odd .form:before{content:"\e6f2"; font-family:iconfont; position:absolute; left:0; width:56px; line-height:70px; top:0; text-align:center; color:#999; font-size:16px;}
.query-odd .form button{position:absolute; right:20px;  font-family:iconfont; top:0; line-height:70px; background:none; border:none; font-size:36px; color:#BCB7A5; cursor:pointer;}
.query-odd .form button:active{color:#333;}

.query-odd .form input:focus{border:1px solid #A29982; box-shadow: 5px 0px 20px #ececec; }


/* 查询结果 */ 
.query-odd .list li{background:#f5f5f5; border-radius:10px; padding:30px;}
.query-odd .list li p{line-height:250%; color:#666;}



/* --- 修改密码 --- */
.modify-password{ max-width:40%; margin:0 auto; margin-bottom:50px; margin-top:50px;}
.modify-password li{margin-bottom:20px; text-align:center;}
.modify-password li input{width:100%; height:60px; line-height:60px; border-radius:10px; border:1px solid #efefef; padding-left:50px; font-size:16px; transition: all .3s ease;}
.modify-password li:before{content:"\e60f";  font-family:iconfont; position:absolute; width:50px; text-align:center; line-height:60px; font-size:16px; color:#999; }
.modify-password li button{width:100px; height:40px; line-height:40px; text-align:center; background:#BCB7A5; color:#fff; border-radius:100px; border:none; cursor:pointer;}
.modify-password li button:hover{background:#D4BF80;}

.modify-password li input:focus{border:1px solid #A29982; box-shadow: 5px 0px 20px #ececec; }
.modify-password li:last-child:before{content:"";}




/* --- 个人信息 --- */
.user-info{background:#fff; margin:40px; border-radius:10px; box-shadow: 5px 0px 20px #ececec; overflow:hidden;}
.user-info .pic{float:left; width:25%;background: -webkit-linear-gradient(left, #FF9A9E , #FAD0C4); background: -o-linear-gradient(right,  #FF9A9E , #FAD0C4); background: -moz-linear-gradient(right, #FF9A9E , #FAD0C4); background: linear-gradient(to right,  #FF9A9E , #FAD0C4); text-align:center;  min-height:400px;}
.user-info .pic .pic-show{margin-top:20%; border-radius:100%;  }
.user-info .pic .pic-show img{background:#fff; padding:5px ;border-radius:100%; margin-bottom:20px;  box-shadow: 5px 5px 20px #FF888B;}
.user-info .pic .btn a{border:1px solid #fff; width:100px; height:40px; line-height:40px; display:block; margin:0 auto; color:#fff; position:relative; border-radius:100px;  cursor:pointer;}
.user-info .pic .btn a input{opacity:0; position:absolute; left:0; top:0; width:100%; height:100%; cursor:pointer;}
.user-info .pic .btn a:hover{background:#fff; color:#333;}

.user-info .data{float:right; width:75%; padding:30px 50px;}
.user-info .data li{font-size:16px; border-bottom:1px solid #efefef; padding-top:10px; padding-bottom:10px;}
.user-info .data li em{color:#999; display:inline-block; width:100px;}




/* --- 下拉 --- */
.select { position: relative; display: block; color: #cccccc; vertical-align: middle; text-align: left; user-select: none; -webkit-touch-callout: none; max-width:450px;}

/* 显示 */
.select .placeholder { position: relative; display: block;  z-index: 1;  border-radius: 10px; cursor: pointer; line-height:60px; height:60px; border:1px solid #D5D1C6; transition:all .3s ease; padding-left:15px; color:#333;}
.select .placeholder i{font-family:iconfont; text-align:center; font-size:18px; display:inline-block; color:#999; margin-right:15px;}
.select .placeholder:hover { border:1px solid #A29982;  box-shadow: 5px 0px 20px #ececec;}
.select .placeholder:after { position: absolute; right: 10px; top: 0%;  font-family: 'iconfont'; content: '\e6a6'; z-index: 10; }

/* 弹出 */
.select.is-open .placeholder:after { content: '\e6a5';}
.select.is-open ul { display: block;}

.select ul { display: none; position: absolute; overflow: hidden; width: 100%; background: #fff; border-radius: 10px; top: 100%; left: 0; list-style: none; margin: 5px 0 0 0; padding: 0; z-index: 100; border:1px solid #D5D1C6;}
.select ul li { display: block; text-align: left; padding: 0.8em 1em 0.8em 1em; color: #999; cursor: pointer; line-height:35px;}
.select ul li:hover { background: #F9F8F7; color: #333;}




/* --- 订货 --- */
.order-goods {padding:0px 40px;}

/* --- 订货 首页--- */
.order-goods-nav li{float:left; width:33.333%; text-align:center; border-bottom:1px solid #efefef; border-right:1px solid #efefef; }
.order-goods-nav li a{display:block; min-height:285px; transition:all .3s ease;}
.order-goods-nav li .pic{font-family:iconfont; font-size:60px; color:#D4BF80; height:180px; line-height:180px;  transition:all .3s ease;}
.order-goods-nav li .text h3{font-size:18px; margin-bottom:15px;}
.order-goods-nav li .text p{max-width:60%; margin:0 auto; line-height:180%; color:#999;}
.order-goods-nav li a:hover{background:#F6F6FB; }
.order-goods-nav li a:hover .pic{ color:#515250;}

.order-goods-nav li:nth-child(3){border-right:none;}
.order-goods-nav li:nth-child(6){border-right:none;}
.order-goods-nav li:nth-child(4){border-bottom:none;}
.order-goods-nav li:nth-child(5){border-bottom:none;}
.order-goods-nav li:nth-child(6){border-bottom:none;}


/* --- 订货 购物步骤 --- */
.shopping-cart-follow{background:#f9f9f9; overflow:hidden; padding-bottom:30px; border-radius:100px; max-width:85%; margin:0 auto; margin-top:30px; margin-bottom:30px;}
.shopping-cart-follow li{float:left; width:33.333%; text-align:center; position:relative;}
.shopping-cart-follow li .pic{font-family:iconfont; width:80px; height:80px; line-height:80px; text-align:center; color:#999; background:#eee; border-radius:100%; font-size:40px; margin:0 auto; margin-top:30px; margin-bottom:20px;}
.shopping-cart-follow li.now .pic{background: -webkit-linear-gradient(left, #FF9A9E , #FAD0C4); background: -o-linear-gradient(right,  #FF9A9E , #FAD0C4); background: -moz-linear-gradient(right, #FF9A9E , #FAD0C4); background: linear-gradient(to right,  #FF9A9E , #FAD0C4); color:#fff; box-shadow: 10px 10px 20px #FCE0DA;}
.shopping-cart-follow li:after{content:"\e605"; font-family:iconfont; position:absolute; right:0; right:-5px; font-size:24px; color:#eee; top:48%;}
.shopping-cart-follow li:last-child:after{content:"";}


/* --- 订货 购物列表 --- */
.shopping-cart-list {max-width:85%; margin:0 auto;}
.shopping-cart-list dl{border-bottom:1px solid #efefef; padding-top:35px;  padding-bottom:35px; }
.shopping-cart-list dt.th{float:left; width:15%; font-size:16px; line-height:60px;}
.shopping-cart-list dd.td{float:right; width:85%;}

/* 品牌 */
.shopping-cart-list .brand{position:relative;}

/* 产品 */
.shopping-cart-list .goods ul{width:105%;}
.shopping-cart-list .goods li{float:left; margin-right:20px; margin-bottom:30px}
.shopping-cart-list .goods li .pic{margin-bottom:10px;  border-radius:10px; overflow:hidden;}
.shopping-cart-list .goods li .pic img{background:#fff; padding:5px;}
.shopping-cart-list .goods li .text{}
.shopping-cart-list .goods li .text p{line-height:160%;}
.shopping-cart-list .goods li .checkbox{display:none;}
.shopping-cart-list .goods li .checkbox + label .p-box{ text-align:center; border:2px solid #efefef; padding:10px; width:215px; border-radius:10px; background:#fff; cursor:pointer; position:relative;}
.shopping-cart-list .goods li .checkbox:checked + label .p-box{border:2px solid #BCB7A5; box-shadow: 10px 10px 20px #f5f5f5;} 
.shopping-cart-list .goods li .checkbox:checked + label .p-box:after{content:"\e60b"; font-family:iconfont; position:absolute; right:-15px; top:-15px; font-size:24px; color:#fff; background:#BCB7A5; width:36px; height:36px; border-radius:100%;}
.shopping-cart-list .goods li .p-box:hover{box-shadow: 10px 10px 20px #f5f5f5;}



/* 2018-5-18 */

/* 数量 */
.shopping-cart-list .number{margin-top:20px; padding-left:8px;}
.shopping-cart-list .number input{height:40px; border:1px solid #D5D1C6; line-height:28px; text-align:center; float:left;}
.shopping-cart-list .number input.reduce,.shopping-cart-list .number input.add{width:40px; background:#F9F8F7; font-size:28px; cursor:pointer;}
.shopping-cart-list .number input.reduce{border-right:none;}
.shopping-cart-list .number input.reduce:hover{background:#f1f1f1;}
.shopping-cart-list .number input.add{border-left:none;}
.shopping-cart-list .number input.add:hover{background:#f1f1f1;}
.shopping-cart-list .number input.num{width:60px; font-size:18px; font-family:eng; font-weight:bold;}
.shopping-cart-list .number em{display:block; float:left; line-height:40px; margin-left:15px; font-size:16px;}

/* 2018-5-18 */



/* 打款方式 */
.shopping-cart-list .pay-way{margin-top:15px;}
.shopping-cart-list .pay-way li{overflow:hidden; width:80%; border-bottom:1px solid #efefef; padding-bottom:20px; margin-bottom:20px; font-size:16px;}
.shopping-cart-list .pay-way li .text{float:left;}
.shopping-cart-list .pay-way li .text p{line-height:200%;}
.shopping-cart-list .pay-way li .text em{color:#999; margin-right:15px; display:inline-block; width:80px; text-align:right;}
.shopping-cart-list .pay-way li .pic{float:right;}
.shopping-cart-list .pay-way li:last-child{border-bottom:none; margin-bottom:0; padding-bottom:0;}


/* ---- 2018 - 5 - 16  ----*/

/* 打款截图 */
.shopping-cart-list .upload {position: relative; }
.shopping-cart-list .upload input{position: absolute; font-size: 100px; right: 0;top: 0;opacity: 0; }

/*上传图片通用样式*/
.upload-ul{ position: relative; }
.upload-ul li{ position: relativev ; cursor: pointer; overflow: hidden; width:120px; float:left; height:120px; margin-right:15px; margin-bottom:15px;}

/*上传图片 上传按钮*/
.upload-pick{background:#BCB7A5; float:left; color:#fff;  width:120px; display:inline-block;  text-align:center; font-size:16px; position:relative; border-radius:10px; line-height:120px; height:120px;  overflow:hidden;}
.upload-pick:before{content:"\e632"; font-family:iconfont; position:absolute; top:-15px; font-size:48px; left:0; width:100%; text-align:center;}
.upload-pick:hover{ background:#D7C388}
.upload-pick em{display:block; padding-top:25px;}

/*上传图片 图片*/
.viewThumb{position:relative; width: 100%; height: 100%; overflow:hidden; padding:5px; border:1px solid #efefef;}
.viewThumb img{ width: 100%; height: 100%}

/*上传图片 图片上覆盖*/
.diyBar{ position: absolute;  top: 0; left: 0;width: 100%; height: 100%;  z-index: 3;}

/*上传图片 上传进度*/
.diyProgress{ position: absolute; left: 0; top:0; width: 100%; height: 24px; line-height:24px; font-size: 14px; text-align: center; color: #FFF; background:rgba(10,168,241,.7); z-index: 3; display:none;}

/*上传图片 删除、换位按钮*/
.diyControl{ position: absolute;  left: 0; bottom: 0; width: 100%; height:28px; line-height:28px; font-size: 14px; z-index: 3; background-color:rgba(0,0,0,0.5); }
.diyControl span{ width: 33.333% ; float:left;}
.diyControl span i{ display: block; opacity: 1; text-align:center;}
.diyControl span i:hover{ opacity: 1; cursor: pointer; }
.diyControl span i:before{font-family:iconfont; color:#fff; line-height:24px;}
.diyLeft i:before{ content:"\e660"; font-weight:bold; }
.diyCancel i:before{ content:"\e639";}
.diyRight i:before{ content:"\e65f"; font-weight:bold; }

/* ---- 2018 - 5 - 16  ----*/


/* 收货人信息 */
.shopping-cart-list .logistics input{height:60px; line-height:60px; line-height:58px;  border:1px solid #D5D1C6; transition:all .3s ease; padding-left:15px; width:400px; border-radius:10px; font-size:16px;}
.shopping-cart-list .logistics input:focus{ border:1px solid #A29982;  box-shadow: 5px 0px 20px #ececec;}
.shopping-cart-list .logistics textarea{ border:1px solid #D5D1C6; transition:all .3s ease; width:500px; padding:10px; border-radius:10px; font-size:16px; height:200px;}
.shopping-cart-list .logistics textarea:focus{ border:1px solid #A29982;  box-shadow: 5px 0px 20px #ececec;}


/* --- 订货 小计 --- */
.shopping-cart-subtotal{ overflow:hidden; margin-top:50px; margin-bottom:50px;}
.shopping-cart-subtotal .price{float:left; font-size:16px; line-height:50px;}
.shopping-cart-subtotal .price em{font-size:36px; font-family:eng; display:inline-block; line-height:100%; font-weight:bolder;}
.shopping-cart-subtotal .btn{float:right;}
.shopping-cart-subtotal .btn button{width:125px; height:50px; line-height:50px; text-align:center; background:#BCB7A5; border:none; border-radius:100px; font-size:16px; color:#fff; cursor:pointer;}
.shopping-cart-subtotal .btn button:active{background:#D7C388;}


/* --- 订货 我的订货价 --- */
.order-price{margin-top:80px; padding-bottom:30px; overflow:hidden;}

/* 选择品牌 */
.order-price .select{ margin:0 auto; font-size:16px; margin-bottom:50px;}

/* 产品列表 */
.order-price .list {max-width:80%; margin:0 auto;}
.order-price .list li{float:left; width:25%; margin-bottom:25px;}
.order-price .list li .p-box{border:1px solid #efefef; padding:10px; border-radius:10px; margin-right:20px; text-align:center; transition:all .3s ease}
.order-price .list li .p-box .pic{margin-bottom:10px;}
.order-price .list li .p-box .text p{line-height:160%;}
.order-price .list li .p-box .text p:last-child{color:#FF0000;}
.order-price .list li .p-box:hover{box-shadow: 10px 10px 20px #f5f5f5; border:1px solid #ddd;}


/* --- 订货 我的订单 --- */
.order-goods .tabs{margin-top:20px;}

.my-order-list{margin-top:30px; height:700px; overflow:hidden;}
.my-order-list li{overflow:hidden; border-bottom:1px solid #efefef; padding-bottom:20px; margin-bottom:20px; position:relative;  transition:all .3s ease}
.my-order-list li .pic{float:left; margin-right:20px;}
.my-order-list li .pic img{border:1px solid #efefef; padding:15px; border-radius:10px; transition:all .3s ease}
.my-order-list li .text h3{font-size:24px; margin-bottom:10px;}
.my-order-list li .text p{line-height:180%; color:#666;}
.my-order-list li .text em.state{position:absolute; left:50%; top:45%; font-size:16px;}
.my-order-list li .text em.state.yfh{ color:#00CC00;}
.my-order-list li .text em.state.wfh{ color:#FF3333;}
.my-order-list li .text em.more{position:absolute; right:20px; top:45%;}
.my-order-list li .text em.more:after{content:"\e605"; font-family:iconfont; margin-left:5px; color:#999;}

.my-order-list li:hover{border-bottom:1px solid #ddd;}
.my-order-list li:hover .pic img{border:1px solid #BCB7A5; }


/* --- 订货 我的订单 详情--- */
.order-goods-content dl{padding-top:5px; padding-bottom:5px;}
.shopping-cart-list .order-content p{font-size:16px; line-height:60px;}
.shopping-cart-list .order-content .upload-img img{width:300px; margin-top:30px; margin-bottom:30px;}
.shopping-cart-list .order-content ul{margin-top:20px;}
.shopping-cart-list .order-content li{float:left; width:25%; margin-bottom:20px;}
.shopping-cart-list .order-content li .pic{margin-bottom:20px; width:90%;}
.shopping-cart-list .order-content li .pic img{border:1px solid #efefef; padding:10px; border-radius:10px;}
.shopping-cart-list .order-content li .text{width:90%; text-align:center;}
.shopping-cart-list .order-content li .text p{line-height:180%; font-size:14px; color:#666;}




/* --- 发货 --- */
.the-delivery{padding:20px 40px; position:relative; }

/* 添加单号 */
.the-delivery .add-order-number{position:absolute; top:-60px; right:40px;} 
.the-delivery .add-order-number li{float:left; margin-left:50px; font-size:16px;}
.the-delivery .add-order-number li:before{ font-family:iconfont; font-size:20px; margin-right:10px;}
.the-delivery .add-order-number li.entry:before{content:"\e64c";}
.the-delivery .add-order-number li.manual:before{content:"\e8fe";}

/* 状态 */
.the-delivery .state{background:#f9f9f9; padding:0 20px; height:60px;}
.the-delivery .state span{color:#999; line-height:60px;}
.the-delivery .state span em{margin-left:20px;}


/* 2018-5-21 */

/* 单号 */
.the-delivery .order-number{max-width:60%; margin:0 auto; text-align:center; display:none;}
.the-delivery .order-number .text{font-size:24px; height:120px; line-height:120px;}
.the-delivery .order-number .form{}

/* 输入框 */
.the-delivery .order-number .form{margin-bottom:60px;position:relative;}
.the-delivery .order-number .form input{border:1px solid #D5D1C6; width:100%; height:70px; line-height:70px;  border-radius:100px; padding-left:56px; font-size:16px; transition: all .3s ease; background:#fff;}
.the-delivery .order-number .form:before{content:"\e6f2"; font-family:iconfont; position:absolute; left:0; width:56px; line-height:70px; top:0; text-align:center; color:#999; font-size:16px;}
.the-delivery .order-number .form button{position:absolute; right:20px;  font-family:iconfont; top:0; line-height:70px; background:none; border:none; font-size:36px; color:#BCB7A5; cursor:pointer;}
.the-delivery .order-number .form button:active{color:#333;}
.the-delivery .order-number .form input:focus{border:1px solid #A29982; box-shadow: 5px 0px 20px #ececec; }

/* 2018-5-21 */


/* 代理商列表 */
.the-delivery .search-agent-list{height:400px; overflow:hidden; padding-top:25px;  display:none;}
.the-delivery .search-agent-list ul{}
.the-delivery .search-agent-list li{float:left; width:190px; margin-right:20px; margin-bottom:25px;}
.the-delivery .search-agent-list li .p-box{ }
.the-delivery .search-agent-list li .p-box h3{font-size:24px; margin-bottom:5px;}
.the-delivery .search-agent-list li .p-box p{line-height:200%; color:#999;}
.the-delivery .search-agent-list li .checkbox{display:none;}
.the-delivery .search-agent-list li .checkbox + label .p-box{ text-align:center; border:2px solid #efefef; padding:10px; border-radius:10px; background:#fff; cursor:pointer; position:relative; background:#f9f9f9;}
.the-delivery .search-agent-list li .checkbox:checked + label .p-box{border:2px solid #BCB7A5; box-shadow: 10px 10px 20px #f5f5f5; background:#fff;} 
.the-delivery .search-agent-list li .checkbox:checked + label .p-box:after{content:"\e60b"; font-family:iconfont; position:absolute; right:-15px; top:-15px; font-size:24px; color:#fff; background:#BCB7A5; width:36px; height:36px; border-radius:100%;}

/* 操作 */
.the-delivery  .order-operation{ border-top:1px solid #efefef; margin-top:40px; padding-top:20px;  overflow:hidden;}
.the-delivery  .order-operation .left a{display:block; float:left; margin-right:30px; font-size:18px; position:relative; padding-left:40px; line-height:50px;}
.the-delivery  .order-operation .left a:before{ font-family:iconfont; font-size:28px; margin-right:10px; position:absolute; left:0;}
.the-delivery  .order-operation .left a.weixin:before{content:"\e647";}
.the-delivery  .order-operation .left a.infra-red:before{content:"\e6b4";}

.the-delivery  .order-operation .btn{float:right;}
.the-delivery  .order-operation .btn button{width:125px; height:50px; border-radius:100px; margin-left:20px; cursor:pointer;}
.the-delivery  .order-operation .btn button.del{border:1px solid #efefef; background:none;} 
.the-delivery  .order-operation .btn button.del:active{background:#f9f9f9; border:1px solid #efefef; }
.the-delivery  .order-operation .btn button.ok{border:1px solid #BCB7A5; background:#BCB7A5; color:#fff;}  
.the-delivery  .order-operation .btn button.ok:active{background:#D7C388; border:1px solid #D7C388; }




/* 2018-5-21 */

/* --- 弹出 --- */
.pop-content{position:fixed; left:0; top:0; width:100%; height:100%; z-index:150; display:none;} 
.pop-content .btn{text-align:center;}
.pop-content .btn button{height:35px; line-height:33px; padding-left:30px; padding-right:30px; background:none; border:none; border-radius:100px; margin-left:15px; margin-right:15px; cursor:pointer}
.pop-content .btn button.del{border:1px solid #efefef;}
.pop-content .btn button.del:active{background:#f9f9f9;}
.pop-content .btn button.ok{border:1px solid #BCB7A5; background:#BCB7A5; color:#fff;}
.pop-content .btn button.ok:active{background:#D7C388;}

/* 连扫设置 */
.pop-scanning{background:#fff; width:500px; margin:20% auto; box-shadow: 0px 0px 20px #ccc; padding:20px; border-radius:10px; display:none;}
.pop-scanning h3{margin-bottom:20px;}
.pop-scanning .text{margin-bottom:20px;}
.pop-scanning .text input{width:100%; height:45px; border:1px solid #efefef; padding-left:15px;}
.pop-scanning .text input:focus{border:1px solid #ccc;}

/* 手工录入 */
.manual-order {text-align:center; overflow:hidden; padding-bottom:50px ;  display:none;}
.manual-order .form{width:60%; margin:0 auto; position:relative; margin-top:50px; }
.manual-order .form input{width:80%; float:left; border:1px solid #D5D1C6; height:68px; line-height:68px; border-radius:100px; padding-left:56px; font-size:16px; transition: all .3s ease; }
.manual-order .form input:focus{border:1px solid #A29982; box-shadow: 5px 0px 20px #ececec; }
.manual-order .form:before{content:"\e8fe"; font-family:iconfont; position:absolute; left:0; width:56px; line-height:70px; top:0; text-align:center; color:#999; font-size:16px;}
.manual-order .form button{float:right; width:18%; height:68px; line-height:68px; border-radius:100px; border:none; font-size:16px; background:#BCB7A5; color:#fff; cursor:pointer;}
.manual-order .form button:active{background:#D7C388;}

/* 2018-5-21 */




}





/* 1024 - 1680 */
@media screen and (min-width:1024px)  and  (max-width:1680px)  {

/* --- 公用样式 --- */
.wrap{max-width:80%;}

/* --- 查询发货单号 --- */

/* 输入框 */
.query-odd .form{max-width:60%; }

/* --- 修改密码 --- */
.modify-password{ max-width:60%; }


/* 查看代理证书 */
.agency-pop-box{height:600px;}


/* --- 代理授权 --- */

/* 代理申请列表 */
.apply-list .list li .text{width:88%;}


/* --- 订货 我的订单 --- */
.my-order-list li .text em.state{left:70%;}


}



@media screen and (min-width:1024px)  and  (max-width:1359px)  {

/* --- 查看下级代理 --- */
.sub-apply-list .list li .pic{float:none; margin:0 auto; margin-bottom:15px;}
.sub-apply-list .list li .text{width:100%; float:none; text-align:center;}
.sub-apply-list .list li .text h3{font-size:24px;}

/* --- 代理申请管理 --- */
.agent-apply-list .list li .text{width:34%;} 
.agent-apply-list .list li .text h3{font-size:24px;}
.agent-apply-list .list li .time{width:20%;}
.agent-apply-list .list li .pass{width:31%; }
.agent-apply-list .list li .pass a{padding-left:20px;  padding-right:20px; margin-left:10px;}




}


/* 1920 */
@media screen and (min-width:1681px)  and  (max-width:1920px)  {

/* --- 公用样式 --- */
.wrap{max-width:70%;}

/* --- 查询发货单号 --- */

/* 输入框 */
.query-odd .form{max-width:50%; }

}



/* 1680 */
@media screen and (min-width:1680px)  and  (max-width:1919px)  {

/* --- 订货 购物列表 --- */
/* 产品 */
.shopping-cart-list .goods li{ margin-right:25px;}


/* --- 代理授权 --- */

/* 产品 */
.shopping-cart-list .goods li{float:left; margin-right:15px; margin-bottom:20px}

	
}


/* 1550 */
@media screen and (min-width:1500px)  and  (max-width:1679px)  {


/* --- 代理申请管理 --- */
.agent-apply-list .list li .text{width:35%;} 
.agent-apply-list .list li .time{width:20%;}
.agent-apply-list .list li .pass{width:31%;}
.agent-apply-list .list li .pass a{margin-left:10px;}


/* --- 查看下级代理 --- */
.sub-apply-list .list li .text{width:65%;}


/* --- 代理授权 --- */
/* 代理申请列表 */
.apply-list .list li .text{width:90%;}


/* --- 个人信息 --- */
.user-info .pic .pic-show{margin-top:40%;}


/* 2018-5-18 */

/* --- 订货 购物列表 --- */
/* 产品 */
.shopping-cart-list .goods li{ margin-right:15px;}

/* 数量 */
.shopping-cart-list .number{margin-top:20px; padding-left:6px;}

/* 2018-5-18 */

}




/* 1440 */
@media screen and (min-width:1440px)  and  (max-width:1499px)  {
	
	
/* 后台导航 */
.page-nav{ width:17%; }

/* 后台右侧 */
.page-content{width:83%; }

	
/* --- 订货 购物列表 --- */

/* 产品 */
.shopping-cart-list .goods li{margin-right:15px;}
.shopping-cart-list .goods li .checkbox + label .p-box{padding:8px; width:200px;}

/* 数量 */
.shopping-cart-list .number{margin-top:20px; padding-left:0px;}


/* --- 代理授权 --- */

/* 代理申请列表 */
.apply-list .list li .text{width:90%;}

}
	


/* 1360 */
@media screen and (min-width:1360px)  and  (max-width:1439px)  {

/* 后台导航 */
.page-nav{ width:17%; }

/* 后台右侧 */
.page-content{width:83%; }

/* --- 查看下级代理 --- */
.sub-apply-list .list li .text{width:58%;}
.sub-apply-list .list li .text h3{font-size:24px;}


/* --- 发货 --- */

/* 代理商列表 */
.the-delivery .search-agent-list li{float:left; width:180px; margin-right:15px; margin-bottom:25px;}


/* --- 订货 购物列表 --- */

/* 产品 */
.shopping-cart-list .goods li{margin-right:15px;}
.shopping-cart-list .goods li .checkbox + label .p-box{padding:8px; width:185px;}


/* --- 代理授权 --- */

/* 代理申请列表 */
.apply-list .list li .text{width:90%;}


}



/* 1280 */
@media screen and (min-width:1280px)  and  (max-width:1359px)  {


/* 后台导航 */
.page-nav{ width:18%; }

/* 后台右侧 */
.page-content{width:82%; }


/* --- 代理申请管理 --- */
.agent-apply-list .list li .text{width:35%;} 
.agent-apply-list .list li .time{width:20%;}
.agent-apply-list .list li .pass{width:31%;}
.agent-apply-list .list li .pass a{margin-left:10px;}


/* --- 查看下级代理 --- */
.sub-apply-list .list li .text{}


/* --- 代理授权 --- */

/* 代理申请列表 */
.apply-list .list li .text{width:88%;}


/* --- 个人信息 --- */
.user-info .pic .pic-show{margin-top:40%;}


/* --- 发货 --- */

/* 代理商列表 */
.the-delivery .search-agent-list li{float:left; width:170px; margin-right:15px; margin-bottom:25px;}



/* 2018-5-18 */

/* --- 订货 购物列表 --- */

/* 产品 */
.shopping-cart-list .goods li{margin-right:15px;}
.shopping-cart-list .goods li .checkbox + label .p-box{padding:5px; width:170px;}

/* 数量 */
.shopping-cart-list .number{margin-top:20px;}
.shopping-cart-list .number input{height:35px; border:1px solid #D5D1C6; line-height:28px; text-align:center; float:left;}
.shopping-cart-list .number input.reduce,.shopping-cart-list .number input.add{width:30px; background:#F9F8F7; font-size:24px; cursor:pointer;}
.shopping-cart-list .number input.reduce{border-right:none;}
.shopping-cart-list .number input.reduce:hover{background:#f1f1f1;}
.shopping-cart-list .number input.add{border-left:none;}
.shopping-cart-list .number input.add:hover{background:#f1f1f1;}
.shopping-cart-list .number input.num{width:50px; font-size:18px; font-family:eng; font-weight:bold;}
.shopping-cart-list .number em{display:block; float:left; line-height:40px; margin-left:15px; font-size:16px;}

/* 2018-5-18 */



/* --- 订货 购物列表 --- */
.shopping-cart-list {max-width:90%; margin:0 auto;}
.shopping-cart-list dt.th{font-size:14px;}

/* 收货人信息 */
.shopping-cart-list .logistics input{font-size:14px;}
.shopping-cart-list .logistics textarea{font-size:14px;}

/* --- 订货 购物步骤 --- */
.shopping-cart-follow{ max-width:90%;}



}


/* 1024 */

@media screen and (min-width:1024px)  and  (max-width:1279px)  {
	
/* logo */
.logo-pic{ text-align:center; margin-top:50px; margin-bottom:50px;}

/* --- 首页 --- */
.home li .pic{height:160px; line-height:160px; }


/* 后台导航 */
.page-nav{ width:22%; }

/* 后台右侧 */
.page-content{width:78%; }


/* --- 代理申请管理 --- */
.agent-apply-list .list li .pic{float:none; text-align:center; margin:0 auto}
.agent-apply-list .list li .text{float:none; width:100%; margin-left:0; text-align:center;} 
.agent-apply-list .list li .text h3{font-size:24px;}
.agent-apply-list .list li .time{float:none; width:100%; text-align:center;}
.agent-apply-list .list li .pass{float:none; width:100%; text-align:center; padding-right:0;}
.agent-apply-list .list li .pass a{padding-left:20px;  padding-right:20px; margin-left:10px; margin-right:10px;}


/* --- 代理授权 --- */
/* 代理申请列表 */
.apply-list .list li .text{width:87%;}


/* --- 个人信息 --- */
.user-info .pic .pic-show{margin-top:60%;}
.user-info .pic .pic-show img{width:100px;}



/* --- 订货 首页--- */
.order-goods-nav li .pic{ height:160px; line-height:160px; }


/* --- 订货 我的订货价 --- */

/* 产品列表 */
.order-price .list {max-width:100%; margin:0 auto;}
.order-price .list li{float:left; width:33.333%; margin-bottom:25px;}


/* --- 订货 购物步骤 --- */
.shopping-cart-follow{ max-width:100%;}


/* --- 订货 购物列表 --- */
.shopping-cart-list {max-width:100%; margin:0 auto;}
.shopping-cart-list dl{border-bottom:1px solid #efefef; padding-top:30px;  padding-bottom:30px; }
.shopping-cart-list dt.th{float:left; width:15%; font-size:14px; line-height:60px;}
.shopping-cart-list dd.td{float:right; width:85%;}

/* 打款方式 */
.shopping-cart-list .pay-way li{font-size:14px;}
.shopping-cart-list .pay-way li .text{float:none;}
.shopping-cart-list .pay-way li .pic{float:none; margin-top:20px; margin-left:20px;}

/* 收货人信息 */
.shopping-cart-list .logistics input{font-size:14px;}
.shopping-cart-list .logistics textarea{font-size:14px; width:400px;} 


/* --- 订货 我的订单 详情--- */
.order-goods-content dl{padding-top:5px; padding-bottom:5px;}
.shopping-cart-list .order-content .upload-img img{width:300px; margin-top:20px; margin-bottom:20px;}
.shopping-cart-list .order-content li{float:left; width:33.333%;}


/* --- 订货 我的订单 --- */
.my-order-list li .text h3{font-size:18px; margin-bottom:8px;}
.my-order-list li .text p{line-height:160%; color:#666;}



}

