@charset "utf-8";
/*wap*/
@media screen and (min-width:0px)  and  (max-width:1023px)  {
html{font-size:62.5%}
.pc{display:none;}
.wap{display:block;}
@media only screen and (min-width:321px) {html {font-size:62.5%!important}}
@media only screen and (min-width:361px) {html {font-size:70.31%!important}}
@media only screen and (min-width:376px) {html {font-size:73.24%!important}}
@media only screen and (min-width:481px) {html {font-size:94%!important}}
@media only screen and (min-width:561px) {html {font-size:109%!important}}
@media only screen and (min-width:641px) {html {font-size:125%!important}}


/* --- 公用样式 --- */
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 

/* --- 登录 --- */
.login{overflow:hidden; background:url(../images/login-back.png) no-repeat left;}

/* logo */
.logo-pic{ text-align:center; margin-top:3rem; margin-bottom:3rem;}
.logo-pic img{width:5rem;}

/* 标题 */
.login .title{text-align:center; margin-bottom:2rem;}
.login .title h1{ font-size:1.8rem; font-weight:lighter; color:#635F4E; text-shadow : #E4DDBE 0px 5px 5px }

/* 表单 */
.login .form{max-width:80%; margin:0 auto;  border-bottom:1px solid #EFE8D1; padding-bottom:1.5rem;}
.login .form li{margin-bottom:1.5rem; position:relative; text-align:center;}
.login .form li:before{font-family: 'iconfont'; position:absolute; left:0; top:0; color:#BDBAAC; line-height:3.8rem; width:3.5rem; text-align:center; font-size:1.6rem;  transition:all .3s ease;}
.login .form li:hover:before{color:#928D76; }
.login .form li.input-01:before{content:"\e627"; }
.login .form li.input-02:before{content:"\e60f"; }

.login .form li input{width:100%; height:4rem; line-height:3.8rem; border:1px solid #E8DDB9; border-radius:8px; padding-left:3.5rem; color:#515250; transition:all .3s ease; font-size:1.2rem;}
.login .form li input:focus{box-shadow: 10px 10px 20px #EEE6CC; border:1px solid #D2BE79;}
.login .form li em.forget{position:absolute; right:1rem; line-height:3.3rem; top:0;  font-size:1.2rem;}

.login .form li button{width:10rem; height:3.5rem; line-height:3.5rem;  background:url(../images/button.png) no-repeat; border:none; text-align:center; color:#fff; cursor:pointer; box-shadow: 5px 8px 15px #C8C6BB; border-radius:8px; transition:all .1s ease; text-shadow : #333 0px 0px 5px;  font-size:1.4rem; background-size:cover; margin-top:1.5rem;}
.login .form li button:active{box-shadow: 5px 5px 10px #C8C6BB;}

/* 提示 */
.login .tips{max-width:80%; margin:0 auto; border-top:1px solid #fff; padding-top:1.5rem; margin-bottom:3rem;}
.login .tips p{line-height:180%; font-size:1.2rem; margin-bottom:1rem;}



/* --- 框架 --- */
.box{ box-shadow: 10px 10px 20px #EAE3C6;}

/* --- 头部 --- */
.header{position:relative; background:#fff; margin:1.5rem; border-radius:1rem; padding:1rem 0; overflow:hidden; box-shadow: 10px 10px 20px #EAE3C6;}


/* logo */
.header .logo{ width:20%; float:left; border-right:1px solid #f5f5f5; text-align:center; height:5.5rem;} 
.header .logo img{max-width:3rem;}

/* 栏目 */
.header .backstage{ display:none;}
.header .backstage h1{font-size:28px; font-weight:lighter; margin-bottom:5px; color:#515250;} 
.header .backstage h1 a{color:#515250;}
.header .backstage p{font-size:16px; color:#999; font-family:eng;}

/* 用户 */
.header .user{float:left; position:relative; width:20%; text-align:center; height:5.5rem;}
.header .user .pic{ border-radius:100%; overflow:hidden; width:3rem; height:3rem; margin:0 auto; margin-top:.5rem; }
.header .user .pic img{ width:100%;}
.header .user .text{display:none; position:absolute; left:0; width:100%; top:0; background:#fff;}
.header .user .text p{line-height:150%; font-size:1.2rem;}
.header .user .text p:last-child{border:none;}

.header .user:before{content:"\e631"; font-family:iconfont; font-size:1.4rem; position:absolute; bottom:-.8rem; text-align:center; width:100%; left:0; }

.wap-user{background:#fff;  margin:1.5rem; padding:1.5rem; border-radius:1rem; display:none;  box-shadow: 10px 10px 20px #EAE3C6;}
.wap-user p{ line-height:200%; font-size:1.4rem;}


/* 其他 */
.other{ width:60%; float:right; }
.other li{float:left; height:5.5rem; line-height:5.5rem; width:33.333%; text-align:center; border-left:1px solid #f5f5f5;}
.other li a em{background:#ff0000; width:10px; height:10px; border-radius:100%; position:absolute; right:-5px; top:-5px;}
.other li a{font-family:iconfont; font-size:2.8rem; color:#C9AE5F; transition:all .3s ease; position:relative;}
.other li a:hover{color:#515250;}


/* 导航 */
.wap-nav{}
.drawer-nav{z-index:200;}
.drawer-nav li{text-align:center; border-bottom:1px solid #efefef; font-size:1.5rem; float:left; width:50%; border-right:1px solid #efefef;}
.drawer-nav li a{display:block; padding-bottom:1rem;}
.drawer-nav li i{font-family:iconfont; display:block; font-size:3.2rem; line-height:100%; margin-top:1.8rem; margin-bottom:1.5rem; color:#D4BF80;}


/* --- 首页 --- */
.home{overflow:hidden;  border-radius:0 0 10px 10px; margin:1.5rem; background:#fff; border-radius:1rem; }
.home li{float:left; width:50%; text-align:center; border-bottom:1px solid #efefef; border-right:1px solid #efefef; }
.home li .pic{font-family:iconfont; font-size:4rem; color:#D4BF80; transition:all .3s ease; line-height:8rem;}
.home li .text h3{font-size:1.4rem; margin-bottom:1rem;}
.home li .text p{max-width:80%; margin:0 auto; line-height:150%; height:6rem; font-size:1.2rem;}

.home li:nth-child(2){border-right:none;}
.home li:nth-child(4){border-right:none;}
.home li:nth-child(6){border-right:none;}
.home li:nth-child(8){border-right:none;border-bottom:none;}
.home li:nth-child(7){border-bottom:none;}

.home li a{display:block; transition:all .3s ease;}
.home li a:hover{background:#fafafa; }
.home li a:hover .pic{ color:#515250;}




/* --- 后台框架 --- */
.page-box{overflow:hidden; }

/* 后台导航 */
.page-nav{ display:none;} 


/* 后台右侧 */
.page-content{background:#fff; margin:0 1.5rem 1.5rem 1.5rem;  border-radius:1rem; border-radius:10px;  padding:0 1.5rem;  padding-bottom:1.5rem;  box-shadow: 10px 10px 20px #EAE3C6;}


/* 当前栏目 */
.page-content .column {position:relative;}
.page-content .column h2{font-size:1.8rem; border-bottom:1px solid #efefef; padding-top:1.5rem; padding-bottom:1.5rem; font-weight:bold;}
.page-content .column .go-back{ position:absolute; right:0; top:0; padding-top:1.5rem; padding-bottom:1.5rem; line-height:2.8rem; font-size:1.4rem;}
.page-content .column .go-back:before{content:"\e603"; font-family:iconfont; color:#666;}


/* 切换 */
.page-content .tabs{overflow:hidden; margin-top:1rem; margin-bottom:.5rem;}
.page-content .tabs li{ float:left; height:3rem; line-height:3.3rem; background:#f5f5f5; cursor:pointer; width:33.333%; text-align:center; font-size:1.4rem;}
.page-content .tabs li a{display:block;}
.page-content .tabs li.on{background:#BCB7A5; color:#fff;}
.page-content .tabs li.now{background:#BCB7A5;}
.page-content .tabs li.now a{ color:#fff;}


/* 分页 */
.showpage{text-align:center; margin-top:1.5rem;}
.showpage a{border:1px solid #efefef; width:3rem; height:3rem; border-radius:5px; display:inline-block; line-height:3rem; margin-left:.2rem; margin-right:.2rem; font-size:1.4rem;}
.showpage a.now{background:#BCB7A5; border:1px solid #BCB7A5; color:#fff;} 


/* 弹出 */
.back{background:#000; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.6); position:fixed; z-index:100; display:none;}



/* --- 消息 --- */
.message-list{ }

/* 列表 */
.message-list .list{overflow:hidden;}
.message-list .list li{border-bottom:1px solid #efefef; position:relative; padding-top:1.5rem; padding-bottom:1.5rem ; overflow:hidden; padding-left:1.5rem; }
.message-list .list li a{overflow:hidden; display:block; font-size:1.5rem; line-height:150%;}
.message-list .list li em{color:#ccc; display:block; font-size:1.2rem;} 
.message-list .list li:before{content:"\e635"; font-family:iconfont;position:absolute; left:0; top:1.8rem;}
.message-list .list li.yes:before{ color:#ff0000}
.message-list .list li.no:before{ color:#ccc}


/* 内容 */
.message-content{ padding:1.5rem;}
.message-content .title{text-align:center; margin-top:1.5rem; margin-bottom:1.5rem;}
.message-content .title h1{font-size:2rem; margin-bottom:1.6rem; font-weight:lighter; color:#333; font-weight:bold;}
.message-content .title .date{ color:#ccc; font-size:1.2rem;}
.message-content .content p{line-height:200%;  margin-bottom:2rem; font-size:1.5rem;}



/* --- 代理授权 --- */
.agency .text h2{font-size:3.2rem; color:#fff; font-family:eng; margin-bottom:1.5rem;}
.agency .text p{line-height:180%; color:#fff; font-size:1.4rem;}
.agency .btn{margin-top:20px;}
.agency .btn a{background:#fff; height:3.5rem; line-height:3.5rem; padding-left:1.5rem; padding-right:1.5rem; border-radius:100px; display:inline-block; margin-bottom:1.5rem; font-size:1.4rem;}
.agency .btn a.see:before{content:"\e699"; margin-right:10px; font-family:iconfont; font-size:1.4rem;}
.agency .btn a.link:before{content:"\e604"; margin-right:10px; font-family:iconfont; font-size:18px;}

.agency .vip{position:absolute; right:1.5rem; top:1.5rem; font-family:iconfont; font-size:2.4rem; color:#fff;}


/* 微信代理授权 */
.weixin-agency{margin:1.5rem; box-shadow: 5px 5px 20px #FED5D4; padding:1.5rem 2rem; background: -webkit-linear-gradient(left, #FF9A9E , #FAD0C4); background: -o-linear-gradient(right,  #FF9A9E , #FAD0C4); background: -moz-linear-gradient(right, #FF9A9E , #FAD0C4); background: linear-gradient(to right,  #FF9A9E , #FAD0C4); border-radius:1rem; position:relative;}
.weixin-agency .btn a{ box-shadow: 5px 5px 20px #FF868C;}


/* 下级代理列表 */
.sub-agency{margin:1.5rem; box-shadow: 5px 5px 20px #D2E0F6; border-radius:1rem; padding:1.5rem 2rem; background: -webkit-linear-gradient(left, #A6C1EE , #FBC2EB); background: -o-linear-gradient(right,  #A6C1EE , #FBC2EB); background: -moz-linear-gradient(right, #A6C1EE , #FBC2EB); background: linear-gradient(to right,  #A6C1EE , #FBC2EB); position:relative;}
.sub-agency .btn a{ box-shadow: 5px 5px 20px #A3B0E9;}


/* 查看代理证书 */
.agency-pop{left:0; top:0; width:100%; height:100%; position:fixed; z-index:100; display:none;}
.agency-pop-box{text-align:center; background:#fff; padding:1.5rem; margin-top:10%; border-radius:10px; overflow:hidden; position:relative; margin:1.5rem;}
.agency-pop-box img{width:100%;}
.agency-pop .close{font-family:iconfont; color:#fff; text-align:center; margin-top:1.5rem; font-size:1.5rem; cursor:pointer;}


/* 生成分享链接 */
.sub-agency-box{ background:#fff; padding:1.5rem; border-radius:1rem; overflow:hidden; margin:1.5rem;}
.sub-agency-box h2{text-align:center; font-size:1.8rem; padding-bottom:1.5rem;}
.sub-agency-box select{width:100%; height:3.5rem; line-height:3.5rem; border:1px solid #ddd;  border-radius:5px; padding-left:1rem; font-size:1.6rem; background:#fff;}
.sub-agency-box .btn{text-align:center; margin-top:1.5rem;}
.sub-agency-box .btn button{display:inline-block; margin-left:1rem; margin-right:1rem; border:none; border-radius:100px; padding-left:2rem; padding-right:2rem; height:3.5rem; line-height:3.5rem; cursor:pointer; font-size:1.5rem;}
.sub-agency-box .btn button.yes{ background:#BCB7A5; color:#fff;  border:1px solid #BCB7A5; }
.sub-agency-box .btn button.yes:hover{background:#D4BF80;  border:1px solid #D4BF80; }
.sub-agency-box .btn button.no{ background:#fff; color:#333;  border:1px solid #ddd; }
.sub-agency-box .btn button.no:hover{ background:#f5f5f5;}



/* 代理申请列表 */
.apply-list{}
.apply-list .list{overflow:hidden;}
.apply-list .list li{border-bottom:1px solid #efefef; padding-top:1.5rem; padding-bottom:1.5rem; overflow:hidden; position:relative;}
.apply-list .list li .pic{width:6rem; height:6rem;  text-align:center; color:#fff; font-size:1.5rem; line-height:100%; line-height:6rem; border-radius:100px; float:left;}
.apply-list .list li .text{ float:right; width:75%;}
.apply-list .list li .text h3{margin-bottom:.8rem; font-size:1.5rem;} 
.apply-list .list li .text p{color:#999; font-size:1.2rem;  margin-bottom:1rem;} 
.apply-list .list li .text p em{margin-right:1.5rem;}
.apply-list .list li .text i{color:#ccc; font-size:1.2rem; display:block;}

.apply-list .list li .pic.apply-zd{background: -webkit-linear-gradient(left, #FF9A9E , #FAD0C4); background: -o-linear-gradient(right,  #FF9A9E , #FAD0C4); background: -moz-linear-gradient(right, #FF9A9E , #FAD0C4); background: linear-gradient(to right,  #FF9A9E , #FAD0C4);}
.apply-list .list li .pic.apply-ty{background: -webkit-linear-gradient(left, #A6C1EE , #FBC2EB); background: -o-linear-gradient(right,  #A6C1EE , #FBC2EB); background: -moz-linear-gradient(right, #A6C1EE , #FBC2EB); background: linear-gradient(to right,  #A6C1EE , #FBC2EB);}



/* --- 查看下级代理 --- */
.sub-apply-list{}
.sub-apply-list .list{overflow:hidden;} 
.sub-apply-list .list li{ position:relative; padding-bottom:1.5rem; padding-top:1.5rem; border-bottom:1px solid #efefef; overflow:hidden;}
.sub-apply-list .list li a{display:block; overflow:hidden; }
.sub-apply-list .list li .pic{overflow:hidden; float:left; width:20%;}
.sub-apply-list .list li .pic img{ border-radius:100%; margin-top:1.5rem;}
.sub-apply-list .list li .text{ float:right; width:73%;}
.sub-apply-list .list li .text h3{font-size:1.6rem; font-family:eng; margin-bottom:.8rem; font-weight:bold;}  
.sub-apply-list .list li .text p{line-height:180%; color:#666; font-size:1.2rem;}
.sub-apply-list .list li .arrow{position:absolute; right:0px; top:45%; font-family:iconfont; font-size:1.8rem; color:#ccc; }



/* --- 代理申请管理 --- */
.agent-apply-list{}
.agent-apply-list .list{overflow:hidden;} 
.agent-apply-list .list li{border-bottom:1px solid #efefef; overflow:hidden;  padding-top:1.5rem; padding-bottom:1.5rem; position:relative;}
.agent-apply-list .list li .pic{ width:20%; overflow:hidden; float:left;}
.agent-apply-list .list li .pic img{ overflow:hidden; border-radius:100%;}
.agent-apply-list .list li .text{  font-size:1.4rem; color:#999; float:left; margin-left:1.2rem;} 
.agent-apply-list .list li .text h3{font-family:eng; font-size:1.5rem; margin-bottom:.5rem;  font-weight:bold;}
.agent-apply-list .list li .time{color:#ccc;  font-size:1.2rem; position:absolute; bottom:1.5rem; left:24%;}
.agent-apply-list .list li .pass{ float:right;}
.agent-apply-list .list li .pass a{ height:3rem; line-height:3rem; font-size:1.2rem; display:block;  width:5rem; text-align:center;}
.agent-apply-list .list li .pass a.yes{background:#BCB7A5; color:#fff; }
.agent-apply-list .list li .pass a.no{background:#f1f1f1;}




/* --- 查询发货单号 --- */
.query-odd{}

/* 输入框 */
.query-odd .form{margin-top:2rem; margin-bottom:2rem; position:relative;}
.query-odd .form input{border:1px solid #D5D1C6; width:100%; height:4rem; line-height:4rem;  border-radius:100px; padding-left:4rem; font-size:1.4rem; transition: all .3s ease; background:#fff;}
.query-odd .form:before{content:"\e6f2"; font-family:iconfont; position:absolute; left:0; width:4rem; line-height:4rem; top:0; text-align:center; color:#999; font-size:1.6rem;}
.query-odd .form button{position:absolute; right:20px;  font-family:iconfont; top:0; line-height:4rem; background:none; border:none; font-size:2rem; color:#BCB7A5; cursor:pointer;}
.query-odd .form button:active{color:#333;}

.query-odd .form input:focus{border:1px solid #A29982; box-shadow: 5px 0px 20px #ececec; }


/* 查询结果 */ 
.query-odd .list li{background:#f5f5f5; border-radius:10px; padding:1.5rem;}
.query-odd .list li p{line-height:200%; color:#666; font-size:1.4rem;}




/* --- 修改密码 --- */
.modify-password{ margin-top:2rem; margin-bottom:2rem; }
.modify-password li{margin-bottom:1.5rem; text-align:center;}
.modify-password li input{width:100%; height:4rem; line-height:4rem; border-radius:100px; border:1px solid #efefef; padding-left:4rem; font-size:1.6rem; transition: all .3s ease;}
.modify-password li:before{content:"\e60f";  font-family:iconfont; position:absolute; width:50px; text-align:center; line-height:4rem; font-size:1.4rem; color:#999; }
.modify-password li button{width:100px; height:3.5rem; line-height:3.5rem; text-align:center; background:#BCB7A5; color:#fff; border-radius:100px; border:none; cursor:pointer; font-size:1.5rem;}
.modify-password li button:hover{background:#D4BF80;}

.modify-password li input:focus{border:1px solid #A29982; box-shadow: 5px 0px 20px #ececec; }
.modify-password li:last-child:before{content:"";}



/* --- 个人信息 --- */
.user-info{background:#fff; border-radius:10px; overflow:hidden;}
.user-info .pic{background: -webkit-linear-gradient(left, #FF9A9E , #FAD0C4); background: -o-linear-gradient(right,  #FF9A9E , #FAD0C4); background: -moz-linear-gradient(right, #FF9A9E , #FAD0C4); background: linear-gradient(to right,  #FF9A9E , #FAD0C4); text-align:center; padding:2rem}
.user-info .pic .pic-show{border-radius:100%;  }
.user-info .pic .pic-show img{background:#fff; padding:5px ;border-radius:100%; margin-bottom:20px;  box-shadow: 5px 5px 20px #FF888B;}
.user-info .pic .btn a{border:1px solid #fff; width:10rem; height:3.5rem; line-height:3.5rem; display:block; margin:0 auto; color:#fff; position:relative; border-radius:100px;  cursor:pointer; font-size:1.5rem;}
.user-info .pic .btn a input{opacity:0; position:absolute; left:0; top:0; width:100%; height:100%; cursor:pointer;}
.user-info .pic .btn a:hover{background:#fff; color:#333;}

.user-info .data{}
.user-info .data li{font-size:1.5rem; border-bottom:1px solid #efefef; padding-top:1rem; padding-bottom:1rem; overflow:hidden;}
.user-info .data li em{color:#999;  width:8rem; float:left;}
.user-info .data li i{float:right; width:70%;}




/* --- 下拉 --- */
.select { position: relative; display: block; color: #cccccc; vertical-align: middle; text-align: left; user-select: none; -webkit-touch-callout: none;}

/* 显示 */
.select .placeholder { position: relative; display: block;  z-index: 1;  border-radius: 10px; cursor: pointer; line-height:4.8rem; height:5rem; border:1px solid #D5D1C6; transition:all .3s ease; padding-left:1rem; color:#333; font-size:1.5rem;}
.select .placeholder i{font-family:iconfont; text-align:center; font-size:1.8rem; display:inline-block; color:#999; margin-right:1rem;}
.select .placeholder:hover { border:1px solid #A29982;  box-shadow: 5px 0px 20px #ececec;}
.select .placeholder:after { position: absolute; right: 10px; top: 0%;  font-family: 'iconfont'; content: '\e6a6'; z-index: 10; }

/* 弹出 */
.select.is-open .placeholder:after { content: '\e6a5';}
.select.is-open ul { display: block;}

.select ul { display: none; position: absolute; overflow: hidden; width: 100%; background: #fff; border-radius: 10px; top: 100%; left: 0; list-style: none; margin: 5px 0 0 0; padding: 0; z-index: 100; border:1px solid #D5D1C6;}
.select ul li { display: block; text-align: left; padding: 0.8em 1em 0.8em 1em; color: #999; cursor: pointer; line-height:3.5rem; font-size:1.5rem;}
.select ul li:hover { background: #F9F8F7; color: #333;} 



/* --- 订货 --- */
.order-goods { overflow:hidden;}

/* --- 订货 首页--- */
.order-goods-nav li{float:left; width:50%; text-align:center;}
.order-goods-nav li a{display:block; padding-bottom:1.5rem;}
.order-goods-nav li .pic{font-family:iconfont; font-size:4rem; color:#D4BF80; height:8rem; line-height:8rem;  transition:all .3s ease;}
.order-goods-nav li .text h3{font-size:1.5rem; margin-bottom:1rem;}
.order-goods-nav li .text p{max-width:80%; margin:0 auto; line-height:150%; color:#999;font-size:1.2rem;}



/* --- 订货 购物步骤 --- */
.shopping-cart-follow{overflow:hidden; padding-bottom:1.5rem; border-bottom:1px solid #efefef;}
.shopping-cart-follow li{float:left; width:33.333%; text-align:center; position:relative; font-size:1.4rem;}
.shopping-cart-follow li .pic{font-family:iconfont; width:4rem; height:4rem; line-height:4rem; text-align:center; color:#999; background:#eee; border-radius:100%; font-size:2.4rem; margin:0 auto; margin-top:1.5rem; margin-bottom:1.5rem;}
.shopping-cart-follow li.now .pic{background: -webkit-linear-gradient(left, #FF9A9E , #FAD0C4); background: -o-linear-gradient(right,  #FF9A9E , #FAD0C4); background: -moz-linear-gradient(right, #FF9A9E , #FAD0C4); background: linear-gradient(to right,  #FF9A9E , #FAD0C4); color:#fff; box-shadow: 10px 10px 20px #FCE0DA;}
.shopping-cart-follow li:after{content:"\e605"; font-family:iconfont; position:absolute; right:0; right:-5px; font-size:1.5rem; color:#eee; top:40%;}
.shopping-cart-follow li:last-child:after{content:"";}



/* --- 订货 购物列表 --- */
.shopping-cart-list {}
.shopping-cart-list dl{border-bottom:1px solid #efefef; padding-top:1.5rem;  padding-bottom:1.5rem; }
.shopping-cart-list dt.th{font-size:1.6rem; margin-bottom:1.2rem; font-weight:bold; }
.shopping-cart-list dd.td{}


/* 品牌 */
.shopping-cart-list .brand{}

/* 产品 */
.shopping-cart-list .goods{}
.shopping-cart-list .goods li{margin-bottom:1rem;  width:50%; float:left; padding:.75rem}
.shopping-cart-list .goods li .pic{margin-bottom:10px; border-radius:1rem; overflow:hidden;}
.shopping-cart-list .goods li .pic img{background:#fff; padding:.5rem;}
.shopping-cart-list .goods li .text p{line-height:160%; font-size:1.4rem;}
.shopping-cart-list .goods li .checkbox{display:none;}
.shopping-cart-list .goods li .checkbox + label .p-box{ text-align:center; border-radius:10px; background:#fff; cursor:pointer; position:relative; border:2px solid #fff; padding:.75rem}
.shopping-cart-list .goods li .checkbox:checked + label .p-box{border:2px solid #BCB7A5; box-shadow: 10px 10px 20px #f5f5f5;} 
.shopping-cart-list .goods li .checkbox:checked + label .p-box:after{content:"\e60b"; font-family:iconfont; position:absolute; right:-1rem; top:-1rem; font-size:1.6rem; color:#fff; background:#BCB7A5; width:2.4rem; height:2.4rem; border-radius:100%;}


/* 2018-5-18 */

/* 数量 */
.shopping-cart-list .number{ margin-top:1.5rem;}
.shopping-cart-list .number input{height:3rem; line-height:3rem; text-align:center; float:left;}
.shopping-cart-list .number input.reduce,.shopping-cart-list .number input.add{ width:25%; background:#f1f1f1; font-size:1.8rem; cursor:pointer; border:none;}
.shopping-cart-list .number input.reduce{border-right:none;}
.shopping-cart-list .number input.reduce:hover{background:#f1f1f1;}
.shopping-cart-list .number input.add{border-left:none;}
.shopping-cart-list .number input.add:hover{background:#f1f1f1;}
.shopping-cart-list .number input.num{width:50%; font-size:1.6rem; font-family:eng; font-weight:bold; border:none; border-bottom:1px solid #efefef;  border-top:1px solid #efefef; }
.shopping-cart-list .number em{line-height:40px; font-size:1.5rem; display:block; text-align:center;}

/* 2018-5-18 */

/* 2018-5-18 */

/* 打款方式 */
.shopping-cart-list .pay-way{}
.shopping-cart-list .pay-way li{overflow:hidden;  border-bottom:1px solid #efefef; padding-bottom:2rem; margin-bottom:2rem; font-size:1.5rem;}
.shopping-cart-list .pay-way li .text{}
.shopping-cart-list .pay-way li .text p{line-height:200%%; margin-bottom:1.5rem;}
.shopping-cart-list .pay-way li .text em{color:#999; margin-bottom:1.5rem; width:6rem; display:block;}
.shopping-cart-list .pay-way li .pic{ text-align:center;}
.shopping-cart-list .pay-way li:last-child{border-bottom:none; margin-bottom:0; padding-bottom:0;}

/* 2018-5-18 */



/* ---- 2018 - 5 - 16  ----*/

/* 打款截图 */
.shopping-cart-list .upload {position: relative;}
.shopping-cart-list .upload input{position: absolute; font-size: 100px; right: 0;top: 0;opacity: 0; }

/*上传图片通用样式*/
.upload-ul{ position: relative; width:105%;}
.upload-ul li{ position: relativev ; cursor: pointer; overflow: hidden; width:9rem; float:left; height:9rem; margin-right:1.5rem; margin-bottom:1.5rem;}

/*上传图片 上传按钮*/
.upload-pick{background:#BCB7A5; float:left; color:#fff;  width:9rem; display:inline-block;  text-align:center; position:relative; border-radius:10px; line-height:9rem; padding-top:1.5rem; font-size:1.4rem;}
.upload-pick:before{content:"\e632"; font-family:iconfont; position:absolute; top:-1rem; font-size:3.6rem; left:0; width:100%; text-align:center;}
.upload-pick:hover{ background:#D7C388}

/*上传图片 图片*/
.viewThumb{position:relative; width: 100%; height: 100%; overflow:hidden; border:1px solid #efefef;}
.viewThumb img{ width: 100%; height: 100%}

/*上传图片 图片上覆盖*/
.diyBar{ position: absolute;  top: 0; left: 0;width: 100%; height: 100%;  z-index: 3;}

/*上传图片 上传进度*/
.diyProgress{ position: absolute; left: 0; top:0; width: 100%; height: 2.5rem; line-height:2.5rem; font-size: 1.5rem; text-align: center; color: #FFF; background:rgba(10,168,241,.7); z-index: 3; display:none;}

/*上传图片 删除、换位按钮*/
.diyControl{ position: absolute;  left: 0; bottom: 0; width: 100%; height:28px; line-height:28px; font-size: 1.5rem; z-index: 3; background-color:rgba(0,0,0,0.5); }
.diyControl span{ width: 33.333% ; float:left;}
.diyControl span i{ display: block; opacity: 1; text-align:center;}
.diyControl span i:hover{ opacity: 1; cursor: pointer; }
.diyControl span i:before{font-family:iconfont; color:#fff; line-height:2.5rem;}
.diyLeft i:before{ content:"\e660"; font-weight:bold; }
.diyCancel i:before{ content:"\e639";}
.diyRight i:before{ content:"\e65f"; font-weight:bold; }


/* ---- 2018 - 5 - 16  ----*/





/* 收货人信息 */
.shopping-cart-list .logistics input{height:4.5rem; line-height:4.5rem; border:1px solid #D5D1C6; transition:all .3s ease; padding-left:2%;  border-radius:1rem; font-size:1.5rem; width:98%;}
.shopping-cart-list .logistics input:focus{ border:1px solid #A29982;  box-shadow: 5px 0px 20px #ececec;}
.shopping-cart-list .logistics textarea{ border:1px solid #D5D1C6; transition:all .3s ease;  padding:1.5rem; border-radius:1rem; font-size:1.5rem; height:10rem; width:98%;}
.shopping-cart-list .logistics textarea:focus{ border:1px solid #A29982;  box-shadow: 5px 0px 20px #ececec;}



/* --- 订货 小计 --- */
.shopping-cart-subtotal{ padding-top:1.5rem;}
.shopping-cart-subtotal .price{font-size:1.5rem; text-align:center; margin-bottom:1.5rem;}
.shopping-cart-subtotal .price em{font-size:2.8rem; font-family:eng; display:inline-block; line-height:100%; font-weight:bolder;}
.shopping-cart-subtotal .btn{}
.shopping-cart-subtotal .btn button{height:4.5rem; line-height:4.5rem; text-align:center; background:#BCB7A5; border:none; border-radius:1rem; font-size:1.5rem; color:#fff; cursor:pointer; width:100%;}
.shopping-cart-subtotal .btn button:active{background:#D7C388;}


/* --- 订货 我的订货价 --- */
.order-price{overflow:hidden;}

/* 选择品牌 */
.order-price .select{font-size:1.5rem; margin-top:1.5rem; margin-bottom:2.5rem;}

/* 产品列表 */
.order-price .list {}
.order-price .list ul{width:105%;}
.order-price .list li{float:left; margin-bottom:1.5rem; border-bottom:1px solid #efefef; padding-bottom:1.5rem;}
.order-price .list li .p-box{transition:all .3s ease}
.order-price .list li .p-box .pic{float:left; width:30%;}
.order-price .list li .p-box .text{float:right; width:65%;}
.order-price .list li .p-box .text p:nth-child(1){font-size:1.6rem; font-weight:bold;}
.order-price .list li .p-box .text p{line-height:160%; font-size:1.2rem;}
.order-price .list li .p-box .text p:last-child{color:#FF0000;}



/* --- 订货 我的订单 --- */
.order-goods .tabs{ margin-bottom:1.5rem;}
.my-order-list{  overflow:hidden;}
.my-order-list li{overflow:hidden; border-bottom:1px solid #efefef; padding-bottom:1.5rem; margin-bottom:1.5rem; position:relative;  transition:all .3s ease}
.my-order-list li .pic{float:left; width:30%;}
.my-order-list li .pic img{border:1px solid #efefef; padding:.5rem; border-radius:1rem; transition:all .3s ease}
.my-order-list li .text {float:right; width:67%}
.my-order-list li .text h3{font-size:1.6rem; margin-bottom:.5rem; font-weight:bold;}
.my-order-list li .text p{line-height:150%; color:#666; font-size:1.2rem;}
.my-order-list li .text em.state{ font-size:1.5rem; margin-top:1.5rem; display:block;}
.my-order-list li .text em.state.yfh{ color:#00CC00;}
.my-order-list li .text em.state.wfh{ color:#FF3333;}
.my-order-list li .text em.more{ display:none;}

.my-order-list li:hover{border-bottom:1px solid #ddd;}
.my-order-list li:hover .pic img{border:1px solid #BCB7A5; }



/* --- 订货 我的订单 详情--- */
.order-goods-content dl{padding-top:1.5rem; padding-bottom:1.5rem;}
.shopping-cart-list .order-content p{font-size:1.5rem;}
.shopping-cart-list .order-content .upload-img img{}
.shopping-cart-list .order-content ul{ padding:.75rem;}
.shopping-cart-list .order-content li{float:left; width:50%; margin-bottom:1rem; padding:.75rem;}
.shopping-cart-list .order-content li .pic{margin-bottom:1rem;}
.shopping-cart-list .order-content li .pic img{border:1px solid #efefef; padding:.5rem; border-radius:1rem;}
.shopping-cart-list .order-content li .text{text-align:center;}
.shopping-cart-list .order-content li .text p{line-height:150%; font-size:1.2rem; color:#666;}



/* --- 发货 --- */
.the-delivery{position:relative;}

/* 添加单号 */
.the-delivery .add-order-number{ overflow:hidden; margin-top:1.5rem; margin-bottom:1.5rem;} 
.the-delivery .add-order-number li{text-align:center; font-size:1.5rem; color:#fff; border-radius:.5rem; height:4rem; line-height:4rem;  width:48%; }
.the-delivery .add-order-number li a{color:#fff; }
.the-delivery .add-order-number li.entry{background: -webkit-linear-gradient(top, #FF9A9E , #FAD0C4); background: -o-linear-gradient(top,  #FF9A9E , #FAD0C4); background: -moz-linear-gradient(top, #FF9A9E , #FAD0C4); background: linear-gradient(to top,  #FF9A9E , #FAD0C4);float:left; text-shadow :#FF7174 0px 0px 5px }
.the-delivery .add-order-number li.manual{background: -webkit-linear-gradient(top, #A6C1EE , #FBC2EB); background: -o-linear-gradient(top,  #A6C1EE , #FBC2EB); background: -moz-linear-gradient(top, #A6C1EE , #FBC2EB); background: linear-gradient(to top,  #A6C1EE , #FBC2EB); float:right; text-shadow :#AAC1ED 0px 0px 5px}


/* 状态 */
.the-delivery .state{background:#f9f9f9; text-align:center; border:1px solid #efefef;}
.the-delivery .state span{color:#999; height:3.5rem; line-height:3.5rem; font-size:1.5rem;}
.the-delivery .state span.left{border-bottom:1px solid #efefef;}
.the-delivery .state span em{}

/* 单号 */
.the-delivery .order-number{ text-align:center; display:none;} 
.the-delivery .order-number .text{font-size:1.8rem; margin-top:3rem; margin-bottom:3rem; font-weight:bold;}
.the-delivery .order-number .form{}

/* 输入框 */
.the-delivery .order-number .form{position:relative;}
.the-delivery .order-number .form input{border:1px solid #D5D1C6; width:100%; height:4.5rem; line-height:4.5rem;  border-radius:100px; padding-left:1.5rem; font-size:1.5rem; transition: all .3s ease; background:#fff;}
.the-delivery .order-number .form button{position:absolute; right:20px;  font-family:iconfont; top:0; line-height:4.5rem; background:none; border:none; font-size:1.8rem; color:#BCB7A5; cursor:pointer;}
.the-delivery .order-number .form button:active{color:#333;}
.the-delivery .order-number .form input:focus{border:1px solid #A29982; box-shadow: 5px 0px 20px #ececec; }

/* 代理商列表 */
.the-delivery .search-agent-list{overflow:hidden; padding-top:2rem; display:none;}
.the-delivery .search-agent-list ul{}
.the-delivery .search-agent-list li{float:left; margin-bottom:1rem; width:47%; margin-right:3%;}
.the-delivery .search-agent-list li .p-box{}
.the-delivery .search-agent-list li .p-box h3{font-size:1.5rem; margin-bottom:.5rem;}
.the-delivery .search-agent-list li .p-box p{line-height:160%; color:#999; font-size:1.5rem;}
.the-delivery .search-agent-list li .checkbox{display:none;}
.the-delivery .search-agent-list li .checkbox + label .p-box{ text-align:center; border:1px solid #efefef; padding:1rem 0; border-radius:10px; background:#fff; cursor:pointer; position:relative; background:#f9f9f9;}
.the-delivery .search-agent-list li .checkbox:checked + label .p-box{border:1px solid #BCB7A5; box-shadow: 10px 10px 20px #f5f5f5; background:#fff;} 
.the-delivery .search-agent-list li .checkbox:checked + label .p-box:after{content:"\e60b"; font-family:iconfont; position:absolute; right:-.8rem; top:-.8rem; font-size:1.4rem; color:#fff; background:#BCB7A5; width:2rem; height:2rem; border-radius:100%;}

/* 操作 */
.the-delivery  .order-operation{ border-top:1px solid #efefef; overflow:hidden; margin-top:1.5rem;}
.the-delivery  .order-operation .left a{font-size:1.5rem; position:relative; line-height:50px; display:inline-block; width:50%; text-align:center; float:left;}
.the-delivery  .order-operation .left a:before{ font-family:iconfont; font-size:1.8rem; position:absolute; left:5%;}
.the-delivery  .order-operation .left a.weixin:before{content:"\e647";}
.the-delivery  .order-operation .left a.infra-red:before{content:"\e6b4";}

.the-delivery  .order-operation .btn{}
.the-delivery  .order-operation .btn button{width:50%; height:4.5rem;  cursor:pointer; float:left; font-size:1.5rem;}
.the-delivery  .order-operation .btn button.del{ background:#efefef; border:none;} 
.the-delivery  .order-operation .btn button.del:active{background:#f9f9f9; border:1px solid #efefef; }
.the-delivery  .order-operation .btn button.ok{border:1px solid #BCB7A5; background:#BCB7A5; color:#fff;}  
.the-delivery  .order-operation .btn button.ok:active{background:#D7C388; border:1px solid #D7C388; }


/* 2018-5-21 */

/* --- 弹出 --- */
.pop-content{position:fixed; left:0; top:0; width:100%; height:100%; z-index:150; display:none;} 
.pop-content .btn{text-align:center;}
.pop-content .btn button{height:3rem; line-height:2.8rem; padding-left:1.5rem; padding-right:1.5rem; background:none; border:none; border-radius:100px; margin-left:1rem; margin-right:1rem; cursor:pointer}
.pop-content .btn button.del{border:1px solid #efefef;}
.pop-content .btn button.del:active{background:#f9f9f9;}
.pop-content .btn button.ok{border:1px solid #BCB7A5; background:#BCB7A5; color:#fff;}
.pop-content .btn button.ok:active{background:#D7C388;}

/* 连扫设置 */
.pop-scanning{background:#fff;   box-shadow: 0px 0px 20px #ccc; padding:1.5rem; border-radius:10px; display:none; margin:1.5rem;}
.pop-scanning h3{margin-bottom:1rem; font-size:1.5rem;}
.pop-scanning .text{margin-bottom:20px;}
.pop-scanning .text input{width:100%; height:3.5rem; border:1px solid #efefef; padding-left:1.5rem;}
.pop-scanning .text input:focus{border:1px solid #ccc;}

/* 手工录入 */
.manual-order {text-align:center; overflow:hidden; padding-bottom:1.5rem ; display:none; margin-top:2.5rem;}
.manual-order .form{position:relative; }
.manual-order .form input{border:1px solid #D5D1C6; height:4.5rem; line-height:4.5rem;   border-radius:100px;  padding-left:1.5rem; font-size:1.5rem; transition: all .3s ease; width:100%; margin-bottom:1rem;}
.manual-order .form input:focus{border:1px solid #A29982; box-shadow: 5px 0px 20px #ececec; }
.manual-order .form button{ height:4.5rem; line-height:4.5rem;  border-radius:100px; border:none; font-size:16px; background:#BCB7A5; color:#fff; cursor:pointer; width:100%;}
.manual-order .form button:active{background:#D7C388;}

/* 2018-5-21 */


}

