#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){
        	
         	var name=$("#name").val();//name
        	if(name.length>55){
        		layer.alert("角色名称请勿超过55字符!");
         	　　　return false;
        	}
        	
        	var des=$("#des").val();//角色描述
        	if(des.length>55){
        		layer.alert("角色描述请勿超过55字符!");
         	　　　return false;
        	}
        	
        	var seq=$("#seq").val();//排序号
        	if(seq.length>20){
        		layer.alert("排序号请勿超过20位!");
         	　　　return false;
        	}
        	
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/system/role/postUpdate',
                data: $.param(data.field),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        
        form.on('select(type)', function(data){
            var type=data.value;
            if("1"==type){
          	  $("#company").attr("style","");
          	  $("#companyId").attr("lay-verify","required");      	  
            }else{
          	  $("#company").attr("style","display:none");
          	  $("#companyId").attr("lay-verify","");
          	  $("#companyId").val("");
            }
          	}); 
    });
    
    $(function(){ 
    	var type= $("#type").val();
    	if("1"==type){
    		 $("#company").attr("style","");
         	 $("#companyId").attr("lay-verify","required");   
    	}else{
    		$("#companyId").val("");
    	}
    	}); 
</script>
#end

#define content()
<div class="x-body">
    <form class="layui-form" action="">
        <input type="hidden" name="role.id" value="#(role.id ??)">
        
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>角色类型</label>
            <div class="layui-input-block">
                <select id='type' name="role.type" lay-verify="required" lay-filter="type" disabled="disabled">
                    <option></option>
                    #option("ROLE_TYPE",role.type ??)
                </select>
            </div>
        </div>
        <div class="layui-form-item" id="company" style="display:none">
            <label class="layui-form-label"><em class="require-mark">*</em>所属公司</label>
            <div class="layui-input-block">
                <select id='companyId' name="role.companyId" >
                    <option></option>
                    #for(x:companyList ??)
                    <option value="#(x.id)" #(x.id == role.companyId ? 'selected' : '')>#(x.name)</option>
                    #end
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>角色名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="role.name" placeholder="角色名称" class="layui-input" value="#(role.name ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>角色描述</label>
            <div class="layui-input-block">
                <input type="text" id="des" name="role.des" placeholder="角色描述" class="layui-input" value="#(role.des ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>排序号</label>
            <div class="layui-input-block">
                <input type="number" id="seq" name="role.seq" placeholder="排序号" class="layui-input" value="#(role.seq ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>状态</label>
            <div class="layui-input-block">
                <select id='status' name="role.status" lay-verify="required">
                    <option></option>
                    #statusOption(com.tipu.agent.admin.service.entity.status.system.RoleStatus::me(), role.status)
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end