#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;

		form.on('submit(sub)', function(data) {
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/agent_address/postUpdate',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});
</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" name="data.id" value="#(data.id ??)">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>代理商姓名</label>
			<div class="layui-input-block">
				<select name="data.agentId" id="agentId" lay-verify="required">
                    <option></option>
                     #for (x : agentList)
	                <option #(x.id == data.agentId ? 'selected' : '') value="#(x.id)">#(x.name)</option>
	                #end
                </select>
			</div>
		</div>		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>收货人姓名</label>
			<div class="layui-input-block">
				<input type="text" name="data.agentName" placeholder="" class="layui-input"
					value="#(data.agentName ??)" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>收货人电话</label>
			<div class="layui-input-block">
				<input type="text" name="data.agentPhone" placeholder="" class="layui-input"
					value="#(data.agentPhone ??)" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>收货人地址</label>
			<div class="layui-input-block">
				<input type="text" name="data.agentAddress" placeholder="" class="layui-input"
					value="#(data.agentAddress ??)" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
				<input type="text" name="data.remarks" placeholder=""
					class="layui-input" value="#(data.remarks ??)" 
					autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
