#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer','layedit' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;
		var layedit = layui.layedit, $ = layui.jquery;
		//构建一个默认的编辑器
		var index = layedit.build('content');
		form.on('submit(sub)', function(data) {
			layedit.sync(index);
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/agent_rebate_config_params/postAdd',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});



</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
			<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>配置说明</label>
			<div class="layui-input-block">
				<input type="text" name="data.remarks" placeholder=""
					class="layui-input" value="" required lay-verify="required"
					autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>代理商级别</label>
			<div class="layui-input-block">
				<select id="parentId" name="data.configId" lay-verify="required" lay-search="">
                    <option></option>
                    #for(x:agentTypeList)
                    	<option value="#(x.id)">#(x.name ??)</option>
                    #end
                </select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>配置值</label>
			<div class="layui-input-block">
			<textarea class="layui-textarea" id="content"
					name="data.configVal" style="display: none">  
            </textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
