#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;
		form.on('submit(sub)', function(data) {
			
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/attribute/postAdd',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});



</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>商品种类</label>
			<div class="layui-input-block">
				<select name="data.typeId" id="typeId" lay-verify="required"
					lay-search="" >
					<option></option> #for(x:productTypeList)
					<option value="#(x.id)">#(x.name ??)</option> #end
				</select>

			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>商品属性名称</label>
			<div class="layui-input-block">
				<input type="text" name="data.name" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>排序</label>
			<div class="layui-input-block">
				<input type="text" name="data.sort" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
				<input type="text" name="data.remarks" placeholder=""
					class="layui-input" value="" 
					autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
