#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/anticode/anti_rule_record/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" name="data.id" value="#(data.id ??)">
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>生成规则</label>
            <div class="layui-input-block">
                <input type="text" name="data.antiRuleId" placeholder="生成规则" class="layui-input" value="#(data.antiRuleId ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>品牌</label>
            <div class="layui-input-block">
                <input type="text" name="data.brandId" placeholder="品牌" class="layui-input" value="#(data.brandId ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>商品</label>
            <div class="layui-input-block">
                <input type="text" name="data.productId" placeholder="商品" class="layui-input" value="#(data.productId ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>大箱起始值</label>
            <div class="layui-input-block">
                <input type="text" name="data.startBig" placeholder="大箱起始值" class="layui-input" value="#(data.startBig ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>中箱起始值</label>
            <div class="layui-input-block">
                <input type="text" name="data.startMiddle" placeholder="中箱起始值" class="layui-input" value="#(data.startMiddle ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>单品起始值</label>
            <div class="layui-input-block">
                <input type="text" name="data.startSmall" placeholder="单品起始值" class="layui-input" value="#(data.startSmall ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>备注信息</label>
            <div class="layui-input-block">
                <input type="text" name="data.remarks" placeholder="备注信息" class="layui-input" value="#(data.remarks ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end