#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){
        	var name=$("#name").val();//name
        	if(name.length>55){
        		layer.alert("用户名称请勿超过55字符!");
         	　　　return false;
        	}
        	
        	var phone=$("#phone").val();//电话号码
        	if (!/^\d{3,4}\-\d{7,8}$/.test(phone)) {
        		 layer.alert('电话号码输入不正确');
        	     return false;
        	}
        	      	 
        	var email=$("#email").val();//邮箱
        	var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$"); //正则表达式
        	if(!reg.test(email)){ //正则验证不通过，格式不对
        		layer.alert("邮箱格式不正确!");
        	　　　return false;
        	}
        	
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/system/user/postProfile',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    history.go(0);
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
        <input type="hidden" name="user.id" value="#(user.id)">
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>用户名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="user.name" placeholder="用户名称" class="layui-input" value="#(user.name)" required  lay-verify="required" autocomplete="off" disabled/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">电话号码</label>
            <div class="layui-input-block">
                <input type="text" id="phone" name="user.phone" placeholder="电话号码" class="layui-input" value="#(user.phone)" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" id="email" name="user.email" placeholder="邮箱" class="layui-input" value="#(user.email)" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end