#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

        	var name=$("#name").val();//name
        	if(name.length<5){
        		layer.alert("用户名称请勿小于5位!");
         	　　　return false;
        	}
        	if(name.length>55){
        		layer.alert("用户名称请勿超过55字符!");
         	　　　return false;
        	}

        	var pwd=$("#pwd").val();//登录密码
        	if(pwd!=""){
        	if(pwd.length<6){
        		layer.alert("登录密码不能小于6位!");
         	　　　return false;
        	}
        	if(pwd.length>16){
        		layer.alert("登录密码请勿超过16位!");
         	　　　return false;
        	}
        	}
        	
           	var phone=$("#phone").val();//电话号码
        	if(phone!=""){
        	if (!/^1[34578]\d{9}$/.test(phone)) {
        		 layer.alert('电话号码输入不正确');
        	     return false;
        	}
        	}
        	
        	var email=$("#email").val();//邮箱
        	var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$"); //正则表达式
        	if(email!=""){
        	if(!reg.test(email)){ //正则验证不通过，格式不对
        		layer.alert("邮箱格式不正确!");
        	　　　return false;
        	}
        	}
        	
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/system/user/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
        <input type="hidden" name="user.id" value="#(user.id)">
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>所属公司</label>
            <div class="layui-input-block">
                <select id='companyId' name="user.companyId" lay-verify="required" lay-filter="companyId" disabled="disabled">
                    <option></option>
                    #for(x:companyList ??)
                    <option value="#(x.id)" #(x.id == user.companyId ? 'selected' : '')>#(x.name)</option>
                    #end
                </select>
            </div>
        </div>      
        <div class="layui-form-item">
            <label class="layui-form-label">用户角色</label>
            <div class="layui-input-block">
                #for (role : roleList)
                    <input type="checkbox" name="userRole" value="#(role.roleId)"
                    #for (userRole : userRoleList)
                        #(userRole.id.toString() == role.roleId ? 'checked' : '')
                    #end
                    title="#(role.role_name)">
                #end
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>用户名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="user.name" placeholder="用户名称" class="layui-input" value="#(user.name)" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">登录密码</label>
            <div class="layui-input-block">
                <input type="text" id="pwd" name="user.pwd" placeholder="若不修改密码，无需输入" class="layui-input" value="" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">电话号码</label>
            <div class="layui-input-block">
                <input type="text" id="phone" name="user.phone" placeholder="电话号码" class="layui-input" value="#(user.phone)" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" id="email" name="user.email" placeholder="邮箱" class="layui-input" value="#(user.email)" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>状态</label>
            <div class="layui-input-block">
                <select id='status' name="user.status" lay-verify="required">
                    <option></option>
                    #statusOption(com.tipu.agent.admin.service.entity.status.system.UserStatus::me(), user.status)
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end