#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer','layedit'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        var layedit = layui.layedit, $ = layui.jquery;

		layedit.set({
			uploadImage : {
				url : '#(ctxPath)/common/upload/brandIntroductionImg' //接口url
				,
				type : 'post' //默认post
			}
		});
		//构建一个默认的编辑器
		var index = layedit.build('introduction');
        
        form.on('submit(sub)', function(data){
        	layedit.sync(index);
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/brand/postAdd',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
    
    layui.use('upload', function(){
  	  var upload = layui.upload;
  	  //执行实例
  	  var uploadInst = upload.render({
  	    elem: '#uploadLogo' //绑定元素
  	    ,url: '#(ctxPath)/common/upload/brandLogo' //上传接口
	  	    ,field: 'file'
	  	  	,data: {func:'brand', limit: 2*1024*1024}
	  	  	,size: 2*1024
	  	  	,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
	  	  		layer.load(); //上传loading
	  	  	}
	    	    ,done: function(res){
	    	    	if(res.state=='ok') {
	    	    		$("#logo").val(res.path);
	    	    		$("#logoImg").css("display", "block");
	    	    		$("#logoImg").attr("src", '#(resPath)'+res.path);
	    	    	} else {
	    	    		layer.msg(res.message); 
	    	    	}
	    	      	//上传完毕回调
	    	    	layer.closeAll('loading'); //关闭loading
	    	    }
	    	    ,error: function(){
	    	    	//请求异常回调
	    	    	layer.closeAll('loading'); //关闭loading
	    	    }
		});
  	});
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    
   		<div class="layui-form-item">
           <label class="layui-form-label"><em class="require-mark">*</em> 品牌编号</label>
           <div class="layui-input-block">
               <input type="text" name="data.code" placeholder=" 品牌编号" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
           </div>
         </div>
         
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>名称</label>
			<div class="layui-input-block">
			    <input type="text" name="data.name" placeholder="名称" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
			</div>
		</div>
          
        <div class="layui-form-item">
           <label class="layui-form-label"><em class="require-mark">*</em>logo</label>
           <div class="layui-input-block">
	           <input type="hidden" id="logo" name="data.logo" required  lay-verify="required" />
	        	<button type="button" class="layui-btn" id="uploadLogo">
				  <i class="layui-icon">&#xe67c;</i>上传logo
				</button>
				<img id="logoImg" src="" style="display:none; max-height:200px;margin-top:20px;">
	       	</div>
        </div>
        
        <!-- <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>网络地址</label>
            <div class="layui-input-block">
                <input type="text" name="data.url" placeholder="网络地址" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div> -->  
          
       <!--  <div class="layui-form-item">
	        <label class="layui-form-label"><em class="require-mark">*</em>类型</label>
	        <div class="layui-input-block">
	        	<select id='type' name="data.type" lay-verify="required">
                    <option></option>
                    #option("BRAND_TYPE")
                </select>
	        </div>
        </div> -->
          
	  	<div class="layui-form-item">
           <label class="layui-form-label"><em class="require-mark">*</em>介绍</label>
           <div class="layui-input-block">
               <textarea class="layui-textarea" id="introduction"
					name="data.introduction" style="display: none">  
            </textarea>
           </div>
        </div>
		  
		<div class="layui-form-item">
           <label class="layui-form-label">备注信息</label>
           <div class="layui-input-block">
               <input type="text" name="data.remarks" placeholder="备注信息" class="layui-input" value=""  autocomplete="off"/>
           </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end