#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;
		form.on('submit(sub)', function(data) {		
			$('#agent').removeAttr("disabled");
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/audit/postRecharge',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});

</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
	<input type="hidden" name="order.id" value="#(data.id ??)">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>充值人姓名</label>
			<div class="layui-input-block">
				<select name="data.agentId" id="agent" lay-verify="required" disabled="disabled"
					lay-search="" >
					<option></option> #for(x:agentList)
					<option #(x.id == data.agentId ? 'selected' : '') value="#(x.id)">#(x.name ??)</option> #end
				</select>

			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>银行账号</label>
			<div class="layui-input-block">
				<select name="data.bank" id="bank" lay-verify="required" disabled="disabled"
					lay-search="" >
					<option></option> #for(x:agentBanksList)
					<option #(x.id == data.bank ? 'selected' : '') value="#(x.id)">#(x.account ??)</option> #end
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>充值金额</label>
			<div class="layui-input-block">
				<input type="text" name="data.buySum" placeholder="" class="layui-input"  readonly="readonly"
					value="#(data.buySum ??)" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>充值截图</label>
            <div class="layui-input-block">
				<a href="#(data.paymentCert ??)" target="_blank"><img id="avatarImg" src="#(data.paymentCert ??)" style="display:block; max-height:200px;margin-top:20px;"></a>
            </div>
          </div>
		<div class="layui-form-item">
			<label class="layui-form-label">充值留言</label>
			<div class="layui-input-block">
				<input type="text" name="data.buyMsg" placeholder="" class="layui-input" readonly="readonly"
					value="#(data.buyMsg ??)"  autocomplete="off" />
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>审核</label>
			<div class="layui-input-block">
			<input type="radio" name="order.state" value="1" title="通过" >
            <input type="radio" name="order.state" value="-1" title="不通过">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">审核备注</label>
			<div class="layui-input-block">
				<input type="text" name="order.remarks" placeholder="" 
					class="layui-input" value="" 
					autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
