#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        
        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'id', title: '订单号', width: 180}
                , {field: 'username', title: '充值人姓名', width: 150}
                , {field: 'bankAccountAsname', title: '收款人姓名', width: 150}
                , {field: 'bankAccount', title: '收款银行账号', width: 180}
                , {field: 'buy_sum', title: '充值金额', width: 100}
                , {field: 'buy_msg', title: '充值留言', width: 100}
                , {field: 'create_date', title: '创建时间', width: 180}
                , {field: 'update_date', title: '处理时间', width: 180}
                , {field: 'state', title: '审核状态', width: 100, templet: '#dataTpl("ORDER_STATE", "state")'}
                , {field: 'remarks', title: '审核备注', width: 100}                                           
                , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/base/audit/tableData?type=4'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            	/* var data =res.data;
            	console.log(data);
            	if(data.length>0){
            		for(){
            			
            		}
            	} */
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
           if(obj.event === 'audit'){
                pop_show('充值审核','#(ctxPath)/base/audit/auditRecharge?id=' + data.id,'','', function(){
                    reloadTable();
                });
            }
        });
        reloadTable = function (agent,state,id) {
            table.reload('dateTable', {
                url: '#(ctxPath)/base/audit/tableData?type=4'
                ,where: {agent: agent,state:state,id:id} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.agent,data.field.state,data.field.id);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });


</script>
#end

#define content()
    <div class="layui-fluid">
        <form id="searchForm" class="layui-form x-center" action="" >
             <div class="layui-form-pane">
              <div class="layui-form-item">
                   <label class="layui-form-label">订单号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="id" name="id" placeholder="" class="layui-input"/>
                    </div> 
                   <label class="layui-form-label" style="width:150px;">选择或搜索充值人</label>
                    <div class="layui-input-inline">
                        <select id="agent" name="agent" lay-search="">
		                    <option></option>
		                    #for(x:agentList)
		                    	<option value="#(x.id)">#(x.name ??)</option>
		                    #end
		                </select>
                    </div>
                   <label class="layui-form-label" style="width:150px;">选择审核状态</label>
                    <div class="layui-input-inline">
                        <select id="state" name="state" lay-search="">
		                    <option></option>		                    
		                    <option value="0">审核通过</option>		                    
		                    <option value="-1">审核不通过</option>		                    
		                </select>
                    </div>
                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                     <div class="layui-input-inline" style="width : 10px">
                        <button class="layui-btn"  lay-submit="" lay-filter="reset"><i class="layui-icon">&#xe666;</i>重置</button>
                    </div>
                </div>
            </div>
              
        </form>
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">
                <button id="edit" onclick="reloadTable()" class="layui-btn layui-btn-small">刷新</button>
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption"> 
#shiroHasPermission('/base/audit/auditRecharge')
#[[ 
{{#  if(d.state==0){   }}    
    <a class="layui-btn layui-btn-xs" lay-event="audit">审核</a>
{{#  }   }}
]]#
#end
</script>
#end

