#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;
		form.on('submit(sub)', function(data) {
			var sendAccountNo=$("#sendAccountNo").val();//收款账号
        	if(sendAccountNo.length>19||sendAccountNo.length<13){       	
        		 layer.alert('收款账号格式不对');
        	     return false;
        	}
			
			var receiveAccountPrice=$("#receiveAccountPrice").val();//收款金额
        	if(receiveAccountPrice.length>10){       	
        		 layer.alert('收款金额请勿超过10位');
        	     return false;
        	}
			
           	var receiveAccountName=$("#receiveAccountName").val();//打款账户名
        	if(receiveAccountName.length>64){       	
        		 layer.alert('打款账户名请勿超过64位');
        	     return false;
        	}
			
        	var receiveAccount=$("#receiveAccount").val();//打款账号
        	if(receiveAccount.length>19||receiveAccount.length<13){       	
        		 layer.alert('打款账号格式不对');
        	     return false;
        	}

           	var payImg=$("#payImg").val();//保证金凭证
        	if(payImg==""){       	
        		 layer.alert('请上传保证金凭证');
        	     return false;
        	}
           	
           	var remarks=$("#remarks").val();//备注信息
        	if(remarks.length>255){       	
        		 layer.alert('备注信息请勿超过255位');
        	     return false;
        	}
           	
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/agent_bond/postAdd',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});
	
	layui.use('upload', function(){
	  	  var upload = layui.upload;
	  	  //执行实例
	  	  var uploadInst = upload.render({
	  	    elem: '#uploadBond' //绑定元素
	  	    ,url: '#(ctxPath)/common/upload/agentBond' //上传接口
		  	    ,field: 'file'
		  	  	,data: {func:'agentBrand', limit: 2*1024*1024}
		  	  	,size: 2*1024
		  	  	,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
		  	  		layer.load(); //上传loading
		  	  	}
		    	    ,done: function(res){
		    	    	if(res.state=='ok') {
		    	    		$("#payImg").val(res.path);
		    	    		$("#bondImg").css("display", "block");
		    	    		$("#bondImg").attr("src", '#(resPath)'+res.path);
		    	    	} else {
		    	    		layer.msg(res.message); 
		    	    	}
		    	      	//上传完毕回调
		    	    	layer.closeAll('loading'); //关闭loading
		    	    }
		    	    ,error: function(){
		    	    	//请求异常回调
		    	    	layer.closeAll('loading'); //关闭loading
		    	    }
			});
	  	});



</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" id="username" name="data.username" value="" />
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>代理商</label>
			<div class="layui-input-block">
				<select name="data.agent" id="agent" lay-verify="required"
					lay-search="" >
					<option></option> #for(x:agentList)
					<option value="#(x.id)">#(x.username ??)</option> #end
				</select>

			</div>
			
			
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>收款帐户类型</label>
			<div class="layui-input-block">
				<select name="data.sendAccountType" lay-verify="required">
                    <option></option>
                    #option("SEND_ACCOUNT_TYPE")
                </select>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>收款帐号</label>
			<div class="layui-input-block">
				<input type="number" id="sendAccountNo" name="data.sendAccountNo" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>打款金额</label>
			<div class="layui-input-block">
				<input type="number" id="receiveAccountPrice" name="data.receiveAccountPrice" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>打款账户名</label>
			<div class="layui-input-block">
				<input type="text" id="receiveAccountName" name="data.receiveAccountName" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>打款账户</label>
			<div class="layui-input-block">
				<input type="number" id="receiveAccount" name="data.receiveAccount" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>保证金凭证</label>
           <div class="layui-input-block">
	           <input type="hidden" id="payImg" name="data.payImg"/>
	        	<button type="button" class="layui-btn" id="uploadBond">
				  <i class="layui-icon">&#xe67c;</i>上传保证金凭证
				</button>
				<img id="bondImg" src="" style="display:none; max-height:200px;margin-top:20px;">
	       	</div>
		</div>
		
		<div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>授权状态</label>
            <div class="layui-input-block">
            	<select name="data.audit_status" lay-verify="required">
                    <option></option>
                    #option("AUTH_STATUS")
                </select>
            </div>
          </div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
				<input type="text" id="remarks" name="data.remarks" placeholder=""
					class="layui-input" value="" 
					autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
