#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'name', title: '名称', width: 100}
                , {field: 'sn', title: '编号', width: 100}
                , {field: 'image', title: '图片', width: 100, align: 'center', toolbar: '#findSkuImg'}               
                , {field: 'price', title: '市场价', width: 70}
                , {field: 'point', title: '积分', width: 60}
               /*  , {field: 'salses', title: '销量', width: 70}          */     
                , {field: 'stock', title: '库存', width: 70}
                , {field: 'virtual_stock', title: '云库存', width: 70}
                , {field: 'remarks', title: '备注信息', width: 100}
                , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/base/product/skuTableData?productId=#(productId)'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                pop_show('编辑任务','#(ctxPath)/base/product/updateSku?id=' + data.id,'1000','700', function(){
                    reloadTable();
                });
            }else if(obj.event === 'findSkuImg'){
            	layer.photos({
                    photos:{"title": "主图片","id": 123,"start": 0,"data": [{"alt": "主图片","pid": 0,"src": data.image,"thumb": ""}]}                                        		    
                  });
            }else if(obj.event === 'showSkuStock'){
                pop_show('修改库存','#(ctxPath)/base/product/showSkuStock?productId=#(productId)&id=' + data.id,'','', function(){
                    reloadTable();
                });
            }else if(obj.event === 'showVirtualStock'){
                pop_show('修改云库存','#(ctxPath)/base/product/showVirtualStock?productId=#(productId)&id=' + data.id,'','', function(){
                    reloadTable();
                });
            }
        });      

        reloadTable = function (name,sn) {
            table.reload('dateTable', {
                url: '#(ctxPath)/base/product/skuTableData?productId=#(productId)'
                ,where: {name: name,sn:sn} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.name,data.field.sn);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });


</script>
#end

#define content()
    <div class="layui-fluid">
        <form id="searchForm" class="layui-form x-center" action="" >
            <div class="layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" placeholder="" class="layui-input"/>
                    </div>
                    
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="sn" name="sn" placeholder="" class="layui-input"/>
                    </div>
                    
                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">
                <button id="edit" onclick="reloadTable()" class="layui-btn layui-btn-small">刷新</button>
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/base/product/update')
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    #end  
    <a class="layui-btn layui-btn-xs" lay-event="showSkuStock">修改库存</a> 
    <a class="layui-btn layui-btn-xs" lay-event="showVirtualStock">修改云库存</a> 
</script>

<script type="text/html" id="findSkuImg">
    <a class="layui-btn layui-btn-xs" lay-event="findSkuImg">查看图片</a>
</script>
#end