#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
layui.use(['carousel', 'form'], function(){
	  var carousel = layui.carousel
	  ,form = layui.form;
//设定各种参数
var ins3 = carousel.render({
  elem: '#test3'
});
//图片轮播
carousel.render({
  elem: '#test10'
  ,width: '778px'
  ,height: '440px'
  ,interval: 5000
});

//事件
carousel.on('change(test4)', function(res){
  console.log(res)
});

var $ = layui.$, active = {
  set: function(othis){
    var THIS = 'layui-bg-normal'
    ,key = othis.data('key')
    ,options = {};
    
    othis.css('background-color', '#5FB878').siblings().removeAttr('style'); 
    options[key] = othis.data('value');
    ins3.reload(options);
  }
};

//监听开关
form.on('switch(autoplay)', function(){
  ins3.reload({
    autoplay: this.checked
  });
});

$('.demoSet').on('keyup', function(){
  var value = this.value
  ,options = {};
  if(!/^\d+$/.test(value)) return;
  
  options[this.name] = value;
  ins3.reload(options);
}); 
});
</script>
#end

#define content()
<div class="x-body">
<div class="layui-carousel" id="test3" lay-filter="test4">
  <div carousel-item="">
    #for(x:productImagesList)
    <img id="" src="#(x.url ??)" >
    #end
  </div>
</div> 
	
</div>
#end