#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;
		form.on('submit(sub)', function(data) {		
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/product/updateVirtualStock',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(ret) {
						pop_close();				
				}
			});
			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});

</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
	<input type="hidden" name="id" value="#(id ??)">
	<input type="hidden" name="productId" value="#(productId ??)">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>修改类型</label>
			<div class="layui-input-block">
				<select name="stockType" id="stockType" lay-verify="required"
					lay-search="" >
					<option></option> #option("STOCK_TYPE")
				</select>

			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>修改数量</label>
			<div class="layui-input-block">
				<input type="text" name="virtual_stock" placeholder="" class="layui-input" lay-verify="required"
					value=""  autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
