#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
layui.use([ 'form', 'layer', 'layedit' ], function() {
	// 操作对象
	var form = layui.form, layer = layui.layer, $ = layui.jquery;

	var layedit = layui.layedit, $ = layui.jquery;

	layedit.set({
		uploadImage : {
			url : '#(ctxPath)/common/upload/productIntroductionImg' //接口url
			,
			type : 'post' //默认post
		}
	});
	//构建一个默认的编辑器
	var index = layedit.build('introduction');

	form.on('submit(sub)', function(data) {
		layedit.sync(index);
		var name=$("#name").val();//name
    	if(name.length>64){
    		layer.alert("名称请勿超过64位");
    	　　　return false;
    	}
		
    	var fullName=$("#fullName").val();//全名
    	if(fullName.length>255){
    		layer.alert("全名请勿超过255位");
    	　　　return false;
    	}
    	
    	var image=$("#image").val();//主图片
    	if(image==""){
    		layer.alert("请上传主图片!");
    	　　　return false;
    	}
		
    	var carouselImage=$("#carouselImage").val();//主图片
    	if(carouselImage==""){
    		layer.alert("请上传轮播图片!");
    	　　　return false;
    	}
    	
    	var price=$("#price").val();//单价
    	if(price!=""){
    		if (!/^[0-9]+(.[0-9]{2})?$/.test(price)) {
	       		 layer.alert('单价请输入1至10位数字');
	       	     return false;
	       	 }
    	}     	
    	
    	var salses=$("#salses").val();//销量
    	if(salses!=""){
    		if (!/^\d{1,10}$/.test(salses)) {
	       		 layer.alert('销量请输入1至10位数字');
	       	     return false;
	       	 }
    	}
    	
    	var point=$("#point").val();//库存
    	if(point!=""){
    		if (!/^\d{1,10}$/.test(point)) {
	       		 layer.alert('库存请输入1至10位数字');
	       	     return false;
	       	 }
    	}
    	
    	var packageSpec=$("#packageSpec").val();//每箱数量
    	if(packageSpec!=""){
    		if (!/^\d{1,10}$/.test(packageSpec)) {
	       		 layer.alert('每箱数量请输入1至10位数字');
	       	     return false;
	       	 }
    	}
    	
    	var unit=$("#unit").val();//单位
    	if(unit.length>10){
    		layer.alert('单位请勿超过10位');
	       	    return false;
    	}
    
    	var remarks=$("#remarks").val();//备注信息
    	if(remarks.length>255){
    		layer.alert('备注信息请勿超过255位');
	       	    return false;
    	}
		util.sendAjax({
			type : 'POST',
			url : '#(ctxPath)/base/product/postUpdate',
			data : $('#addForm').serialize(),
			loadFlag : true,
			success : function(data) {
				pop_close();
			}
		});

		return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
});

//图片上传
layui.use(
	'upload',
	function() {
		var upload = layui.upload;
		//执行实例
		var uploadInst = upload.render({
			elem : '#uploadImg' //绑定元素
			,
			url : '#(ctxPath)/common/upload/productMainImg' //上传接口
			,
			field : 'file',
			data : {
				func : 'product',
				limit : 2 * 1024 * 1024
			},
			size : 2 * 1024,
			before : function(obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
				layer.load(); //上传loading
			},
			done : function(res) {
				if (res.state == 'ok') {
					$("#image").val(res.path);
					$("#productImg").css("display", "block");
					$("#productImg").attr("src",
							'#(resPath)' + res.path);
				} else {
					layer.msg(res.message);
				}
				//上传完毕回调
				layer.closeAll('loading'); //关闭loading
			},
			error : function() {
				//请求异常回调
				layer.closeAll('loading'); //关闭loading
			}
		});

		//多图片上传
		upload
				.render({
					elem : '#uploadCarouselImg',
					url : '#(ctxPath)/common/upload/productCarouselImg',
					multiple : true,
					before : function(obj) {
						layer.load(); //上传loading
					},
					done : function(res) {
						//上传完毕										
						if (res.state == 'ok') {
							var image = $("#carouselImage")
									.val();
							var carouselImage = "";
							if (image != null && image != "") {
								carouselImage = image + ","
										+ res.path;
							} else {
								carouselImage = res.path;
							}
							$("#carouselImage").val(
									carouselImage);
							$("#blockquote").css("display",
									"block");
							var content = '<div id="deldiv" onclick="deleteImage(this)" class="deldiv"><img  src="'+ res.path +'" '; 
					        content+='class="layui-upload-img" style="max-height: 92px;width: 92px;"/>';
							content += '<a href="#">';
							content += '<img src="#(RESOURCE_HOST)/static/img/delete03.png" class="pos" style="max-height: 30px;width: 30px;"/></a></div>';
							$('#productCarouselImg').append(
									content);
						} else {
							layer.msg(res.message);
						}
						//上传完毕回调
						layer.closeAll('loading'); //关闭loading */
					}
				});
	});


	//删除图片路径
	function deleteImage(thisimg) {
		var newIndex = $("#productCarouselImg .deldiv").index(thisimg);//当前选择的图片下标
		//删除图片
		$(thisimg).remove();
		//删除数组
		var urls = $("#carouselImage").val();
		var strs = new Array(); //定义一数组 
		strs = urls.split(","); //字符分割 
		strs.splice(newIndex, 1); //删除图片
		var newStrs = "";
		//通过索引 重新拼接字符串
		for (var i = 0; i < strs.length; i++) {
			if (i == strs.length - 1) {
				newStrs += strs[i];
			} else {
				newStrs += strs[i] + ",";
			}
		}
		//最后再把  拼接的新的地址 加如到 input 隐藏域里
		$("#carouselImage").val(newStrs);
	}

	$(document).ready(function() {
			var urls = "#(urls)";
			if (urls != null && urls != "") {
				$("#carouselImage").val(urls);
				$("#blockquote").css("display", "block");
				var strs = new Array(); //定义一数组 
				strs = urls.split(","); //字符分割 
				var content = "";
				for (var i = 0; i < strs.length; i++) {
					content += '<div id="deldiv" onclick="deleteImage(this)" class="deldiv"><img  src="'+ strs[i] +'" '; 
                    content +='class="layui-upload-img" style="max-height: 92px;width: 92px;"/>';
					content += '<a href="#">';
					content += '<img src="#(RESOURCE_HOST)/static/img/delete03.png" class="pos" style="max-height: 30px;width: 30px;"/></a></div>';
				}
				$('#productCarouselImg').html(content);
			}
			
			findSpec();
		});
	
	//找出这个产品的分类有没有规格 如果没有规格 就展示出产品本身的数量 单价 和 库存
	function findSpec() {
		var productType = $("#productType").val();
		$.ajax({
					type : 'POST',
					url : '#(ctxPath)/base/product/findSpec',
					data : {
						'productType' : productType
					},
					dataType : 'json',
					success : function(ret) {
						if (!ret.isOk) {
							$("#noSpec").css("display","");
							$("#noSpec input").attr("lay-verify","required");
						}else{
							$("#noSpec").css("display","none");
						}
					}
				});

	}
</script>
<style>
.layui-upload-img {
	width: 92px;
	height: 92px;
	margin: 0 10px 10px 0;
}

#deldiv {
	display: inline-block;
	position: relative;
	margin-left: 20px;
	width: 92px;
	height: 92px;
}

img {
	display: block;
}

.pos {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 16px;
	margin-top: -46px;
}
</style>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" name="data.id" value="#(data.id ??)">
		<input type="hidden" id="productType" name="data.productType" value="#(data.productType ??)">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>名称</label>
			<div class="layui-input-block">
				<input type="text" id="name" name="data.name" placeholder="名称"
					class="layui-input" value="#(data.name ??)" required
					lay-verify="required" autocomplete="off" />
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>主图片上传</label>
			<div class="layui-input-block">
				<input type="hidden" id="image" name="data.image"
					value="#(data.image ??)" />
				<button type="button" class="layui-btn" id="uploadImg">
					<i class="layui-icon">&#xe67c;</i>重新上传图片
				</button>
				<img id="productImg" src="#(data.image ??)"
					style="display: block; max-height: 200px; margin-top: 20px;">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>轮播图片上传</label>
			<div class="layui-input-block">
				<input type="hidden" id="carouselImage" name="data.url"/>
				<button type="button" class="layui-btn" id="uploadCarouselImg">
					<i class="layui-icon">&#xe67c;</i>重新上传轮播图片
				</button>
				<blockquote class="layui-elem-quote layui-quote-nm" id="blockquote"
					style="display: none; margin-top: 20px;">
					预览图：
					<div class="layui-upload-list" id="productCarouselImg"></div>
				</blockquote>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>全名</label>
			<div class="layui-input-block">
				<input type="text" id="fullName" name="data.fullName" placeholder="全名"
					class="layui-input" value="#(data.fullName ??)" required
					lay-verify="required" autocomplete="off" />
			</div>
		</div>
      <div style="display:none;" id="noSpec">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>单价</label>
			<div class="layui-input-block">
				<input type="text" id="price" name="data.price" placeholder="单价"
					class="layui-input" value="#(data.price ??)" 
					 autocomplete="off" />
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>销量</label>
			<div class="layui-input-block">
				<input type="text" id="salses" name="data.salses" placeholder="销量"
					class="layui-input" value="#(data.salses ??)" 
					 autocomplete="off" />
			</div>
		</div>
		
			<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>积分</label>
			<div class="layui-input-block">
				<input type="text" id="point" name="data.point" placeholder="积分"
					class="layui-input" value="#(data.point ??)" 
					 autocomplete="off" />
			</div>
		</div> 
		
      </div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>单位</label>
			<div class="layui-input-block">
				<input type="text" id="unit" name="data.unit" placeholder="单位"
					class="layui-input" value="#(data.unit ??)" required
					lay-verify="required" autocomplete="off" />
			</div>
		</div>
        
        <div class="layui-form-item">
				<label class="layui-form-label"><em class="require-mark">*</em>每箱数量</label>
				<div class="layui-input-block">
					<input type="text" id="packageSpec" name="data.packageSpec" placeholder="每箱数量"
						class="layui-input" value="#(data.packageSpec ??)" required lay-verify="required"
						autocomplete="off" />
				</div>
		</div>
		
			
		<div class="layui-form-item">
			<label class="layui-form-label">介绍</label>
			<div class="layui-input-block">
				<textarea class="layui-textarea" id="introduction"
					name="data.introduction" style="display: none">  
            #(data.introduction)
            </textarea>
			</div>
		</div>

<!-- 		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>关键词</label>
			<div class="layui-input-block">
				<input type="text" name="data.keywords" placeholder="关键词"
					class="layui-input" value="#(data.keywords ??)" required
					lay-verify="required" autocomplete="off" />
			</div>
		</div> -->
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>是否放首页</label>
			<div class="layui-input-block">
				<select name="data.isTop" lay-verify="required">
					<option></option> #option("YES_NO",data.isTop)
				</select>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>是否放产品页</label>
			<div class="layui-input-block">
				<select name="data.isShow" lay-verify="required">
					<option></option> #option("YES_NO",data.isShow)
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
				<input type="text" id="remarks" name="data.remarks" placeholder="备注信息"
					class="layui-input" value="#(data.remarks ??)" autocomplete="off" />
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit
				data-type="content">保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
