#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
layui.use([ 'form', 'layer', 'layedit' ], function() {
	// 操作对象
	var form = layui.form, layer = layui.layer, $ = layui.jquery;

	var layedit = layui.layedit, $ = layui.jquery;

	form.on('submit(sub)', function(data) {
		
		var name=$("#name").val();//name
    	if(name.length>64){
    		layer.alert("名称请勿超过64位");
    	　　　return false;
    	}
		
    	var image=$("#image").val();//图片
    	if(image==""){
    		layer.alert("请上传图片!");
    	　　　return false;
    	}
    	
		//获取会员价格
		var agencyPrices = document.getElementsByName("agencyPrice");
		var agencyPrice = "";
		for (var i = 0, j = agencyPrices.length; i < j; i++) {
			if (!/^[0-9]+(.[0-9]{2})?$/.test(agencyPrices[i].value)) {
	       		 layer.alert('会员价格请输入1至10位数字');
	       	     return false;
	       	}
			agencyPrice += agencyPrices[i].value + ":" + agencyPrices[i].id
					+ ",";
		}
		$("#agentPrice").val(agencyPrice);
		
		var price=$("#price").val();//单价
    	if(price!=""){
    		if (!/^[0-9]+(.[0-9]{2})?$/.test(price)) {
	       		 layer.alert('市场价请输入1至10位数字');
	       	     return false;
	       	 }
    	}     	
    	
    	var point=$("#point").val();//积分
    	if(point!=""){
    		if (!/^\d{1,10}$/.test(point)) {
	       		 layer.alert('积分请输入1至10位数字');
	       	     return false;
	       	 }
    	}
    	
    	var keywords=$("#keywords").val();//关键字
    	if(keywords.length>25){
    		layer.alert('关键字请勿超过25位');
	       	    return false;
    	}
    	
    	var remarks=$("#remarks").val();//备注信息
    	if(remarks.length>255){
    		layer.alert('备注信息请勿超过255位');
	       	    return false;
    	}
    	
		util.sendAjax({
			type : 'POST',
			url : '#(ctxPath)/base/product/postUpdateSku',
			data : $('#addForm').serialize(),
			loadFlag : true,
			success : function(data) {
				pop_close();
			}
		});

		return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
});

//图片上传
layui
		.use(
				'upload',
				function() {
					var upload = layui.upload;
					//执行实例
					var uploadInst = upload.render({
						elem : '#uploadImg' //绑定元素
						,
						url : '#(ctxPath)/common/upload/skuImg' //上传接口
						,
						field : 'file',
						data : {
							func : 'sku',
							limit : 2 * 1024 * 1024
						},
						size : 2 * 1024,
						before : function(obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
							layer.load(); //上传loading
						},
						done : function(res) {
							if (res.state == 'ok') {
								$("#image").val(res.path);
								$("#productImg").css("display", "block");
								$("#productImg").attr("src",
										'#(resPath)' + res.path);
							} else {
								layer.msg(res.message);
							}
							//上传完毕回调
							layer.closeAll('loading'); //关闭loading
						},
						error : function() {
							//请求异常回调
							layer.closeAll('loading'); //关闭loading
						}
					});
					
				});
</script>
<style>
.layui-upload-img {
	width: 92px;
	height: 92px;
	margin: 0 10px 10px 0;
}

#deldiv {
	display: inline-block;
	position: relative;
	margin-left: 20px;
	width: 92px;
	height: 92px;
}

img {
	display: block;
}

.pos {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 16px;
	margin-top: -46px;
}
</style>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" name="data.id" value="#(data.id ??)">
		<input type="hidden" name="agentPrice.agencyPrice" id="agentPrice" value="">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>名称</label>
			<div class="layui-input-block">
				<input type="text" id="name" name="data.name" placeholder="名称"
					class="layui-input" value="#(data.name ??)" required
					lay-verify="required" autocomplete="off" />
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>图片上传</label>
			<div class="layui-input-block">
				<input type="hidden" id="image" name="data.image"
					value="#(data.image ??)" />
				<button type="button" class="layui-btn" id="uploadImg">
					<i class="layui-icon">&#xe67c;</i>重新上传图片
				</button>
				<img id="productImg" src="#(data.image ??)"
					style="display: block; max-height: 200px; margin-top: 20px;">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>市场价</label>
			<div class="layui-input-block">
				<input type="text" id="price" name="data.price" placeholder="单价"
					class="layui-input" value="#(data.price ??)" required
					lay-verify="required" autocomplete="off" />
			</div>
		</div>

		<!-- <div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>销量</label>
			<div class="layui-input-block">
				<input type="text" name="data.salses" placeholder="销量"
					class="layui-input" value="#(data.salses ??)" required
					lay-verify="required" autocomplete="off" />
			</div>
		</div> -->
		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>积分</label>
			<div class="layui-input-block">
				<input type="text" id="point" name="data.point" placeholder="积分"
					class="layui-input" value="#(data.point ??)" required
					lay-verify="required" autocomplete="off" />
			</div>
		</div>		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>关键词</label>
			<div class="layui-input-block">
				<input type="text" id="keywords" name="data.keywords" placeholder="关键词"
					class="layui-input" value="#(data.keywords ??)" required
					lay-verify="required" autocomplete="off" />
			</div>
		</div>
		#for(x:agentPriceList)
		<div class="layui-form-item">		
				<label class="layui-form-label"><em class="require-mark">*</em>#(x.agentTypeName)会员价</label>
				<div class="layui-input-block">
					<input type="text" name="agencyPrice" placeholder="会员价"
						id="#(x.id)" class="layui-input" value="#(x.agencyPrice ??)" required
						lay-verify="required" autocomplete="off" />
				</div>			
		</div>	
		#end		
		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
				<input type="text" id="remarks" name="data.remarks" placeholder="备注信息"
					class="layui-input" value="#(data.remarks ??)" autocomplete="off" />
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit
				data-type="content">保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
