#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'config_no', title: '批号', width: 150}
                , {field: 'create_date', title: '创建时间', width: 150}
                , {field: 'brand_id', title: '品牌', width: 100, templet: '#joinTpl("brand", "brand_id")'}
                , {field: 'product_id', title: '商品', width: 100, templet: '#joinTpl("product", "product_id")'}
                , {field: 'anti_rule_id', title: '生成规则', width: 100, templet: '#joinTpl("anti_rule", "anti_rule_id")'}
                , {field: 'gen_count', title: '生成数量', width: 100}
                , {field: 'start_big', title: '大标起始值', width: 100}
                , {field: 'end_big', title: '大标结束值', width: 100}
                , {field: 'color_config', title: '颜色配置', width: 100}
                , {field: 'channel', title: '防伪渠道', width: 100, templet: '#dataTpl("AGENT_CHANNEL", "channel")'}
                , {field: 'code_length', title: '防伪长度', width: 100}
                , {field: 'remarks', title: '备注', width: 180}
                , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/anticode/anticode_config/tableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/anticode/anticode_config/delete',
                        data: {id : data.id},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable($('#brandId').val(), $('#productId').val(), $('#antiRuleId').val(), $('#configNo').val());
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                pop_show('编辑任务','#(ctxPath)/anticode/anticode_config/update?id=' + data.id,'','', function(){
                    reloadTable($('#brandId').val(), $('#productId').val(), $('#antiRuleId').val(), $('#configNo').val());
                });
            }
        });

        $("#add").click(function(){
            pop_show('添加任务','#(ctxPath)/anticode/anticode_config/add','','', function(){
                reloadTable($('#name').val());
            });
        });

        reloadTable = function (brandId, productId, antiRuleId, configNo) {
            table.reload('dateTable', {
                url: '#(ctxPath)/anticode/anticode_config/tableData'
                ,where: {brandId: brandId, productId: productId, antiRuleId: antiRuleId, configNo: configNo} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.brandId, data.field.productId, data.field.antiRuleId, data.field.configNo);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });


</script>
#end

#define content()
    <div class="layui-fluid">
        <form id="searchForm" class="layui-form x-center" action="" >
            <div class="layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">品牌</label>
                    <div class="layui-input-inline">
                    	<select id='brandId' name="brandId">
                    		<option></option>
	                    	#for (brand : brands)
			                <option value="#(brand.id)">#(brand.name)</option>
			                #end
		                </select>
                    </div>
                    <label class="layui-form-label">商品</label>
                    <div class="layui-input-inline">
                    	<select id='productId' name="productId">
		                    <option></option>
		                    #for (product : products)
		                    <option value="#(product.id)">#(product.name)</option>
			                #end
		                </select>
                    </div>
                    <label class="layui-form-label">规则</label>
                    <div class="layui-input-inline">
                    	<select id='antiRuleId' name="antiRuleId">
		                    <option></option>
		                    #for (rule : rules)
		                    <option value="#(rule.id)">#(rule.name)</option>
			                #end
		                </select>
                    </div>
                    <label class="layui-form-label">批号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="configNo" name="configNo" placeholder="" class="layui-input"/>
                    </div>

                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">
                #shiroHasPermission('/anticode/anticode_config/add')
                <button id="add" class="layui-btn layui-btn-small">添加防伪码配置</button>
                #end
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/anticode/anticode_config/update')
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    #end
    #shiroHasPermission('/anticode/anticode_config/delete')
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    #end
</script>
#end