#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/anticode/anticode_config/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" name="data.id" value="#(data.id ??)">
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>品牌</label>
            <div class="layui-input-block">
            	#for (brand : brands)
                <input type="checkbox" name="data.brandId" value="#(brand.id)" #if(brand.id==data.brandId) checked #end title="#(brand.name)">
                #end
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>商品</label>
            <div class="layui-input-block">
                <select id='data.productId' name="data.productId" lay-verify="required">
                    <option></option>
                    #for (product : products)
                    <option value="#(product.id)" #if(product.id==data.productId) selected #end>#(product.name)</option>
	                #end
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>生成规则</label>
            <div class="layui-input-block">
            	#for (rule : rules)
                <input type="radio" name="data.antiRuleId" value="#(rule.id)" #if(rule.id==data.antiRuleId) checked #end title="#(rule.name)">
                #end
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>生成数量</label>
            <div class="layui-input-block">
                <input type="text" name="data.genCount" placeholder="生成数量" class="layui-input" value="#(data.genCount ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>大标起始值</label>
            <div class="layui-input-block">
                <input type="text" name="data.startBig" placeholder="大标起始值" class="layui-input" value="#(data.startBig ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>大标结束值</label>
            <div class="layui-input-block">
                <input type="text" name="data.endBig" placeholder="大标结束值" class="layui-input" value="#(data.endBig ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label">颜色配置</label>
            <div class="layui-input-block">
                <input type="text" name="data.colorConfig" placeholder="颜色配置" class="layui-input" value="#(data.colorConfig ??)" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>防伪渠道</label>
            <div class="layui-input-block">
            	<select id="data.channel" name="data.channel" lay-verify="required">
                    <option></option>
                    #option("AGENT_CHANNEL", data.channel)
                </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>防伪码长度</label>
            <div class="layui-input-block">
                <input type="text" name="data.codeLength" placeholder="防伪码长度" class="layui-input" value="#(data.codeLength ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="data.remarks" placeholder="备注" class="layui-input" value="#(data.remarks ??)" autocomplete="off"/>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end