#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer','laydate'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            ,laydate = layui.laydate
            , $ = layui.jquery;
      	//授权日期
        laydate.render({
          elem: '#authTime',
          type: 'datetime'
        });
      	//过期日期
        laydate.render({
            elem: '#expireTime',
            type: 'datetime'
          });
        form.on('submit(sub)', function(data){

           	var remarks=$("#remarks").val();//备注信息
        	if(remarks.length>255){       	
        		 layer.alert('备注信息请勿超过255位');
        	     return false;
        	}
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/agent_brand/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" name="data.id" value="#(data.id ??)">
		  
	  	<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>代理商</label>
            	<div class="layui-input-block">
            	<select id='agent' name="data.agentId" lay-verify="required">
                    <option></option>
                    #for (x : agentList)
	                <option #(x.id == data.agentId ? 'selected' : '') value="#(x.id)">#(x.name)</option>
	                #end
                </select>
            </div>
 		</div>
          
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>代理商级别</label>
            <div class="layui-input-block">
            	<select id='agentType' name="data.agentType" lay-verify="required">
                    <option></option>
                    #for (x : agentTypeList)
	                <option #(x.id == data.agentType ? 'selected' : '') value="#(x.id)">#(x.name)</option>
	                #end
                </select>
            </div>
          </div>
          
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>授权状态</label>
            <div class="layui-input-block">
            	<select name="data.auditStatus" lay-verify="required">
                    <option></option>
                    #option("AUTH_STATUS",data.auditStatus ??)
                </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">授权书(自动生成)</label>
            <div class="layui-input-block">
                <input type="hidden" name="data.authPic" placeholder="" disabled="disabled" class="layui-input" value="#(data.authPic ??)" autocomplete="off"/>
            	<a href="#(data.authPic ??)" target="_blank"><img id="avatarImg" src="#(data.authPic ??)" style="display:block; max-height:200px;margin-top:20px;"></a>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <input type="text" id="remarks" name="data.remarks" placeholder="备注信息" class="layui-input" value="#(data.remarks ??)"  autocomplete="off"/>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
               	 保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end