#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/anticode/anticode/postAdd',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>配置ID</label>
            <div class="layui-input-block">
                <input type="text" name="data.configId" placeholder="配置ID" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>品牌</label>
            <div class="layui-input-block">
                <input type="text" name="data.brandId" placeholder="品牌" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>商品</label>
            <div class="layui-input-block">
                <input type="text" name="data.productId" placeholder="商品" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>生成规则</label>
            <div class="layui-input-block">
                <input type="text" name="data.antiRuleId" placeholder="生成规则" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>防伪码</label>
            <div class="layui-input-block">
                <input type="text" name="data.antiCode" placeholder="防伪码" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>物流码</label>
            <div class="layui-input-block">
                <input type="text" name="data.logisticsCode" placeholder="物流码" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>代理商</label>
            <div class="layui-input-block">
                <input type="text" name="data.agentId" placeholder="代理商" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em></label>
            <div class="layui-input-block">
                <input type="text" name="data.type" placeholder="" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>备注信息</label>
            <div class="layui-input-block">
                <input type="text" name="data.remarks" placeholder="备注信息" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end