#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/delivery_item/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" name="data.id" value="#(data.id ??)">
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>发货单</label>
            <div class="layui-input-block">
            	<select id="delivery" name="data.delivery" lay-search="">
                    <option></option>
                    #for(x:deliveryList)
                    	<option #(x.id == data.delivery ? 'selected' : '') value="#(x.id)">#(x.deliveryNo ??)</option>
                    #end
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>发货商品</label>
            <div class="layui-input-block">
            	<select id="product" name="data.product" lay-search="">
                    <option></option>
                    #for(x:productList)
                    	<option #(x.id == data.product ? 'selected' : '') value="#(x.id)">#(x.name ??)</option>
                    #end
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>防伪码</label>
            <div class="layui-input-block">
                <input type="text" name="data.antiCode" placeholder="防伪码" class="layui-input" value="#(data.antiCode ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>物流码</label>
            <div class="layui-input-block">
                <input type="text" name="data.logisticsCode" placeholder="物流码" class="layui-input" value="#(data.logisticsCode ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>商品数量</label>
            <div class="layui-input-block">
                <input type="number" name="data.productNum" placeholder="商品数量" class="layui-input" value="#(data.productNum ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>积分</label>
            <div class="layui-input-block">
                <input type="number" name="data.credit" placeholder="" class="layui-input" value="#(data.credit ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>

		  <div class="layui-form-item">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <input type="text" name="data.remarks" placeholder="备注信息" class="layui-input" value="#(data.remarks ??)" autocomplete="off"/>
            </div>
          </div>
          
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
               	 保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end