#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">

    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/product_type/postAddSub',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
  
    layui.use('upload', function(){
    	  var upload = layui.upload;
    	  //执行实例
    	  var uploadInst = upload.render({
    	    elem: '#uploadProductTypeIcon' //绑定元素
    	    ,url: '#(ctxPath)/common/upload/productTypeIcon' //上传接口
  	  	    ,field: 'file'
  	  	  	,data: {
  	  	  		func:'product_type',
  	  	  		limit: 2*1024*1024
  	  	  	}
  	  	  	,size: 2*1024
  	  	  	,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
  	  	  		layer.load(); //上传loading
  	  	  	}
  	    	    ,done: function(res){
  	    	    	if(res.state=='ok') {
  	    	    		$("#icon").val(res.path);
  	    	    		$("#productTypeIconImg").css("display", "block");
  	    	    		$("#productTypeIconImg").attr("src", '#(resPath)'+res.path);
  	    	    	} else {
  	    	    		layer.msg(res.message); 
  	    	    	}
  	    	      	//上传完毕回调
  	    	    	layer.closeAll('loading'); //关闭loading
  	    	    }
  	    	    ,error: function(){
  	    	    	//请求异常回调
  	    	    	layer.closeAll('loading'); //关闭loading
  	    	    }
  		});
    	});
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" id="parentId" name="parentId" value="#(parentId)">
    	<input type="hidden" id="parentIds" name="parentIds" value="#(parentIds)">
    	
    	<div class="layui-form-item">
            <label class="layui-form-label">上级代理</label>
            <div class="layui-input-block">
                <input type="text" disabled="disabled"  class="layui-input" value="#(data.name)"/>
            </div>
          </div>
    		
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>名称</label>
            <div class="layui-input-block">
                <input type="text" name="data.name" placeholder="名称" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
          
          <div class="layui-form-item">
           <label class="layui-form-label"><em class="require-mark">*</em>图标</label>
           <div class="layui-input-block">
	           <input type="hidden" id="icon" name="data.icon" required  lay-verify="required" />
	        	<button type="button" class="layui-btn" id="uploadProductTypeIcon">
				  <i class="layui-icon">&#xe67c;</i>上传图标
				</button>
				<img id="productTypeIconImg" src="" style="display:none; max-height:200px;">
	       	</div>
        </div>
        
        
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>备注信息</label>
            <div class="layui-input-block">
                <input type="text" name="data.remarks" placeholder="备注信息" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
          
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>排序</label>
            <div class="layui-input-block">
                <input type="text" name="data.sort" placeholder="排序" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                	保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end