#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

        	var name=$("#name").val();//icon
        	if(name.length>64){
        		layer.alert("名称请勿超过64位");
        	　　　return false;
        	}
        	
        	var icon=$("#icon").val();//icon
        	if(icon==""){
        		layer.alert("请上传图标!");
        	　　　return false;
        	}
        	
        	var sort=$("#sort").val();//排序
        	if (!/^\d{1,11}$/.test(sort)) {
       		 layer.alert('排序请输入1至10位数');
       	     return false;
       	     }

        	var remarks=$("#remarks").val();//备注信息
        	if(remarks.length>255){
        		layer.alert('备注信息请勿超过255位');
  	       	    return false;
        	}
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/product_type/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
    
    
    layui.use('upload', function(){
  	  var upload = layui.upload;
  	  //执行实例
  	  var uploadInst = upload.render({
  	    elem: '#uploadProductTypeIcon' //绑定元素
  	    ,url: '#(ctxPath)/common/upload/productTypeIcon' //上传接口
	  	    ,field: 'file'
	  	  	,data: {func:'product_type', limit: 2*1024*1024}
	  	  	,size: 2*1024
	  	  	,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
	  	  		layer.load(); //上传loading
	  	  	}
	    	    ,done: function(res){
	    	    	if(res.state=='ok') {
	    	    		$("#icon").val(res.path);
	    	    		$("#productTypeIconImg").css("display", "block");
	    	    		$("#productTypeIconImg").attr("src", '#(resPath)'+res.path);
	    	    	} else {
	    	    		layer.msg(res.message); 
	    	    	}
	    	      	//上传完毕回调
	    	    	layer.closeAll('loading'); //关闭loading
	    	    }
	    	    ,error: function(){
	    	    	//请求异常回调
	    	    	layer.closeAll('loading'); //关闭loading
	    	    }
		});
  	});
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" name="data.id" value="#(data.id ??)">
    	
    	<div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="data.name" placeholder="名称" class="layui-input" value="#(data.name ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  
          
          <div class="layui-form-item">
           <label class="layui-form-label"><em class="require-mark">*</em>图标</label>
           <div class="layui-input-block">
	           <input type="hidden" id="icon" name="data.icon" value="#(data.icon ??)" />
	        	<button type="button" class="layui-btn" id="uploadProductTypeIcon">
				  <i class="layui-icon">&#xe67c;</i>重新上传图标
				</button>
				<img id="productTypeIconImg" src="#(data.icon ??)" style="display:block; max-height:200px;margin-top:20px;">
	       	</div>
        </div>
          
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>排序</label>
            <div class="layui-input-block">
                <input type="text" id="sort" name="data.sort" placeholder="排序" class="layui-input" value="#(data.sort ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
    
          <div class="layui-form-item">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <input type="text" id="remarks" name="data.remarks" placeholder="备注信息" class="layui-input" value="#(data.remarks ??)"  autocomplete="off"/>
            </div>
          </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end