#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;

		form.on('submit(sub)', function(data) {
			var name=$("#name").val();//name
        	if(name.length>64){
        		layer.alert("名称请勿超过64位");
        	　　　return false;
        	}
			
        	var sort=$("#sort").val();//排序
        	if (!/^\d{1,10}$/.test(sort)) {
       		 layer.alert('排序请输入1至10位数字');
       	     return false;
       	     }
        	
        	var remarks=$("#remarks").val();//备注信息
        	if(remarks.length>255){
        		layer.alert('备注信息请勿超过255位');
  	       	    return false;
        	}
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/spec_item/postUpdate',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});
</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" name="data.id" value="#(data.id ??)">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>商品规格</label>
			<div class="layui-input-block">
				<select name="data.specId" id="specId" lay-verify="required"
					lay-search="" >
					<option></option> #for(x:specList)
	                <option #(x.id == data.specId ? 'selected' : '') value="#(x.id)">#(x.name ??)</option>
	                #end
                </select>
			</div>
		</div>		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>商品规格元素名称</label>
			<div class="layui-input-block">
				<input type="text" id="name" name="data.name" placeholder="" class="layui-input"
					value="#(data.name ??)" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>排序</label>
			<div class="layui-input-block">
				<input type="text" id="sort" name="data.sort" placeholder="" class="layui-input"
					value="#(data.sort ??)" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
				<input type="text" id="remarks" name="data.remarks" placeholder=""
					class="layui-input" value="#(data.remarks ??)" 
					autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
