#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/anticode/anticode_search_log/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
    
    layui.use('laydate', function(){
   	  var laydate = layui.laydate;
   	  laydate.render({
   	    elem: '#verifyDate' //指定元素
   	    ,type: 'datetime'
   	  });
   	  laydate.render({
   	    elem: '#replyDate' //指定元素
   	    ,type: 'datetime'
   	  });
   	});
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" name="data.id" value="#(data.id ??)">
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>产品</label>
            <div class="layui-input-block">
                <select id='data.productId' name="data.productId" lay-verify="required">
                    <option></option>
                    #for (product : products)
                    <option value="#(product.id)" #if(product.id==data.productId) selected #end>#(product.name)</option>
	                #end
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>防伪码内容</label>
            <div class="layui-input-block">
                <input type="text" name="data.anticodeContent" placeholder="防伪码内容" class="layui-input" value="#(data.anticodeContent ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>箱码</label>
            <div class="layui-input-block">
                <input type="text" name="data.logisticsCode" placeholder="箱码" class="layui-input" value="#(data.logisticsCode ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>ip地址</label>
            <div class="layui-input-block">
                <input type="text" name="data.ip" placeholder="ip地址" class="layui-input" value="#(data.ip ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>经度</label>
            <div class="layui-input-block">
                <input type="text" name="data.lat" placeholder="经度" class="layui-input" value="#(data.lat ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>纬度</label>
            <div class="layui-input-block">
                <input type="text" name="data.lng" placeholder="纬度" class="layui-input" value="#(data.lng ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>地址</label>
            <div class="layui-input-block">
                <input type="text" name="data.address" placeholder="地址" class="layui-input" value="#(data.address ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>详细地址</label>
            <div class="layui-input-block">
                <input type="text" name="data.formatAddress" placeholder="详细地址" class="layui-input" value="#(data.formatAddress ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>国家</label>
            <div class="layui-input-block">
                <input type="text" name="data.nation" placeholder="国家" class="layui-input" value="#(data.nation ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>省</label>
            <div class="layui-input-block">
                <input type="text" name="data.province" placeholder="省" class="layui-input" value="#(data.province ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>市</label>
            <div class="layui-input-block">
                <input type="text" name="data.city" placeholder="市" class="layui-input" value="#(data.city ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>区</label>
            <div class="layui-input-block">
                <input type="text" name="data.district" placeholder="区" class="layui-input" value="#(data.district ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>街道</label>
            <div class="layui-input-block">
                <input type="text" name="data.street" placeholder="街道" class="layui-input" value="#(data.street ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>街道号</label>
            <div class="layui-input-block">
                <input type="text" name="data.streetNumber" placeholder="街道号" class="layui-input" value="#(data.streetNumber ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>手机号</label>
            <div class="layui-input-block">
                <input type="text" name="data.mobile" placeholder="手机号" class="layui-input" value="#(data.mobile ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>短信内容</label>
            <div class="layui-input-block">
                <input type="text" name="data.msg" placeholder="短信内容" class="layui-input" value="#(data.msg ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>验证码</label>
            <div class="layui-input-block">
                <input type="text" name="data.verifyCode" placeholder="验证码" class="layui-input" value="#(data.verifyCode ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>验证时间</label>
            <div class="layui-input-block">
                <input type="text" id="verifyDate" name="data.verifyDate" placeholder="验证时间" class="layui-input" value="#(data.verifyDate ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>网站验证真伪</label>
            <div class="layui-input-block">
            	<select id="data.firstFake" name="data.firstFake" lay-verify="required">
                    <option></option>
                    #option("FAKE", data.firstFake)
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>是否真假</label>
            <div class="layui-input-block">
            	<select id="data.fake" name="data.fake" lay-verify="required">
                    <option></option>
                    #option("FAKE", data.fake)
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>是否短信回复</label>
            <div class="layui-input-block">
            	<select id="data.fake" name="data.fake" lay-verify="required">
                    <option></option>
                    #option("FAKE", data.hasReply)
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>回复日期</label>
            <div class="layui-input-block">
                <input type="text" id="replyDate" name="data.replyDate" placeholder="回复日期" class="layui-input" value="#(data.replyDate ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>回复内容</label>
            <div class="layui-input-block">
                <input type="text" name="data.replyContent" placeholder="回复内容" class="layui-input" value="#(data.replyContent ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>回复次数</label>
            <div class="layui-input-block">
                <input type="text" name="data.replyCount" placeholder="回复次数" class="layui-input" value="#(data.replyCount ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>购买渠道</label>
            <div class="layui-input-block">
            	<select id="data.sellerChannel" name="data.sellerChannel" lay-verify="required">
                    <option></option>
                    #option("SELLER_CHANNEL", data.sellerChannel)
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>卖家姓名</label>
            <div class="layui-input-block">
                <input type="text" name="data.sellerName" placeholder="卖家姓名" class="layui-input" value="#(data.sellerName ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>卖家微信</label>
            <div class="layui-input-block">
                <input type="text" name="data.sellerWechat" placeholder="卖家微信" class="layui-input" value="#(data.sellerWechat ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>卖家手机号</label>
            <div class="layui-input-block">
                <input type="text" name="data.sellerMobile" placeholder="卖家手机号" class="layui-input" value="#(data.sellerMobile ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>卖家链接</label>
            <div class="layui-input-block">
                <input type="text" name="data.sellerLink" placeholder="卖家链接" class="layui-input" value="#(data.sellerLink ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>从淘宝获取到的数据</label>
            <div class="layui-input-block">
                <input type="text" name="data.cityData" placeholder="从淘宝获取到的数据" class="layui-input" value="#(data.cityData ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>备注信息</label>
            <div class="layui-input-block">
                <input type="text" name="data.remarks" placeholder="备注信息" class="layui-input" value="#(data.remarks ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end