#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer','laydate' ], function() {
		// 操作对象
        var form = layui.form
            , layer = layui.layer
            ,laydate = layui.laydate
            , $ = layui.jquery;
      	//开始日期
        laydate.render({
          elem: '#startDate',
          type:'date'
        });
      	//过期日期
        laydate.render({
            elem: '#endDate',
            type:'date'
          });

		form.on('submit(sub)', function(data) {
			var startDate = $("#startDate").val();//开始时间
			var endDate = $("#endDate").val();//结束时间
			var productType = $("#productType").val();//商品分类
			var product = $("#product").val(); //商品
			
			var	startdateNo = startDate.replace(/-/g,"");//开始时间替换数字
    		var enddateNo = endDate.replace(/-/g,"");//结束时间替换数字
    		
    		var number = parseInt(enddateNo) - parseInt(startdateNo);
    		if(number<0){
    			layer.alert("结束时间必须大于开始时间");
    			 return false;
    		}else{
    			if( (startDate=="" && endDate!="") || (startDate!="" && endDate=="") ){
    				layer.alert("开始时间和结束时间必须同时选中或同时不选中");
    				return false;
    			}
    			if( productType!="" && product!="" ){
    				layer.alert("商品分类和商品必须同时选中或同时不选中");
    				return false;
    			}
    			var url = "#(ctxPath)/base/order/countOrdersOperation?startDate="+startDate+"&endDate="+endDate+"&productType="+productType+"&product="+product;
				form1.action = url;
    			form1.submit();
				return true;
				pop_close();
    		}
			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});
	
</script>
#end #define content()
<div class="x-body">
	<form id="addForm" name="form1" class="layui-form" action="">
		<div class="layui-form-item">
            <div class="layui-input-block"><em class="require-mark">*</em>为空即导出全部</label>
        </div>
		<div class="layui-form-item">
			<label class="layui-form-label">开始时间</label>
            <div class="layui-input-block">
                <input type="text" id="startDate" name="startDate" placeholder="开始时间" class="layui-input" value="" lay-verify="datetime" placeholder="yyyy-MM-dd" autocomplete="off"/>
            </div>
		</div>		
		<div class="layui-form-item">
			<label class="layui-form-label">结束时间</label>
            <div class="layui-input-block">
                <input type="text" id="endDate" name="endDate" placeholder="结束时间" class="layui-input" value="" lay-verify="datetime" placeholder="yyyy-MM-dd" autocomplete="off"/>
            </div>
		</div>
		<div class="layui-form-item">
            <label class="layui-form-label">商品分类</label>
            <div class="layui-input-block">
            	<select name="productType" id="productType">
                    <option></option>
                    #for(x:productTypeList)
                    	<option value="#(x.id)">#(x.name ??)</option>
                    #end
                </select>
            </div>
          </div>
          
          <div class="layui-form-item">
            <label class="layui-form-label">商品</label>
            <div class="layui-input-block">
            	<select name="product" id="product">
                    <option></option>
                    #for(x:productList)
                    	<option value="#(x.id)">#(x.name ??)</option>
                    #end
                </select>
            </div>
          </div>
          
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>导出</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			<button type="reset"  onclick="pop_close();" class="layui-btn layui-btn-primary">关闭</button>
		</div>
	</form>
</div>
#end
