#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer','laydate' ], function() {
		// 操作对象
        var form = layui.form
            , layer = layui.layer
            ,laydate = layui.laydate
            , $ = layui.jquery;
      	//开始日期
        laydate.render({
          elem: '#startDate',
          type:'date'
        });
      	//过期日期
        laydate.render({
            elem: '#endDate',
            type:'date'
          });

		form.on('submit(sub)', function(data) {
			var startDate = $("#startDate").val();//开始时间
			var endDate = $("#endDate").val();//结束时间
			
			var	startdateNo = startDate.replace(/-/g,"");//开始时间替换数字
    		var enddateNo = endDate.replace(/-/g,"");//结束时间替换数字
    		
    		var number = parseInt(enddateNo) - parseInt(startdateNo);
    		if(startDate == ""){
    			layer.alert('开始时间不能为空');
   			 	return false;
    		}
    		if(endDate == ""){
    			layer.alert("结束时间不能为空");
   			 	return false;
    		}
    		if(number<0){
    			layer.alert("结束时间必须大于开始时间");
    			 return false;
    		}else{
				var url = "#(ctxPath)/base/order/exportOrdersOperation?startDate="+startDate+"&endDate="+endDate;
				form1.action = url;
    			form1.submit();
				return true;
				pop_close();
    		}
			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});
	
</script>
#end #define content()
<div class="x-body">
	<form id="addForm" name="form1" class="layui-form" action="">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>开始时间</label>
            <div class="layui-input-block">
                <input type="text" id="startDate" name="startDate" placeholder="开始时间" class="layui-input" value="" required  lay-verify="datetime" placeholder="yyyy-MM-dd" autocomplete="off"/>
            </div>
		</div>		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>结束时间</label>
            <div class="layui-input-block">
                <input type="text" id="endDate" name="endDate" placeholder="结束时间" class="layui-input" value="" required  lay-verify="datetime" placeholder="yyyy-MM-dd" autocomplete="off"/>
            </div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>导出</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			<button type="reset"  onclick="pop_close();" class="layui-btn layui-btn-primary">关闭</button>
		</div>
	</form>
</div>
#end
