#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'create_date', title: '创建时间', width: 150}
                , {field: 'update_date', title: '修改时间', width: 150}
                , {field: 'sys_key', title: '配置项', width: 150}                                         
                , {field: 'sys_type', title: '配置值类型', width: 100, templet: '#dataTpl("SYS_TYPE", "sys_type")'}                                           
                , {field: 'remarks', title: '说明', width: 200}                                           
                , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/system/setting/tableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/system/setting/delete',
                        data: {id : data.id},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable($('#name').val());
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                pop_show('编辑任务','#(ctxPath)/system/setting/update?id=' + data.id,'','', function(){
                    reloadTable();
                });
            }
        });

        $("#add").click(function(){
            pop_show('添加','#(ctxPath)/system/setting/add','','', function(){
                reloadTable();
            });
        });

        reloadTable = function (name,typeId,groupId) {
            table.reload('dateTable', {
                url: '#(ctxPath)/system/setting/tableData'
                ,where: {name: name,typeId:typeId,groupId:groupId} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.name,data.field.typeId,data.field.groupId);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });


</script>
#end

#define content()
    <div class="layui-fluid">        
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">
                #shiroHasPermission('/system/setting/add')
                <button id="add" class="layui-btn layui-btn-small">添加配置</button>
                #end
                <button id="edit" onclick="reloadTable()" class="layui-btn layui-btn-small">刷新</button>
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/system/setting/update')
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    #end
    #shiroHasPermission('/system/setting/delete')
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    #end
</script>
#end