#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;

		form.on('submit(sub)', function(data) {
			var sysKey=$("#sysKey").val();//配置项
        	if(sysKey.length>64){
        		layer.alert("配置项请勿超过64位");
        	　　　return false;
        	}
			var remarks=$("#remarks").val();//配置说明
        	if(remarks.length>255){
        		layer.alert("配置说明请勿超过64位");
        	　　　return false;
        	}
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/system/setting/postUpdate',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});
</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" name="data.id" value="#(data.id ??)">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>配置项</label>
			<div class="layui-input-block">
				<input type="text" id="sysKey" name="data.sysKey" placeholder="" class="layui-input"
					value="#(data.sysKey ??)" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>配置值类型</label>
			<div class="layui-input-block">
				<select id='type' name="data.sysType" lay-verify="required">
                    <option></option>
                    #option("SYS_TYPE",data.sys_type ??)
                </select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>配置说明</label>
			<div class="layui-input-block">
				<input type="text" id="remarks" name="data.remarks" placeholder="" class="layui-input"
					value="#(data.remarks ??)" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
