#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    
</script>
#end

#define content()
<div class="x-body">
	<video id="aditemVideo" width="100%" height="80%" controls autoplay>
	  <source src="#(data.videoUrl ??)" type="video/ogg">
	</video>
</div>
#end