#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer','layedit'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        var layedit = layui.layedit, $ = layui.jquery;

		layedit.set({
			uploadImage : {
				url : '#(ctxPath)/common/upload/adItemContentImg' //接口url
				,
				type : 'post' //默认post
			}
		});
		//构建一个默认的编辑器
		var index = layedit.build('content');
        
        form.on('submit(sub)', function(data){
        	layedit.sync(index);
        	var name=$("#name").val();//name
        	if(name.length>64){
        		layer.alert("名称请勿超过64位");
        	　　　return false;
        	}
        	var title=$("#title").val();//标题
        	if(title.length>64){
        		layer.alert("标题请勿超过64位");
        	　　　return false;
        	}
        	var imgUrl=$("#imgUrl").val();//上传图片
        	if(imgUrl ==""){
        		layer.alert("请上传图片");
        	　　　return false;
        	}
        	var adLink=$("#adLink").val();//广告链接
        	if(adLink.length>255){
        		layer.alert("广告链接请勿超过255位");
        	　　　return false;
        	}
        	var remarks=$("#remarks").val();//备注信息
        	if(remarks.length>255){
        		layer.alert("备注信息请勿超过255位");
        	　　　return false;
        	}
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/ad_item/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
    
    layui.use('upload', function(){
  	  var upload = layui.upload;
  	  //执行实例
  	  var uploadInst = upload.render({
  	    elem: '#uploadimgUrl' //绑定元素
  	    ,url: '#(ctxPath)/common/upload/adItemImg' //上传接口
	  	    ,field: 'file'
	  	  	,data: {func:'adItem', limit: 2*1024*1024}
	  	  	,size: 2*1024
	  	  	,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
	  	  		layer.load(); //上传loading
	  	  	}
	    	    ,done: function(res){
	    	    	if(res.state=='ok') {
	    	    		$("#imgUrl").val(res.path);
	    	    		$("#aditemImg").css("display", "block");
	    	    		$("#aditemImg").attr("src", '#(resPath)'+res.path);
	    	    	} else {
	    	    		layer.msg(res.message); 
	    	    	}
	    	      	//上传完毕回调
	    	    	layer.closeAll('loading'); //关闭loading
	    	    }
	    	    ,error: function(){
	    	    	//请求异常回调
	    	    	layer.closeAll('loading'); //关闭loading
	    	    }
		});
  	});
    
  	//视频上传
    layui.use('upload', function(){
    	  var upload = layui.upload;
    	  //执行实例
    	  var uploadInst = upload.render({
    	    elem: '#uploadVideoUrl' //绑定元素
    	    ,url: '#(ctxPath)/common/upload/adItemVideo' //上传接口
  	  	    ,field: 'file'
  	  	    ,accept: 'video' //视频
  	  	  	,data: {func:'adItem'}
  	  	  	,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
  	  	  		layer.load(); //上传loading
  	  	  	}
  	    	    ,done: function(res){
  	    	    	if(res.state=='ok') {
  	    	    		$("#videoUrl").val(res.path);
  	    	    		$("#aditemVideo").css("display", "block");
  	    	    		$("#aditemVideo").attr("src", '#(resPath)'+res.path);
  	    	    	} else {
  	    	    		layer.msg(res.message); 
  	    	    	}
  	    	      	//上传完毕回调
  	    	    	layer.closeAll('loading'); //关闭loading
  	    	    }
  	    	    ,error: function(){
  	    	    	//请求异常回调
  	    	    	layer.closeAll('loading'); //关闭loading
  	    	    }
  		});
	});
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
    	<input type="hidden" name="data.id" value="#(data.id ??)">
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="data.name" placeholder="名称" class="layui-input" value="#(data.name ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>标题</label>
            <div class="layui-input-block">
                <input type="text" id="title" name="data.title" placeholder="标题" class="layui-input" value="#(data.title ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>文本内容</label>
            <div class="layui-input-block">
            <textarea class="layui-textarea" id="content"
					name="data.content" style="display: none"> 
					#(data.content ??) 
            </textarea>               
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>上传图片</label>
            <div class="layui-input-block">
	           <input type="hidden" id="imgUrl" name="data.imgUrl" value="#(data.imgUrl ??)"/>
	        	<button type="button" class="layui-btn" id="uploadimgUrl">
				  <i class="layui-icon">&#xe67c;</i>重新上传图片
				</button>
				<img id="aditemImg" src="#(data.imgUrl ??)" style="display:block; max-height:200px;margin-top:20px;">
	       	</div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label">视频地址</label>
            <div class="layui-input-block">
	            <input type="hidden" id="videoUrl" name="data.videoUrl" value="#(data.videoUrl ??)" />
	        	<button type="button" class="layui-btn" id="uploadVideoUrl">
				  <i class="layui-icon">&#xe67c;</i>重新上传视频
				</button>
				<video id="aditemVideo" width="80%" height="80%" style="display:block; max-height:200px;margin-top:20px;" controls autoplay>
				  <source src="#(data.videoUrl ??)" type="video/ogg">
				</video>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>栏位</label>
            <div class="layui-input-block">
                <select id='adField' name="data.adField" lay-verify="required">
                    <option></option>
                    #for (x : adFieldList)
	                <option #(x.id == data.adField ? 'selected' : '') value="#(x.id)">#(x.name)</option>
	                #end
                </select>
            </div>
          </div>
          
          <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>广告链接</label>
            <div class="layui-input-block">
                <input type="text" id="adLink" name="data.adLink" placeholder="广告链接" class="layui-input" value="#(data.adLink ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
          
		  <div class="layui-form-item">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <input type="text" id="remarks" name="data.remarks" placeholder="备注信息" class="layui-input" value="#(data.remarks ??)" autocomplete="off"/>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end