#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer','layedit'], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;
		var layedit = layui.layedit, $ = layui.jquery;

		layedit.set({
			uploadImage : {
				url : '#(ctxPath)/common/upload/oaNotifyContentImg' //接口url
				,
				type : 'post' //默认post
			}
		});
		//构建一个默认的编辑器
		var index = layedit.build('content');
		
		form.on('submit(sub)', function(data) {		
			layedit.sync(index);
		 	var title=$("#title").val();//标题
        	if(title.length>64){
        		layer.alert("标题请勿超过64位");
        	　　　return false;
        	}
		 	var files=$("#files").val();//标题
        	if(files ==""){
        		layer.alert("请上传图片");
        	　　　return false;
        	}
        	var remarks=$("#remarks").val();//备注信息
        	if(remarks.length>255){
        		layer.alert("备注信息请勿超过255位");
        	　　　return false;
        	}
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/oa_notify/postAdd',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});						
			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});

	//图片上传
	layui
			.use(
					'upload',
					function() {
						var upload = layui.upload;
						//执行实例
						var uploadInst = upload.render({
							elem : '#uploadImg' //绑定元素
							,
							url : '#(ctxPath)/common/upload/oaNotifyFile' //上传接口
							,
							field : 'file',
							data : {
								func : 'product',
								limit : 2 * 1024 * 1024
							},
							size : 2 * 1024,
							before : function(obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
								layer.load(); //上传loading
							},
							done : function(res) {
								if (res.state == 'ok') {
									$("#files").val(res.path);
									$("#productImg").css("display", "block");
									$("#productImg").attr("src",
											'#(resPath)' + res.path);
								} else {
									layer.msg(res.message);
								}
								//上传完毕回调
								layer.closeAll('loading'); //关闭loading
							},
							error : function() {
								//请求异常回调
								layer.closeAll('loading'); //关闭loading
							}
						});
					});	
						
</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" id="username" name="data.username" value="" />
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>标题</label>
			<div class="layui-input-block">				
            <input type="text" id="title" name="data.title" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>类型</label>
			<div class="layui-input-block">
				<select name="data.type" id="type" lay-verify="required">
                    <option></option>
                     #option("OA_NOTIFY_TYPE")
                </select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>状态</label>
			<div class="layui-input-block">
				<select name="data.status" id="status" lay-verify="required">
                    <option></option>
                     #option("OA_NOTIFY_STATUS")
                </select>
			</div>
		</div>
		 <div class="layui-form-item">
            <label class="layui-form-label" for="id_select" ><em class="require-mark">*</em>接收人</label>
            <div class="layui-input-block">
            	<select id="agent_id"  name="data.agent_id" lay-search="" lay-verify="required" >
                    <option></option>
                    #for(x:agentList)
                    	<option value="#(x.id)">#(x.name ??)</option>
                    #end
                </select>
            </div>
          </div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>内容</label>		
            <div class="layui-input-block">
				<textarea class="layui-textarea" id="content"
					name="data.content" style="display: none">  
            </textarea>
            </div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>图片上传</label>
			<div class="layui-input-block">
				<input type="hidden" id="files" name="data.files" />
				<button type="button" class="layui-btn" id="uploadImg">
					<i class="layui-icon">&#xe67c;</i>上传图片
				</button>
				<img id="productImg" src=""
					style="display: none; max-height: 200px; margin-top: 20px;">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
				<input type="text" id="remarks" name="data.remarks" placeholder=""
					class="layui-input" value="" 
					autocomplete="off" />
			</div>
		</div>		
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
