#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'title', title: '标题', width: 150}
                , {field: 'type', title: '类型', width: 100, templet: '#dataTpl("OA_NOTIFY_TYPE", "type")'}
                , {field: 'status', title: '状态', width: 80, templet: '#dataTpl("OA_NOTIFY_STATUS", "status")'}
                , {field: 'notifyRecord', title: '已查阅数', width: 100}
                , {field: 'notifyTotal', title: '接收人总数', width: 100}
                , {field: 'create_date', title: '更新时间', width: 200} 
                , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/base/oa_notify/tableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/base/oa_notify/delete',
                        data: {id : data.id},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable($('#name').val());
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                pop_show('编辑任务','#(ctxPath)/base/oa_notify/update?id=' + data.id,'','', function(){
                    reloadTable();
                });
            }
        });

        $("#add").click(function(){
            pop_show('添加任务','#(ctxPath)/base/oa_notify/add','','', function(){
                reloadTable();
            });
        });

        reloadTable = function (title,type,status) {
            table.reload('dateTable', {
                url: '#(ctxPath)/base/oa_notify/tableData'
                ,where: {title: title,type:type,status:status} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.title,data.field.type,data.field.status);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });


</script>
#end

#define content()
    <div class="layui-fluid">
        <form id="searchForm" class="layui-form x-center" action="" >
             <div class="layui-form-pane">
              <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="title" placeholder="" class="layui-input"/>
                    </div>
                   <label class="layui-form-label" style="width:150px;">类型</label>
                    <div class="layui-input-inline">
                        <select id="type" name="type" lay-search="">
		                    <option></option>
		                   #option("OA_NOTIFY_TYPE")
		                </select>
                    </div>
                     <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select id="status" name="status" lay-search="">
		                    <option></option>
		                   #option("OA_NOTIFY_STATUS")
		                </select>
                    </div>
                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                     <div class="layui-input-inline" style="width : 10px">
                        <button class="layui-btn"  lay-submit="" lay-filter="reset"><i class="layui-icon">&#xe666;</i>重置</button>
                    </div>
                </div>
            </div>
              
        </form>
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">
                #shiroHasPermission('/base/oa_notify/add')
                <button id="add" class="layui-btn layui-btn-small">添加通告</button>
                #end
                <button id="edit" onclick="reloadTable()" class="layui-btn layui-btn-small">刷新</button>
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/base/oa_notify/update')
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    #end
    #shiroHasPermission('/base/oa_notify/delete')
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    #end
</script>
#end