#include("/template/common/include/_css.html")
#include("/template/common/include/_js.html")
<div class="height"></div>


<!-- 导航 -->
<div class="nav">
	<input type="hidden" id="classHidden" name="classHidden" value="">
	<ul id="nav">
    	<li><a class="homeClass" href="/index"><i>&#xe620;</i><em>首页</em></a></li>
        <li><a class="productClass" href="/product"><i>&#xe601;</i><em>产品</em></a></li>
        <li><a class="searchClass" href="/search/index"><i>&#xe681;</i><em>查询</em></a></li>
        <li><a class="agentClass" href="/agent/index"><i>&#xe746;</i><em>我的</em></a></li>
    </ul>
</div>
<!-- 导航 -->

<script>
var classHidden = "";
//首页
$(".homeClass").click(function(){
	$("#nav li a").removeClass("now"); //先移除now样式
	$("#classHidden").val("1"); //给这个隐藏域赋值为1
	classHidden = $("#classHidden").val();
})
//产品
$(".productClass").click(function(){
	$("#nav li a").removeClass("now");
	$("#classHidden").val("2");
	classHidden = $("#classHidden").val();
	
})
//查询
$(".searchClass").click(function(){
	$("#nav li a").removeClass("now");
	$("#classHidden").val("3");
	classHidden = $("#classHidden").val();
	
})
//代理商
$(".agentClass").click(function(){
	$("#nav li a").removeClass("now");
	$("#classHidden").val("4");
	classHidden = $("#classHidden").val();
})
//点击a标签的时候 传 classHidden 值去后台 暂存值
$("#nav li a").click(function(){
	$.ajax({
		type : 'POST',
		url : '/pathValue?id='+classHidden,
		timeout : 30000,
		success : function(data) {
			
		},
		error : function(xhr, type) {
			$.DialogByZ.Alert({Title: "提示", Content: "超时,或服务错误"+type+"",FunL:Immediate})
		}
	});
})
//页面加载时 从后台常量取值 给各个模块a标签 添加 now 样式
$(function(){
	var url = window.location.href;
		$.ajax({
			type : 'POST',
			url : '/addClass?url='+url,
			timeout : 30000,
			success : function(data) {
				if(data.msg == "1"){
					$(".homeClass").addClass("now");
				}else if(data.msg == "2"){
					$(".productClass").addClass("now");
				}else if(data.msg == "3"){
					$(".searchClass").addClass("now");
				}else if(data.msg == "4"){
					$(".agentClass").addClass("now");
				}
			},
			error : function(xhr, type) {
				$.DialogByZ.Alert({Title: "提示", Content: "超时,或服务错误"+type+"",FunL:Immediate})
			}
		});
})

function Immediate(){
	$.DialogByZ.Close();
}

</script>