#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){
        	
        	var name=$("#name").val();//name
        	if(name.length>111){
        		layer.alert("资源名称请勿超过111字符!");
         	　　　return false;
        	}

        	var url=$("#url").val();//资源URL
        	if(url.length>255){
        		layer.alert("资源URL请勿超过255字符!");
         	　　　return false;
        	}

        	var iconCls=$("#iconCls").val();//资源图标
        	if(iconCls.length>255){
        		layer.alert("资源图标请勿超过255字符!");
         	　　　return false;
        	}

        	var des=$("#des").val();//资源描述
        	if(des.length>255){
        		layer.alert("资源描述请勿超过255字符!");
         	　　　return false;
        	}

        	var seq=$("#seq").val();//排序号
        	if(seq.length>20){
        		layer.alert("排序号请勿超过20字符!");
         	　　　return false;
        	}
        	
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/system/res/postUpdate',
                data: $.param(data.field),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form class="layui-form" action="">
        <input type="hidden" name="pid" value="#(pRes.id)">
        <div class="layui-form-item">
            <label class="layui-form-label">父级名称</label>
            <div class="layui-input-block">
                <input type="text" name="pname" placeholder="父级名称" class="layui-input" value="#(pRes.name)" readonly="readonly" disabled="disabled"/>
            </div>
        </div>

        <input type="hidden" name="res.id" value="#(res.id ??)">
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>资源名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="res.name" placeholder="资源名称" class="layui-input" value="#(res.name ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>资源URL</label>
            <div class="layui-input-block">
                <input type="text" id="url" name="res.url" placeholder="资源URL" class="layui-input" value="#(res.url ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">资源图标</label>
            <div class="layui-input-block">
                <input type="text" id="iconCls" name="res.iconCls" placeholder="资源图标" class="layui-input" value="" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>资源描述</label>
            <div class="layui-input-block">
                <input type="text" id="des" name="res.des" placeholder="资源描述" class="layui-input" value="#(res.des ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>资源类型</label>
            <div class="layui-input-block">
                <select id='type' name="res.type" lay-verify="required">
                    <option></option>
                    #option("TYPE_SYSTEM_RES", res.type)
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>排序号</label>
            <div class="layui-input-block">
                <input type="number" id="seq" name="res.seq" placeholder="排序号" class="layui-input" value="#(res.seq ??)" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>状态</label>
            <div class="layui-input-block">
                <select id='status' name="res.status" lay-verify="required">
                    <option></option>
                    #statusOption(com.tipu.agent.admin.service.entity.status.system.ResStatus::me(), res.status)
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end