#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer','layedit'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        var layedit = layui.layedit, $ = layui.jquery;

		layedit.set({
			uploadImage : {
				url : '#(ctxPath)/common/upload/articleContentImg' //接口url
				,
				type : 'post' //默认post
			}
		});
		//构建一个默认的编辑器
		var index = layedit.build('content');
        
        form.on('submit(sub)', function(data){
        	layedit.sync(index);
        	var title=$("#title").val();//标题
        	if(title.length>64){
        		layer.alert("标题请勿超过64位");
        	　　　return false;
        	}
        	var product=$("#product").val();//产品名
        	if(product.length>64){
        		layer.alert("产品名请勿超过64位");
        	　　　return false;
        	}
        	var remarks=$("#remarks").val();//简介
        	if(remarks.length>255){
        		layer.alert("简介请勿超过255位");
        	　　　return false;
        	}
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/article/postAdd',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>标题</label>
            <div class="layui-input-block">
                <input type="text" id="title" name="data.title" placeholder="标题" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>内容</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="content"
					name="data.content" style="display: none">  
            </textarea>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>产品</label>
            <div class="layui-input-block">
                <input type="text" id="product" name="data.product" placeholder="产品" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>文章类型</label>
            <div class="layui-input-block">
            	<select id='articleType' name="data.articleType" lay-verify="required">
                    <option></option>
                    #option("ARTICLE_TYPE")
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>简介</label>
            <div class="layui-input-block">
                <input type="text" id="remarks" name="data.remarks" placeholder="简介" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end