#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    
</script>
#end

#define content()
<div class="x-body">
	<img id="" src="#(data.logo_pic ??)" >
</div>
#end