#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
var layerIndex;
var layerInitWidth;
var layerInitHeight;
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏       
                 {field: 'name', title: '名称', width: 100}
                , {field: 'logo_pic', title: 'logo', width: 100, align: 'center', toolbar: '#findlogo'}
                , {field: 'address', title: '地址', width: 200, align: 'center'}
                , {field: 'phone', title: '电话', width: 100, align: 'center'}
                , {field: 'home_url', title: '网址', width: 200, align: 'center', event:'openUrl' }
                , {field: 'email', title: '邮箱', width: 100, align: 'center'}
                , {field: 'remarks', title: '备注信息', width: 200}
                , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/system/company/tableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/system/company/delete',
                        data: {id : data.id},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable($('#name').val());
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                pop_show('编辑','#(ctxPath)/system/company/update?id=' + data.id,'','', function(){
                    reloadTable($('#name').val());
                });
            }else if(obj.event === 'findlogo'){
            	layer.photos({
                    photos:{"title": "logo","id": 123,"start": 0,"data": [{"alt": "logo","pid": 0,"src": data.logo_pic,"thumb": ""}]}                                        		    
                  });  	         
            }else if(obj.event === 'openUrl'){
                window.open(data.home_url);
            }
        });

        $("#add").click(function(){
            pop_show('添加','#(ctxPath)/system/company/add','','', function(){
                reloadTable($('#name').val());
            });
        });
        
        $("#addAdmin").click(function(){
            pop_show('添加管理员','#(ctxPath)/system/company/addAdmin','','', function(){
                reloadTable($('#name').val());
            });
        });

        reloadTable = function (name) {
            table.reload('dateTable', {
                url: '#(ctxPath)/system/company/tableData'
                ,where: {name: name} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.name);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
    
</script>
#end

#define content()
    <div class="layui-fluid">
        <form id="searchForm" class="layui-form x-center" action="" >
            <div class="layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" placeholder="请输入名称" class="layui-input"/>
                    </div>

                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                     <div class="layui-input-inline" style="width : 10px">
                        <button class="layui-btn"  lay-submit="" lay-filter="reset"><i class="layui-icon">&#xe666;</i>重置</button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="layui-row">
                <div class="layui-btn-group">
                #shiroHasPermission('/system/company/add')
                <button id="add" class="layui-btn layui-btn-small">添加</button>
                #end
                </div>
                <div class="layui-btn-group">
                #shiroHasPermission('/system/company/addAdmin')
                <button id="addAdmin" class="layui-btn layui-btn-small">添加管理员</button>
                #end
                </div>
                <div class="layui-btn-group">                
                <button id="edit" onclick="reloadTable()" class="layui-btn layui-btn-small">刷新</button>
                </div>
            
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/system/company/update')
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    #end
    #shiroHasPermission('/system/company/delete')
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    #end
</script>

<script type="text/html" id="findlogo">
    <a class="layui-btn layui-btn-xs" lay-event="findlogo">查看logo</a>
</script>
#end