#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer','layedit'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;
        
        var layedit = layui.layedit, $ = layui.jquery;

 		layedit.set({
			uploadImage : {
				url : '#(ctxPath)/common/upload/brandIntroductionImg' //接口url
				,
				type : 'post' //默认post
			}
		}); 
		//构建一个默认的编辑器
		var index = layedit.build('remarks');
        
        form.on('submit(sub)', function(data){
        	layedit.sync(index);
        	
        	var name=$("#name").val();//name
        	if(name.length>64){
        		layer.alert("公司名称请勿超过64字符!");
         	　　　return false;
        	}
        	
         	var logo=$("#logo").val();//logo
        	if(logo==""){
        		layer.alert("请上传logo!");
        	　　　return false;
        	}
        	
        	var address=$("#address").val();//address
        	if(address.length>255){
        		layer.alert("公司地址请勿超过255字符!");
         	　　　return false;
        	}
         	
        	var phone=$("#phone").val();//固定电话
        	if (!/^\d{3,4}\-\d{7,8}$/.test(phone)) {
        		 layer.alert('固定电话输入不正确');
        	     return false;
        	}
        	
        	var homeUrl=$("#homeUrl").val();//homeUrl
        	if(homeUrl.length>120){
        		layer.alert("公司网址请勿超过120字符!");
         	　　　return false;
        	}
        	 
        	var email=$("#email").val();//邮箱
        	var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$"); //正则表达式
        	if(!reg.test(email)){ //正则验证不通过，格式不对
        		layer.alert("邮箱格式不正确!");
        	　　　return false;
        	}
        	
         	var remarks=$("#remarks").val();//备注信息
        	remarks=remarks.replace(/\<.*?\>/g,"").replace(/(^\s*)|(\s*$)/g, "");;
        	if(remarks.length>255){
        		layer.alert("备注信息字数不能超过255字符!");
         	　　　return false;
        	}
        	
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/system/company/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
    
    layui.use('upload', function(){
    	  var upload = layui.upload;
    	  //执行实例
    	  var uploadInst = upload.render({
    	    elem: '#uploadLogo' //绑定元素
    	    ,url: '#(ctxPath)/common/upload/brandLogo' //上传接口
  	  	    ,field: 'file'
  	  	  	,data: {func:'brand', limit: 2*1024*1024}
  	  	  	,size: 2*1024
  	  	  	,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
  	  	  		layer.load(); //上传loading
  	  	  	}
  	    	    ,done: function(res){
  	    	    	if(res.state=='ok') {
  	    	    		$("#logo").val(res.path);
  	    	    		$("#logoImg").css("display", "block");
  	    	    		$("#logoImg").attr("src", '#(resPath)'+res.path);
  	    	    	} else {
  	    	    		layer.msg(res.message); 
  	    	    	}
  	    	      	//上传完毕回调
  	    	    	layer.closeAll('loading'); //关闭loading
  	    	    }
  	    	    ,error: function(){
  	    	    	//请求异常回调
  	    	    	layer.closeAll('loading'); //关闭loading
  	    	    }
  		});
   	});
</script>
#end

#define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" name="data.id" value="#(data.id ??)">

		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>名称</label>
			<div class="layui-input-block">
				<input type="text" id="name" name="data.name" placeholder="名称"
					class="layui-input" value="#(data.name ??)" required
					lay-verify="required" autocomplete="off" />
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>logo</label>
			<div class="layui-input-block">
				<input type="hidden" id="logo" name="data.logoPic" required
					lay-verify="required" value="#(data.logoPic ??)" />
				<button type="button" class="layui-btn" id="uploadLogo">
					<i class="layui-icon">&#xe67c;</i>重新上传logo
				</button>
				<img id="logoImg" src="#(data.logoPic ??)"
					style="display: block; max-height: 200px;margin-top:20px;">
			</div>
		</div>
		 
		 <div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>地址</label>
			<div class="layui-input-block">
			    <input type="text" id="address" name="data.address" placeholder="地址" class="layui-input" value="#(data.address ??)" required  lay-verify="required" autocomplete="off" />
			</div>
		</div>
		 
		 <div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>固定电话</label>
			<div class="layui-input-block">
			    <input type="text" id="phone" name="data.phone" placeholder="电话" class="layui-input" value="#(data.phone ??)" required  lay-verify="required" autocomplete="off"/>
			</div>
		</div>
		 
		 <div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>网址</label>
			<div class="layui-input-block">
			    <input type="text" id="homeUrl" name="data.homeUrl" placeholder="网址" class="layui-input" value="#(data.homeUrl ??)" required  lay-verify="required" autocomplete="off" />
			</div>
		</div>
		 
		 <div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>邮箱</label>
			<div class="layui-input-block">
			    <input type="text" id="email" name="data.email" placeholder="邮箱" class="layui-input" value="#(data.email ??)" required  lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
			<textarea class="layui-textarea" id="remarks" 
					name="data.remarks" style="display: none">#(data.remarks ??)  
            </textarea>
			</div>
		</div>


		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end