#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;
		form.on('submit(sub)', function(data) {
			var sysValue=$("#sysValue").val();//配置值
        	if(sysValue.length>64){
        		layer.alert("配置值请勿超过64位");
        	　　　return false;
        	}
			var remarks=$("#type option:selected").text();//配置说明
			$("#remarks").val(remarks);
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/base/settingVal/postAdd',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});



</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" id="remarks" name="data.remarks" value=""/>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>配置说明</label>
			<div class="layui-input-block">
				<select id='type' name="data.settingId" lay-verify="required">
                    <option></option>
                    #for(x:settingList)
                    <option value="#(x.sysKey)">#(x.remarks)</option>
                    #end
                </select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>配置值</label>
			<div class="layui-input-block">
				<input type="text" id="sysValue" name="data.val" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>是否开启</label>
			<div class="layui-input-block">
				<select id='type' name="data.enable" lay-verify="required">
                    <option></option>
                    #option("YES_NO")
                </select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
