#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;
		form.on('submit(sub)', function(data) {
			
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/system/weixin/postAdd',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});



</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>微信号</label>
			<div class="layui-input-block">
				<input type="text" name="data.wxNo" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>微信昵称</label>
			<div class="layui-input-block">
				<input type="text" name="data.wxName" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>微信类型</label>
			<div class="layui-input-block">
				<select name="data.wxType" lay-verify="required">
                    <option></option>
                    #option("WX_TYPE")
                </select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>token</label>
			<div class="layui-input-block">
				<input type="text" name="data.wxToken" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>AppID</label>
			<div class="layui-input-block">
				<input type="text" name="data.wxAppId" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>AppSecret</label>
			<div class="layui-input-block">
				<input type="text" name="data.wxAppsecret" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">微信商户号</label>
			<div class="layui-input-block">
				<input type="text" name="data.wxMchid" placeholder="" class="layui-input"
					value=""  autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">微信商户密钥</label>
			<div class="layui-input-block">
				<input type="text" name="data.wxPaykey" placeholder="" class="layui-input"
					value=""  autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>网页授权地址</label>
			<div class="layui-input-block">
				<input type="text" name="data.wxOauthUrl" placeholder="" class="layui-input"
					value="" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
				<input type="text" name="data.remarks" placeholder=""
					class="layui-input" value="" 
					autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
