#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){
        	var name=$("#name").val();//name
        	if(name.length>64){
        		layer.alert("栏位名称请勿超过64位");
        	　　　return false;
        	}
        	var remarks=$("#remarks").val();//备注信息
        	if(remarks.length>255){
        		layer.alert("备注信息请勿超过255位");
        	　　　return false;
        	}
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/ad_field/postAdd',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>栏位名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="data.name" placeholder="栏位名称" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>广告类型</label>
            <div class="layui-input-block">
            	<select id='adType' name="data.adType" lay-verify="required">
                    <option></option>
                    #option("AD_TYPE")
                </select>
            </div>
          </div>
          
          <div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>显示页</label>
			<div class="layui-input-block">
				<select name="data.posType" lay-verify="required">
					<option></option> #option("pos_type")
				</select>
			</div>
		  </div>
          
          <div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>是否显示</label>
			<div class="layui-input-block">
				<select name="data.isShow" lay-verify="required">
					<option></option> #option("YES_NO")
				</select>
			</div>
		  </div>
          
		  <div class="layui-form-item">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <input type="text" id="remarks" name="data.remarks" placeholder="备注信息" class="layui-input" value=""  autocomplete="off"/>
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end