#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/css/zTreeStyle/zTreeStyle.css" type="text/css">
<style>

</style>
#end

#define js()
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript">
var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: zTreeOnClick
        }
    };

    var pid = 0;

    var reloadTable;
    function zTreeOnClick(event, treeId, treeNode) {
        reloadTable(treeNode.id);
    }

    function zTreeReload() {
        util.sendAjax ({
            url : '#(ctxPath)/system/weixin_menu/resTree',
            notice: false,
            success : function(data){
                $.fn.zTree.init($("#tree"), setting, data.data);
            }
        })
    }

    $(document).ready(function(){
        zTreeReload();
    });

    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'wx_menu_name', title: '微信菜单名称', width: 150, align: 'center'}
                , {field: 'wx_menu_operation', title: '微信菜单操作', width: 300, align: 'center'}
                , {field: 'wx_menu_level', title: '微信菜单级别', width: 200, align: 'center', templet: '#dataTpl("WX_MENU_LEVEL", "wx_menu_level")'}
                , {field: 'wx_menu_type', title: '微信菜单类型', width: 200, align: 'center',templet: '#dataTpl("WX_MENU_TYPE", "wx_menu_type")'}                                          
                , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/system/weixin_menu/tableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/system/weixin_menu/delete',
                        data: {id : data.id},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable(pid);
                            zTreeReload();
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                pop_show('编辑','#(ctxPath)/system/weixin_menu/update?id=' + data.id,'','', function(){
                    reloadTable(pid);
                    zTreeReload();
                });
            }
        });

        $("#add").click(function(){
            pop_show('添加','#(ctxPath)/system/weixin_menu/add?pid='+ pid,'','', function(){
                reloadTable(pid);
                zTreeReload();
            });
        });

        reloadTable = function (_pid) {
        	zTreeReload();
        	pid = _pid;
            table.reload('dateTable', {
                url: '#(ctxPath)/system/weixin_menu/tableData'
                ,where: {pid: pid} //设定异步数据接口的额外参数
            });           
        }

  
    });

    $(window).resize(function() {
        $(document).find(".layui-fluid .layui-row div.layui-col-md3").height($(window).height()-50);
    });
</script>
#end

#define content()
    <div class="layui-fluid">
    <div class="layui-col-md3" style="overflow:auto;">
                <ul id="tree" class="ztree"></ul>
    </div>
        <div class="layui-col-md9">
                <div class="layui-btn-group">
                #shiroHasPermission('/system/weixin_menu/add')
                <button id="add" class="layui-btn layui-btn-small">添加</button>
                #end
                <button id="edit" onclick="reloadTable()" class="layui-btn layui-btn-small">刷新</button>
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/system/weixin_menu/update')
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    #end
    #shiroHasPermission('/system/weixin_menu/delete')
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    #end
</script>
#end