#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	layui.use([ 'form', 'layer' ], function() {
		// 操作对象
		var form = layui.form, layer = layui.layer, $ = layui.jquery;

		form.on('submit(sub)', function(data) {
			util.sendAjax({
				type : 'POST',
				url : '#(ctxPath)/system/weixin_menu/postUpdate',
				data : $('#addForm').serialize(),
				loadFlag : true,
				success : function(data) {
					pop_close();
				}
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});
</script>
#end #define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" name="data.id" value="#(data.id ??)">
		<input type="hidden" name="data.pid" value="#(data.pid ??)">
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>微信菜单名称</label>
			<div class="layui-input-block">
				<input type="text" name="data.wxMenuName" placeholder="" class="layui-input"
					value="#(data.wxMenuName ??)" required lay-verify="required" autocomplete="off" />
			</div>
		</div>		
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>微信菜单类型</label>
			<div class="layui-input-block">
				<select name="data.wxMenuType" lay-verify="required" disabled="disabled">
                    <option></option>
                    #option("WX_MENU_TYPE",data.wxMenuType ??)
                </select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>微信菜单操作</label>
			<div class="layui-input-block">
				<input type="text" name="data.wxMenuOperation" placeholder="" class="layui-input"
					value="#(data.wxMenuOperation ??)" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><em class="require-mark">*</em>排序</label>
			<div class="layui-input-block">
				<input type="text" name="data.wxMenuSort" placeholder="" class="layui-input"
					value="#(data.wxMenuSort ??)" required lay-verify="required" autocomplete="off" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<button class="layui-btn" lay-filter="sub" lay-submit>保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</form>
</div>
#end
