#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/game/international/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#uploadPic' //绑定元素
            ,url: '#(resPath)/common/upload/' //上传接口
            ,field: 'file'
            ,data: {func:'app', limit: 100*1024*1024}
            ,size: 100*1024
            ,accept: 'file'
            ,exts: 'apk'
            ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            }
            ,done: function(res){
                if(res.state=='ok') {
                    $("#filePath").val(res.path);
                    $("#versionFile").html('#(resPath)'+res.path);
                } else {
                    layer.msg(res.message);
                }
                //上传完毕回调
                layer.closeAll('loading'); //关闭loading
            }
            ,error: function(){
                //请求异常回调
                layer.closeAll('loading'); //关闭loading
            }
        });
    });
    
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
        <input type="hidden" name="international.id" value="#(international.id ??)">
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>类匹配</label>
            <div class="layui-input-block">
                <input type="text" name="international.typePath" placeholder="类匹配" class="layui-input" value="#(international.typePath ??)"   lay-verify="required" autocomplete="off"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>属性匹配</label>
            <div class="layui-input-block">
                #if(null==annotationList||annotationList.size()<1)
                <input type="text" name="international.fieldPath" placeholder="属性匹配" class="layui-input" value="#(international.fieldPath ??)"   lay-verify="required" autocomplete="off"/>
                #end
                #if(null!=annotationList&&annotationList.size()>0)
                <select id='field_path' name="international.fieldPath" lay-verify="required">
                    <option></option>
                    #for (cat : annotationList)
                    <option #(international.fieldPath==cat ? 'selected' : '') value="#(cat)">#(cat)</option>
                    #end
                </select>
                #end
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">关联Id</label>
            <div class="layui-input-block">
                <input type="text" name="international.mapId" placeholder="关联Id" class="layui-input" value="#(international.mapId ??)"   lay-verify="required" autocomplete="off"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>语言类型</label>
            <div class="layui-input-block">
                <select id='languageType' name="international.languageType" lay-verify="required">
                    <option></option>
                    #option("LANGUAGE_TYPE", 2)
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>国际化内容</label>
            <div class="layui-input-block">
                <textarea name="international.content" placeholder="国际化内容" class="layui-textarea"  lay-verify="required">#(international.content ??)</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>是否生效</label>
            <div class="layui-input-block">
                <select id='enabled' name="international.enabled" lay-verify="required">
                    <option></option>
                    #option("YES_NO", international.enabled)
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>是否逻辑删除</label>
            <div class="layui-input-block">
                <select id='delFlag' name="international.delFlag" lay-verify="required">
                    <option></option>
                    #option("YES_NO", international.delFlag)
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end