#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()

#end

#define content()
<div class="layui-fluid">
    <h3>欢迎登录</h3>
    <br>
    <p></p>
    <p></p>
    <p></p>
</div>

#end