#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">

	layui.use('upload', function(){
		  var upload = layui.upload;
			//拖拽上传
	  upload.render({
	    elem: '#upload'
	    ,url: '/common/upload/exportPath'
	  	,exts: 'txt|TXT' 
	  	,multiple:false
	  	,number:1
	  	,auto:true
	    ,done: function(res){
	    	var path = res.data.src; //绝对路径地址
	    	var relativePath = res.data.relativePath;
	    	var	fileName = res.data.fileName;
	    	$("#txtFile").val(path);
	    	$("#fileName").html("");
	    	$("#fileName").html("文件:"+fileName+"");
	      	console.log(res)
	    }
	  })   
		  
	});

    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){
			var agentSendId = $("#agentSendId").val();
			var path = 	$("#txtFile").val();
			
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/base/delivery/export',
                data: {agentSendId:agentSendId,path:path},
                loadFlag: true,
                success : function(data){
                	pop_close();
                	window.close();
                }
            });

        });
         
    });
    
    
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
		  
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>代理商</label>
            <div class="layui-input-block">
            	<select id="agentSendId" name="agentSendId" required  lay-verify="required" lay-search="">
                    <option></option>
                    #for(x:agentList)
                    	<option value="#(x.id)">#(x.name ??)</option>
                    #end
                </select>
            </div>
          </div>
		  <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>上传文件</label>
            <div class="layui-input-block">
            	<input id="txtFile" name="txtFile" type="hidden" value="" required  lay-verify="required">
            	<div class="layui-upload-drag" id="upload">
				  <i class="layui-icon"></i>
				  <p>点击上传，或将文件拖拽到此处</p>
				</div>
				  <p id="fileName"></p>
				
            </div>
          </div>
          

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="sub" lay-submit>
            	上传
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end