#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    var deliveryId="#(deliveryId)";    
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;
        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'deliveryNo', title: '发货单', width: 120}
                , {field: 'productName', title: '发货商品', width: 100}
                , {field: 'anti_code', title: '防伪码', width: 150}
                , {field: 'logistics_code', title: '物流码', width: 110}
                , {field: 'product_num', title: '商品数量', width: 90}
                , {field: 'credit', title: '积分', width: 80}
                , {field: 'remarks', title: '备注信息', width: 90}               
            ]]
            , url: '#(ctxPath)/base/delivery/deliveryItemTableData?deliveryId='+deliveryId
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

      
        reloadTable = function (deliveryId,product,logisticsCode,antiCode) {
            table.reload('dateTable', {
                url: '#(ctxPath)/base/delivery/deliveryItemTableData'
                ,where: {deliveryId:deliveryId,product: product,logisticsCode: logisticsCode,antiCode: antiCode} //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(deliveryId,data.field.product,data.field.logisticsCode,data.field.antiCode);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        
         form.on('submit(reset)', function(){
        	 location.reload();
             return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        }); 
    });


</script>
#end

#define content()
    <div class="layui-fluid">
        <form id="searchForm" class="layui-form x-center" action="" >
            <div class="layui-form-pane">
                <div class="layui-form-item">
                                        
                    <label class="layui-form-label">商品</label>
		            <div class="layui-input-inline">
		            	<select id="product" name="product" lay-search="">
		                    <option></option>
		                    #for(x:productList)
		                    	<option value="#(x.id)">#(x.name ??)</option>
		                    #end
		                </select>
		            </div>
                    
                    <label class="layui-form-label">物流码</label>
                    <div class="layui-input-inline">
                        <input type="text" id="logisticsCode" name="logisticsCode" placeholder="" class="layui-input"/>
                    </div>
                    
                    <label class="layui-form-label">防伪码</label>
                    <div class="layui-input-inline">
                        <input type="text" id="antiCode" name="antiCode" placeholder="" class="layui-input"/>
                    </div>

                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                    <div class="layui-input-inline" style="width : 10px">
                        <button class="layui-btn"  lay-submit="" lay-filter="reset"><i class="layui-icon">&#xe666;</i>重置</button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="layui-row">
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

#end