#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
	$(function(){
		var exportRecords = $("#exportRecords").val();
		if(exportRecords!=null && exportRecords!=""){
			$("#records").append(exportRecords);
			$("#exportRecords").after("<a href=\"#(realPath)\"  download=\"#(fileName).txt\"><div class=\"layui-btn layui-btn-xs\" style=\"margin-bottom:20px;\" href=\"#(path)\">下载文件</div></a>");
		}
	})
	var path = "";
	
// 	function downloadTxt(obj){
// 		path = $(obj).attr("href");
// 		alert(path);
// 		if(path !=null){
// 			$.ajax({
// 				type: 'POST',
// 	            url: '#(ctxPath)/base/delivery/downloadTxt',
// 	            data: {'path':path},
// 	            loadFlag: true,
// 	            success : function(data){
// 	            }
// 			})
// 		}else{
// 			alert("无文件");
// 		}
// 	}
</script>
#end

#define content()
<div class="x-body">
	<form id="addForm" class="layui-form" action="">
		<input type="hidden" id="exportRecords" value="#(data.exportRecords ??)">
		<h3>#(msg)</h3>
		<div id="records"></div>
	</form>
</div>

	
#end