#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'create_date', title: '发货时间', width: 150}
                , {field: 'agent_send', title: '发货代理', width: 100}
                , {field: 'agent_receive', title: '收货代理', width: 100}
                , {field: 'delivery_no', title: '发货单号', width: 130}
                , {field: 'delivery_status', title: '发货状态', width: 90, templet: '#dataTpl("DELIVERY_STATUS", "delivery_status")'}
                , {field: 'agent_send_level', title: '发货人等级', width: 100}
                , {field: 'agent_receive_level', title: '收货人等级', width: 100}
                , {field: 'credit', title: '积分', width: 100}
                , {field: 'remarks', title: '备注信息', width: 100}
                , {fixed: 'right', title: '操作', width: 300, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/base/delivery/tableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            	
            }
        });

        table.on('tool(dateTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    util.sendAjax ({
                        type: 'POST',
                        url: '#(ctxPath)/base/delivery/delete',
                        data: {id : data.id},
                        loadFlag: true,
                        success : function(data){
                            layer.close(index);
                            reloadTable();
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                pop_show('编辑任务','#(ctxPath)/base/delivery/update?id=' + data.id,'','', function(){
                    reloadTable();
                });
            }else if(obj.event == 'findExport'){
            	pop_show('查看导入记录','#(ctxPath)/base/delivery/findExportRecords?id=' + data.id,'500','', function(){
                    reloadTable();
                });
            }else if(obj.event == 'findDeliveryItem'){
            	pop_show('查看发货单','#(ctxPath)/base/delivery/findDeliveryItem?deliveryId=' + data.id,'','', function(){
                    reloadTable();
                });
            }
        });

        $("#add").click(function(){
            pop_show('添加任务','#(ctxPath)/base/delivery/add','','', function(){
                reloadTable();
            });
        });
        
        $("#export").click(function(){
            pop_show('导入物流码','#(ctxPath)/base/delivery/exportDelivery','600','400', function(){
            	
            });
        });

        reloadTable = function (agentSend,agentReceive,deliveryNo,deliveryStatus) {
            table.reload('dateTable', {
                url: '#(ctxPath)/base/delivery/tableData'
                ,where: {agentSend: agentSend,agentReceive: agentReceive, deliveryNo: deliveryNo,deliveryStatus: deliveryStatus } //设定异步数据接口的额外参数
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.agentSend,data.field.agentReceive,data.field.deliveryNo,data.field.deliveryStatus);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });


</script>
#end

#define content()
    <div class="layui-fluid">
        <form id="searchForm" class="layui-form x-center" action="" >
            <div class="layui-form-pane">
                <div class="layui-form-item">
                    
                    <label class="layui-form-label">发货代理</label>
		            <div class="layui-input-inline">
		            	<select id="agentSend" name="agentSend" lay-search="">
		                    <option></option>
		                    #for(x:agentList)
		                    	<option value="#(x.name)">#(x.name ??)</option>
		                    #end
		                </select>
		            </div>
		            
		            <label class="layui-form-label">收货代理</label>
		            <div class="layui-input-inline">
		            	<select id="agentReceive" name="agentReceive" lay-search="">
		                    <option></option>
		                    #for(x:agentList)
		                    	<option value="#(x.name)">#(x.name ??)</option>
		                    #end
		                </select>
		            </div>
		            
		            <label class="layui-form-label">发货单号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="deliveryNo" name="deliveryNo" placeholder="" class="layui-input"/>
                    </div>
                    
                    <label class="layui-form-label">发货状态</label>
                    <div class="layui-input-inline">
                        <select id='deliveryStatus'  name="deliveryStatus">
		                    <option></option>
		                    #option("DELIVERY_STATUS")
		                </select>
                    </div>
                    

                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                    <div class="layui-input-inline" style="width : 10px">
                        <button class="layui-btn"  lay-submit="" lay-filter="reset"><i class="layui-icon">&#xe666;</i>重置</button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="layui-row">
            <div class="layui-btn-group">
                #shiroHasPermission('/base/delivery/add')
                <button id="add" class="layui-btn layui-btn-small">添加发货</button>
                #end
                <button id="export" class="layui-btn layui-btn-small">导入物流码</button>
                <button id="edit" onclick="reloadTable()" class="layui-btn layui-btn-small">刷新</button>
            </div>
            <table id="dateTable" lay-filter="dateTable"></table>
        </div>
    </div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/base/delivery/update')
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    #end
    #shiroHasPermission('/base/delivery/delete')
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    #end
	<a class="layui-btn layui-btn-xs" lay-event="findExport">查看导入</a>
    <a class="layui-btn layui-btn-xs" lay-event="findDeliveryItem">查看发货单</a>
</script>
#end